# Business Understanding (Problem Understanding)

- Home Credit Default Risk

- Can you predict how capable each applicant is of repaying a loan?

# Data Understanding

![Resim](inputs/home_credit.png)

![Resim](inputs/Resim1.png)

Data description:

https://www.kaggle.com/c/home-credit-default-risk/data

## Reading data

In [1]:
#Libraries
import numpy as np
import pandas as pd 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')


import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
#train set
application_train = pd.read_csv('data/application_train.csv')
print(application_train.shape)
application_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.500,24700.500,351000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,-3648.000,-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,-1134.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.500,35698.500,1129500.000,Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,-1186.000,-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.000,6750.000,135000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,-4260.000,-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.500,29686.500,297000.000,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,-9833.000,-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.000,21865.500,513000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,-4311.000,-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-1106.000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000

In [3]:
application_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [4]:
#test set
application_test = pd.read_csv('data/application_test.csv')
print(application_test.shape)
application_test.head()

(48744, 121)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.000,568800.000,20560.500,450000.000,Unaccompanied,Working,Higher education,Married,House / apartment,0.019,-19241,-2329,-5170.000,-812,nan,1,1,0,1,0,1,NaN,2.000,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.753,0.790,0.160,0.066,0.059,0.973,nan,nan,nan,0.138,0.125,nan,nan,nan,0.051,nan,nan,0.067,0.061,0.973,nan,nan,nan,0.138,0.125,nan,nan,nan,0.053,nan,nan,0.067,0.059,0.973,nan,nan,nan,0.138,0.125,nan,nan,nan,0.051,nan,nan,NaN,block of flats,0.039,"Stone, brick",No,0.000,0.000,0.000,0.000,-1740.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
1,100005,Cash loans,M,N,Y,0,99000.000,222768.000,17370.000,180000.000,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.036,-18064,-4469,-9118.000,-1623,nan,1,1,0,1,0,0,Low-skill Laborers,2.000,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.565,0.292,0.433,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,0.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,3.000
2,100013,Cash loans,M,Y,Y,0,202500.000,663264.000,69777.000,630000.000,NaN,Working,Higher education,Married,House / apartment,0.019,-20038,-4458,-2175.000,-3503,5.000,1,1,0,1,0,0,Drivers,2.000,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,nan,0.700,0.611,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-856.000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,1.000,4.000
3,100028,Cash loans,F,N,Y,2,315000.000,1575000.000,49018.500,1575000.000,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026,-13976,-1866,-2000.000,-4208,nan,1,1,0,1,1,0,Sales staff,4.000,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.526,0.510,0.613,0.305,0.197,0.997,0.959,0.117,0.320,0.276,0.375,0.042,0.204,0.240,0.367,0.039,0.080,0.311,0.205,0.997,0.961,0.118,0.322,0.276,0.375,0.042,0.209,0.263,0.383,0.039,0.085,0.308,0.197,0.997,0.960,0.117,0.320,0.276,0.375,0.042,0.208,0.245,0.374,0.039,0.082,reg oper account,block of flats,0.370,Panel,No,0.000,0.000,0.000,0.000,-1805.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,3.000
4,100038,Cash loans,M,Y,N,1,180000.000,625500.000,32067.000,625500.000,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010,-13040,-2191,-4000.000,-4262,16.000,1,1,1,1,0,0,NaN,3.000,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202,0.426,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-821.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan

In [5]:
# Other tables

In [6]:
#POS_CASH_balance = pd.read_csv('data/POS_CASH_balance.csv')
#credit_card_balance = pd.read_csv('data/credit_card_balance.csv')
#installments_payments = pd.read_csv('data/installments_payments.csv')
#bureau = pd.read_csv('data/bureau.csv')
#bureau_balance = pd.read_csv('data/bureau_balance.csv')
#previous_application = pd.read_csv('data/previous_application.csv')
#sample_submission = pd.read_csv('data/sample_submission.csv')

## Exploratory Data Analysis

### application_train

- Info about loan and loan applicant at application time 

- This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET).

- Static data for all applications. One row represents one loan in our data sample.

In [7]:
# to display all columns:
pd.set_option('display.max_columns', None)
print(application_train.shape)
application_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.500,24700.500,351000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,-3648.000,-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,-1134.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.500,35698.500,1129500.000,Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,-1186.000,-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.000,6750.000,135000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,-4260.000,-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.500,29686.500,297000.000,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,-9833.000,-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.000,21865.500,513000.000,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,-4311.000,-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-1106.000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000

In [8]:
#any duplicate problem with SK_ID_CURR?
application_train["SK_ID_CURR"].value_counts().sum()

307511

In [9]:
#understanding the data with tracking one person

application_train[application_train["SK_ID_CURR"] == 215354]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
99355,215354,0,Cash loans,F,Y,N,0,270000.000,720000.000,21181.500,720000.000,Unaccompanied,Working,Higher education,Married,House / apartment,0.029,-17520,-939,-1203.000,-1064,4.000,1,1,0,1,0,0,Accountants,2.000,2,2,MONDAY,13,0,0,0,0,0,0,Trade: type 7,0.874,0.523,0.231,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,1.000,1.000,1.000,1.000,-1553.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,3.000

In [10]:
#target variable
application_train.TARGET.value_counts(normalize=True)

0   0.919
1   0.081
Name: TARGET, dtype: float64

In [11]:
#numeric variables
application_train.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,307511.000,278180.519,102790.175,100002.000,189145.500,278202.000,367142.500,456255.000
TARGET,307511.000,0.081,0.272,0.000,0.000,0.000,0.000,1.000
CNT_CHILDREN,307511.000,0.417,0.722,0.000,0.000,0.000,1.000,19.000
AMT_INCOME_TOTAL,307511.000,168797.919,237123.146,25650.000,112500.000,147150.000,202500.000,117000000.000
AMT_CREDIT,307511.000,599026.000,402490.777,45000.000,270000.000,513531.000,808650.000,4050000.000
AMT_ANNUITY,307499.000,27108.574,14493.737,1615.500,16524.000,24903.000,34596.000,258025.500
AMT_GOODS_PRICE,307233.000,538396.207,369446.461,40500.000,238500.000,450000.000,679500.000,4050000.000
REGION_POPULATION_RELATIVE,307511.000,0.021,0.014,0.000,0.010,0.019,0.029,0.073
DAYS_BIRTH,307511.000,-16036.995,4363.989,-25229.000,-19682.000,-15750.000,-12413.000,-7489.000
DAYS_EMPLOYED,307511.000,63815.046,141275.767,-17912.000,-2760.000,-1213.000,-289.000,365243.000
DAYS_REGISTRATION,307511.000,-4986.120,3522.886,-24672.000,-7479.500,-4504.000,-2010.000,0.000
DAYS_ID_PUBLISH,307511.000,-2994.202,1509.450,-7197.000,-4299.000,-3254.000,-1720.000,0.000
OWN_CAR_AGE,104582.000,12.061,11.945,0.000,5.000,9.000,15.000,91.000
FLAG_MOBIL,307511.000,1.000,0.002,0.000,1.000,1.000,1.000,1.000
FLAG_EMP_PHONE,307511.000,0.820,0.384,0.000,1.000,1.000,1.000,1.000
FLAG_WORK_PHONE,307511.000,0.199,0.400,0.000,0.000,0.000,0.000,1.000
FLAG_CONT_MOBILE,307511.000,0.998,0.043,0.000,1.000,1.000,1.000,1.000
FLAG_PHONE,307511.000,0.281,0.450,0.000,0.000,0.000,1.000,1.000
FLAG_EMAIL,307511.000,0.057,0.231,0.000,0.000,0.000,0.000,1.000
CNT_FAM_MEMBERS,307509.000,2.153,0.911,1.000,2.000,2.000,3.000,20.000
REGION_RATING_CLIENT,307511.000,2.052,0.509,1.000,2.000,2.000,2.000,3.000
REGION_RATING_CLIENT_W_CITY,307511.000,2.032,0.503,1.000,2.000,2.000,2.000,3.000
HOUR_APPR_PROCESS_START,307511.000,12.063,3.266,0.000,10.000,12.000,14.000,23.000
REG_REGION_NOT_LIVE_REGION,307511.000,0.015,0.122,0.000,0.000,0.000,0.000,1.000
REG_REGION_NOT_WORK_REGION,307511.000,0.051,0.220,0.000,0.000,0.000,0.000,1.000
LIVE_REGION_NOT_WORK_REGION,307511.000,0.041,0.197,0.000,0.000,0.000,0.000,1.000
REG_CITY_NOT_LIVE_CITY,307511.000,0.078,0.268,0.000,0.000,0.000,0.000,1.000
REG_CITY_NOT_WORK_CITY,307511.000,0.230,0.421,0.000,0.000,0.000,0.000,1.000
LIVE_CITY_NOT_WORK_CITY,307511.000,0.180,0.384,0.000,0.000,0.000,0.000,1.000
EXT_SOURCE_1,134133.000,0.502,0.211,0.015,0.334,0.506,0.675,0.963
EXT_SOURCE_2,306851.000,0.514,0.191,0.000,0.392,0.566,0.664,0.855
EXT_SOURCE_3,246546.000,0.511,0.195,0.001,0.371,0.535,0.669,0.896
APARTMENTS_AVG,151450.000,0.117,0.108,0.000,0.058,0.088,0.148,1.000
BASEMENTAREA_AVG,127568.000,0.088,0.082,0.000,0.044,0.076,0.112,1.000
YEARS_BEGINEXPLUATATION_AVG,157504.000,0.978,0.059,0.000,0.977,0.982,0.987,1.000
YEARS_BUILD_AVG,103023.000,0.752,0.113,0.000,0.687,0.755,0.823,1.000
COMMONAREA_AVG,92646.000,0.045,0.076,0.000,0.008,0.021,0.051,1.000
ELEVATORS_AVG,143620.000,0.079,0.135,0.000,0.000,0.000,0.120,1.000
ENTRANCES_AVG,152683.000,0.150,0.100,0.000,0.069,0.138,0.207,1.000
FLOORSMAX_AVG,154491.000,0.226,0.145,0.000,0.167,0.167,0.333,1.000
FLOORSMIN_AVG,98869.000,0.232,0.161,0.000,0.083,0.208,0.375,1.000
LANDAREA_AVG,124921.000,0.066,0.081,0.000,0.019,0.048,0.086,1.000
LIVINGAPARTMENTS_AVG,97312.000,0.101,0.093,0.000,0.050,0.076,0.121,1.000
LIVINGAREA_AVG,153161.000,0.107,0.111,0.000,0.045,0.074,0.130,1.000
NONLIVINGAPARTMENTS_AVG,93997.000,0.009,0.048,0.000,0.000,0.000,0.004,1.000
NONLIVINGAREA_AVG,137829.000,0.028,0.070,0.000,0.000,0.004,0.028,1.000
APARTMENTS_MODE,151450.000,0.114,0.108,0.000,0.052,0.084,0.144,1.000
BASEMENTAREA_MODE,127568.000,0.088,0.084,0.000,0.041,0.075,0.112,1.000
YEARS_BEGINEXPLUATATION_MODE,157504.000,0.977,0.065,0.000,0.977,0.982,0.987,1.000
YEARS_BUILD_MODE,103023.000,0.760,0.110,0.000,0.699,0.765,0.824,1.000
COMMONAREA_MODE,92646.000,0.043,0.074,0.000,0.007,0.019,0.049,1.000
ELEVATORS_MODE,143620.000,0.074,0.132,0.000,0.000,0.000,0.121,1.000
ENTRANCES_MODE,152683.000,0.145,0.101,0.000,0.069,0.138,0.207,1.000
FLOORSMAX_MODE,154491.000,0.222,0.144,0.000,0.167,0.167,0.333,1.000
FLOORSMIN_MODE,98869.000,0.228,0.161,0.000,0.083,0.208,0.375,1.000
LANDAREA_MODE,124921.000,0.065,0.082,0.000,0.017,0.046,0.084,1.000
LIVINGAPARTMENTS_MODE,97312.000,0.106,0.098,0.000,0.054,0.077,0.131,1.000
LIVINGAREA_MODE,153161.000,0.106,0.112,0.000,0.043,0.073,0.125,1.000
NONLIVINGAPARTMENTS_MODE,93997.000,0.008,0.046,0.000,0.000,0.000,0.004,1.000
NONLIVINGAREA_MODE,137829.000,0.027,0.070,0.000,0.000,0.001,0.023,1.000
APARTMENTS_MEDI,151450.000,0.118,0.109,0.000,0.058,0.086,0.149,1.000
BASEMENTAREA_MEDI,127568.000,0.088,0.082,0.000,0.044,0.076,0.112,1.000
YEARS_BEGINEXPLUATATION_MEDI,157504.000,0.978,0.060,0.000,0.977,0.982,0.987,1.000
YEARS_BUILD_MEDI,103023.000,0.756,0.112,0.000,0.691,0.758,0.826,1.000
COMMONAREA_MEDI,92646.000,0.045,0.076,0.000,0.008,0.021,0.051,1.000
ELEVATORS_MEDI,143620.000,0.078,0.134,0.000,0.000,0.000,0.120,1.000
ENTRANCES_MEDI,152683.000,0.149,0.100,0.000,0.069,0.138,0.207,1.000
FLOORSMAX_MEDI,154491.000,0.226,0.145,0.000,0.167,0.167,0.333,1.000
FLOORSMIN_MEDI,98869.000,0.232,0.162,0.000,0.083,0.208,0.375,1.000
LANDAREA_MEDI,124921.000,0.067,0.082,0.000,0.019,0.049,0.087,1.000
LIVINGAPARTMENTS_MEDI,97312.000,0.102,0.094,0.000,0.051,0.076,0.123,1.000
LIVINGAREA_MEDI,153161.000,0.109,0.112,0.000,0.046,0.075,0.130,1.000
NONLIVINGAPARTMENTS_MEDI,93997.000,0.009,0.047,0.000,0.000,0.000,0.004,1.000
NONLIVINGAREA_MEDI,137829.000,0.028,0.070,0.000,0.000,0.003,0.027,1.000
TOTALAREA_MODE,159080.000,0.103,0.107,0.000,0.041,0.069,0.128,1.000
OBS_30_CNT_SOCIAL_CIRCLE,306490.000,1.422,2.401,0.000,0.000,0.000,2.000,348.000
DEF_30_CNT_SOCIAL_CIRCLE,306490.000,0.143,0.447,0.000,0.000,0.000,0.000,34.000
OBS_60_CNT_SOCIAL_CIRCLE,306490.000,1.405,2.380,0.000,0.000,0.000,2.000,344.000
DEF_60_CNT_SOCIAL_CIRCLE,306490.000,0.100,0.362,0.000,0.000,0.000,0.000,24.000
DAYS_LAST_PHONE_CHANGE,307510.000,-962.859,826.808,-4292.000,-1570.000,-757.000,-274.000,0.000
FLAG_DOCUMENT_2,307511.000,0.000,0.007,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_3,307511.000,0.710,0.454,0.000,0.000,1.000,1.000,1.000
FLAG_DOCUMENT_4,307511.000,0.000,0.009,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_5,307511.000,0.015,0.122,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_6,307511.000,0.088,0.283,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_7,307511.000,0.000,0.014,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_8,307511.000,0.081,0.273,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_9,307511.000,0.004,0.062,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_10,307511.000,0.000,0.005,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_11,307511.000,0.004,0.062,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_12,307511.000,0.000,0.003,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_13,307511.000,0.004,0.059,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_14,307511.000,0.003,0.054,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_15,307511.000,0.001,0.035,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_16,307511.000,0.010,0.099,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_17,307511.000,0.000,0.016,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_18,307511.000,0.008,0.090,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_19,307511.000,0.001,0.024,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_20,307511.000,0.001,0.023,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_21,307511.000,0.000,0.018,0.000,0.000,0.000,0.000,1.000
AMT_REQ_CREDIT_BUREAU_HOUR,265992.000,0.006,0.084,0.000,0.000,0.000,0.000,4.000
AMT_REQ_CREDIT_BUREAU_DAY,265992.000,0.007,0.111,0.000,0.000,0.000,0.000,9.000
AMT_REQ_CREDIT_BUREAU_WEEK,265992.000,0.034,0.205,0.000,0.000,0.000,0.000,8.000
AMT_REQ_CREDIT_BUREAU_MON,265992.000,0.267,0.916,0.000,0.000,0.000,0.000,27.000
AMT_REQ_CREDIT_BUREAU_QRT,265992.000,0.265,0.794,0.000,0.000,0.000,0.000,261.000
AMT_REQ_CREDIT_BUREAU_YEAR,265992.000,1.900,1.869,0.000,0.000,1.000,3.000,25.000

In [12]:
#categorical variables
application_train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [13]:
#selecting cols with string matching

In [14]:
application_train['NAME_CONTRACT_TYPE'].value_counts()

Cash loans         278232
Revolving loans     29279
Name: NAME_CONTRACT_TYPE, dtype: int64

In [15]:
application_train['CODE_GENDER'].value_counts()

F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64

In [16]:

(application_train[["TARGET", "NAME_CONTRACT_TYPE", "CODE_GENDER","FLAG_OWN_CAR","FLAG_OWN_REALTY"]]
 .apply(lambda x: print(x.value_counts(), "\n")))

0    282686
1     24825
Name: TARGET, dtype: int64

Cash loans         278232
Revolving loans     29279
Name: NAME_CONTRACT_TYPE, dtype: int64

F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64

N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64

Y    213312
N     94199
Name: FLAG_OWN_REALTY, dtype: int64

TARGET                None
NAME_CONTRACT_TYPE    None
CODE_GENDER           None
FLAG_OWN_CAR          None
FLAG_OWN_REALTY       None
dtype: object

In [17]:
#summarize all categorical variables: function for categorical variables and cat categorical with label encoded (0-1)

In [18]:
def catSummary(df, number_of_classes = 10, num = False):
    
    #summarize all categorical variables
    import pandas as pd
    import numpy as np
    
    var_count = 0
    vars_more_classes = []
    
    for var in df:
        if num == False:
            if df[var].dtype == 'object':
                if len(list(df[var].unique())) <= number_of_classes:
                    print(pd.DataFrame({var: df[var].value_counts(), "RATIO": 100 * df[var].value_counts() / len(df)}),end = "\n\n\n")
                    var_count += 1
                else:
                    vars_more_classes.append(df[var].name)
        else:
            if len(list(df[var].unique())) <= number_of_classes:
                print(pd.DataFrame({var: df[var].value_counts(), "RATIO": 100 * df[var].value_counts() / len(df)}),end = "\n\n\n")
                var_count += 1
            else:
                vars_more_classes.append(df[var].name)
                
    print('%d categorical variables were described' % var_count, end = "\n\n")
    print('Variable names have more than %d classes:' % number_of_classes, end = "\n\n")
    print(vars_more_classes)

In [19]:
catSummary(application_train)

                 NAME_CONTRACT_TYPE  RATIO
Cash loans                   278232 90.479
Revolving loans               29279  9.521


     CODE_GENDER  RATIO
F         202448 65.834
M         105059 34.164
XNA            4  0.001


   FLAG_OWN_CAR  RATIO
N        202924 65.989
Y        104587 34.011


   FLAG_OWN_REALTY  RATIO
Y           213312 69.367
N            94199 30.633


                 NAME_TYPE_SUITE  RATIO
Unaccompanied             248526 80.819
Family                     40149 13.056
Spouse, partner            11370  3.697
Children                    3267  1.062
Other_B                     1770  0.576
Other_A                      866  0.282
Group of people              271  0.088


                      NAME_INCOME_TYPE  RATIO
Working                         158774 51.632
Commercial associate             71617 23.289
Pensioner                        55362 18.003
State servant                    21703  7.058
Unemployed                          22  0.007
Student                             18  0.006
Businessman                         10  0.003
Maternity leave                      5  0.002


                               NAME_EDUCATION_TYPE  RATIO
Secondary / secondary special               218391 71.019
Higher education                             74863 24.345
Incomplete higher                            10277  3.342
Lower secondary                               3816  1.241
Academic degree                                164  0.053


                      NAME_FAMILY_STATUS  RATIO
Married                           196432 63.878
Single / not married               45444 14.778
Civil marriage                     29775  9.683
Separated                          19770  6.429
Widow                              16088  5.232
Unknown                                2  0.001


                     NAME_HOUSING_TYPE  RATIO
House / apartment               272868 88.734
With parents                     14840  4.826
Municipal apartment              11183  3.637
Rented apartment                  4881  1.587
Office apartment                  2617  0.851
Co-op apartment                   1122  0.365


           WEEKDAY_APPR_PROCESS_START  RATIO
TUESDAY                         53901 17.528
WEDNESDAY                       51934 16.889
MONDAY                          50714 16.492
THURSDAY                        50591 16.452
FRIDAY                          50338 16.369
SATURDAY                        33852 11.008
SUNDAY                          16181  5.262


                       FONDKAPREMONT_MODE  RATIO
reg oper account                    73830 24.009
reg oper spec account               12080  3.928
not specified                        5687  1.849
org spec account                     5619  1.827


                  HOUSETYPE_MODE  RATIO
block of flats            150503 48.942
specific housing            1499  0.487
terraced house              1212  0.394


              WALLSMATERIAL_MODE  RATIO
Panel                      66040 21.476
Stone, brick               64815 21.077
Block                       9253  3.009
Wooden                      5362  1.744
Mixed                       2296  0.747
Monolithic                  1779  0.579
Others                      1625  0.528


     EMERGENCYSTATE_MODE  RATIO
No                159428 51.845
Yes                 2328  0.757


14 categorical variables were described

Variable names have more than 10 classes:

['OCCUPATION_TYPE', 'ORGANIZATION_TYPE']

In [20]:
#summarize target according to categorical variables

In [21]:
application_train[["TARGET","FLAG_OWN_REALTY"]].groupby("FLAG_OWN_REALTY")["TARGET"].mean()

FLAG_OWN_REALTY
N   0.083
Y   0.080
Name: TARGET, dtype: float64

In [22]:
application_train[["TARGET","NAME_INCOME_TYPE"]].groupby("NAME_INCOME_TYPE")["TARGET"].mean()

NAME_INCOME_TYPE
Businessman            0.000
Commercial associate   0.075
Maternity leave        0.400
Pensioner              0.054
State servant          0.058
Student                0.000
Unemployed             0.364
Working                0.096
Name: TARGET, dtype: float64

In [23]:
#function for summarize target mean according to all categorical variables

In [24]:
def targetSummaryWithCats(target_name, df, number_of_classes = 10):
    #summarize target mean according to categorical variables
    import pandas as pd
    target_name = df[target_name].name

    for var in df:
        if var != target_name:
            if len(list(df[var].unique())) <= number_of_classes:
                    print(pd.DataFrame({"TARGET_MEAN": df.groupby(var)[target_name].mean()}), end = "\n\n\n")

In [25]:
targetSummaryWithCats("TARGET",application_train)

                    TARGET_MEAN
NAME_CONTRACT_TYPE
Cash loans                0.083
Revolving loans           0.055


             TARGET_MEAN
CODE_GENDER
F                  0.070
M                  0.101
XNA                0.000


              TARGET_MEAN
FLAG_OWN_CAR
N                   0.085
Y                   0.072


                 TARGET_MEAN
FLAG_OWN_REALTY
N                      0.083
Y                      0.080


                 TARGET_MEAN
NAME_TYPE_SUITE
Children               0.074
Family                 0.075
Group of people        0.085
Other_A                0.088
Other_B                0.098
Spouse, partner        0.079
Unaccompanied          0.082


                      TARGET_MEAN
NAME_INCOME_TYPE
Businessman                 0.000
Commercial associate        0.075
Maternity leave             0.400
Pensioner                   0.054
State servant               0.058
Student                     0.000
Unemployed                  0.364
Working                     0.096


                               TARGET_MEAN
NAME_EDUCATION_TYPE
Academic degree                      0.018
Higher education                     0.054
Incomplete higher                    0.085
Lower secondary                      0.109
Secondary / secondary special        0.089


                      TARGET_MEAN
NAME_FAMILY_STATUS
Civil marriage              0.099
Married                     0.076
Separated                   0.082
Single / not married        0.098
Unknown                     0.000
Widow                       0.058


                     TARGET_MEAN
NAME_HOUSING_TYPE
Co-op apartment            0.079
House / apartment          0.078
Municipal apartment        0.085
Office apartment           0.066
Rented apartment           0.123
With parents               0.117


            TARGET_MEAN
FLAG_MOBIL
0                 0.000
1                 0.081


                TARGET_MEAN
FLAG_EMP_PHONE
0                     0.054
1                     0.087


                 TARGET_MEAN
FLAG_WORK_PHONE
0                      0.077
1                      0.096


                  TARGET_MEAN
FLAG_CONT_MOBILE
0                       0.078
1                       0.081


            TARGET_MEAN
FLAG_PHONE
0                 0.085
1                 0.070


            TARGET_MEAN
FLAG_EMAIL
0                 0.081
1                 0.079


                      TARGET_MEAN
REGION_RATING_CLIENT
1                           0.048
2                           0.079
3                           0.111


                             TARGET_MEAN
REGION_RATING_CLIENT_W_CITY
1                                  0.048
2                                  0.079
3                                  0.114


                            TARGET_MEAN
WEEKDAY_APPR_PROCESS_START
FRIDAY                            0.081
MONDAY                            0.078
SATURDAY                          0.079
SUNDAY                            0.079
THURSDAY                          0.081
TUESDAY                           0.084
WEDNESDAY                         0.082


                            TARGET_MEAN
REG_REGION_NOT_LIVE_REGION
0                                 0.081
1                                 0.093


                            TARGET_MEAN
REG_REGION_NOT_WORK_REGION
0                                 0.080
1                                 0.089


                             TARGET_MEAN
LIVE_REGION_NOT_WORK_REGION
0                                  0.081
1                                  0.084


                        TARGET_MEAN
REG_CITY_NOT_LIVE_CITY
0                             0.077
1                             0.122


                        TARGET_MEAN
REG_CITY_NOT_WORK_CITY
0                             0.073
1                             0.106


                         TARGET_MEAN
LIVE_CITY_NOT_WORK_CITY
0                              0.077
1                              0.100


                       TARGET_MEAN
FONDKAPREMONT_MODE
not specified                0.075
org spec account             0.058
reg oper account             0.070
reg oper spec account        0.066


                  TARGET_MEAN
HOUSETYPE_MODE
block of flats          0.069
specific housing        0.101
terraced house          0.085


                    TARGET_MEAN
WALLSMATERIAL_MODE
Block                     0.070
Mixed                     0.075
Monolithic                0.047
Others                    0.083
Panel                     0.063
Stone, brick              0.074
Wooden                    0.097


                     TARGET_MEAN
EMERGENCYSTATE_MODE
No                         0.070
Yes                        0.096


                          TARGET_MEAN
DEF_60_CNT_SOCIAL_CIRCLE
0.000                           0.078
1.000                           0.105
2.000                           0.121
3.000                           0.159
4.000                           0.111
5.000                           0.150
6.000                           0.000
7.000                           0.000
24.000                          0.000


                 TARGET_MEAN
FLAG_DOCUMENT_2
0                      0.081
1                      0.308


                 TARGET_MEAN
FLAG_DOCUMENT_3
0                      0.062
1                      0.088


                 TARGET_MEAN
FLAG_DOCUMENT_4
0                      0.081
1                      0.000


                 TARGET_MEAN
FLAG_DOCUMENT_5
0                      0.081
1                      0.080


                 TARGET_MEAN
FLAG_DOCUMENT_6
0                      0.083
1                      0.056


                 TARGET_MEAN
FLAG_DOCUMENT_7
0                      0.081
1                      0.051


                 TARGET_MEAN
FLAG_DOCUMENT_8
0                      0.081
1                      0.073


                 TARGET_MEAN
FLAG_DOCUMENT_9
0                      0.081
1                      0.062


                  TARGET_MEAN
FLAG_DOCUMENT_10
0                       0.081
1                       0.000


                  TARGET_MEAN
FLAG_DOCUMENT_11
0                       0.081
1                       0.062


                  TARGET_MEAN
FLAG_DOCUMENT_12
0                       0.081
1                       0.000


                  TARGET_MEAN
FLAG_DOCUMENT_13
0                       0.081
1                       0.028


                  TARGET_MEAN
FLAG_DOCUMENT_14
0                       0.081
1                       0.033


                  TARGET_MEAN
FLAG_DOCUMENT_15
0                       0.081
1                       0.030


                  TARGET_MEAN
FLAG_DOCUMENT_16
0                       0.081
1                       0.049


                  TARGET_MEAN
FLAG_DOCUMENT_17
0                       0.081
1                       0.024


                  TARGET_MEAN
FLAG_DOCUMENT_18
0                       0.081
1                       0.057


                  TARGET_MEAN
FLAG_DOCUMENT_19
0                       0.081
1                       0.066


                  TARGET_MEAN
FLAG_DOCUMENT_20
0                       0.081
1                       0.083


                  TARGET_MEAN
FLAG_DOCUMENT_21
0                       0.081
1                       0.136


                            TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_HOUR
0.000                             0.077
1.000                             0.080
2.000                             0.107
3.000                             0.000
4.000                             0.000


                           TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_DAY
0.000                            0.077
1.000                            0.097
2.000                            0.104
3.000                            0.044
4.000                            0.115
5.000                            0.000
6.000                            0.000
8.000                            0.000
9.000                            0.000


                            TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_WEEK
0.000                             0.077
1.000                             0.078
2.000                             0.101
3.000                             0.069
4.000                             0.118
5.000                             0.100
6.000                             0.050
7.000                             0.000
8.000                             0.000

### bureau & bureau balance

- bureau

All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).
For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.

- bureau balance

Monthly balances of previous credits in Credit Bureau.
This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.

In [26]:
bureau = pd.read_csv('data/bureau.csv')
bureau_balance = pd.read_csv('data/bureau_balance.csv')

In [27]:
bureau.shape, bureau_balance.shape

((1716428, 17), (27299925, 3))

In [28]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.000,-153.000,nan,0,91323.000,0.000,nan,0.000,Consumer credit,-131,nan
1,215354,5714463,Active,currency 1,-208,0,1075.000,nan,nan,0,225000.000,171342.000,nan,0.000,Credit card,-20,nan
2,215354,5714464,Active,currency 1,-203,0,528.000,nan,nan,0,464323.500,nan,nan,0.000,Consumer credit,-16,nan
3,215354,5714465,Active,currency 1,-203,0,nan,nan,nan,0,90000.000,nan,nan,0.000,Credit card,-16,nan
4,215354,5714466,Active,currency 1,-629,0,1197.000,nan,77674.500,0,2700000.000,nan,nan,0.000,Consumer credit,-21,nan

In [29]:
catSummary(bureau)

          CREDIT_ACTIVE  RATIO
Closed          1079273 62.879
Active           630607 36.739
Sold               6527  0.380
Bad debt             21  0.001


            CREDIT_CURRENCY  RATIO
currency 1          1715020 99.918
currency 2             1224  0.071
currency 3              174  0.010
currency 4               10  0.001


2 categorical variables were described

Variable names have more than 10 classes:

['CREDIT_TYPE']

In [30]:
#understanding the data with tracking one person

In [31]:
bureau[(bureau["SK_ID_CURR"] == 100002)]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
675684,100002,6158904,Closed,currency 1,-1125,0,-1038.000,-1038.000,nan,0,40761.000,nan,nan,0.000,Credit card,-1038,0.000
675685,100002,6158905,Closed,currency 1,-476,0,nan,-48.000,nan,0,0.000,0.000,nan,0.000,Credit card,-47,nan
675686,100002,6158906,Closed,currency 1,-1437,0,-1072.000,-1185.000,0.000,0,135000.000,0.000,0.000,0.000,Consumer credit,-1185,0.000
675687,100002,6158907,Closed,currency 1,-1121,0,-911.000,-911.000,3321.000,0,19071.000,nan,nan,0.000,Consumer credit,-906,0.000
675688,100002,6158908,Closed,currency 1,-645,0,85.000,-36.000,5043.645,0,120735.000,0.000,0.000,0.000,Consumer credit,-34,0.000
675689,100002,6158909,Active,currency 1,-103,0,nan,nan,40.500,0,31988.565,0.000,31988.565,0.000,Credit card,-24,0.000
1337779,100002,6158903,Active,currency 1,-1042,0,780.000,nan,nan,0,450000.000,245781.000,0.000,0.000,Consumer credit,-7,0.000
1486113,100002,6113835,Closed,currency 1,-1043,0,62.000,-967.000,0.000,0,67500.000,nan,nan,0.000,Credit card,-758,0.000

In [32]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [33]:
bureau_balance[(bureau_balance["SK_ID_BUREAU"] == 6158904)]

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
13472782       6158904             -15      C
13472783       6158904             -16      C
13472784       6158904             -17      0
13472785       6158904             -18      0
13472786       6158904             -19      0
13472787       6158904             -20      1
13472788       6158904             -21      0
13472789       6158904             -22      0
13472790       6158904             -23      0
13472791       6158904             -24      0
13472792       6158904             -25      0
13472793       6158904             -26      0
13472794       6158904             -27      0
13472795       6158904             -28      0
13472796       6158904             -29      0
13472797       6158904             -30      0
13472798       6158904             -31      0
13472799       6158904             -32      0
13472800       6158904             -33      0
13472801       6158904             -34      0
13472802       6158904             -35      0
13472803       6158904             -36      X

In [34]:
#profile_bureau = pp.ProfileReport(bureau, title='Pandas Profiling Report', html={'style':{'full_width':True}})
#profile_bureau.to_file(output_file="bureau_report.html")

In [35]:
#profile_bureau_balance = pp.ProfileReport(bureau_balance, title='Pandas Profiling Report', html={'style':{'full_width':True}})
#profile_bureau_balance.to_file(output_file="bureau_balance_report.html")

### previous_application 

- Application data of client's previous loans in Home Credit

- Info about the previous loan parameters and client info at time of previous application

- One row per previous application

In [36]:
previous_application = pd.read_csv('data/previous_application.csv')

In [37]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.000,17145.000,0.000,17145.000,SATURDAY,15,Y,1,0.000,0.183,0.867,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.000,middle,POS mobile with interest,365243.000,-42.000,300.000,-42.000,-37.000,0.000
1,2802425,108129,Cash loans,25188.615,607500.000,679671.000,nan,607500.000,THURSDAY,11,Y,1,nan,nan,nan,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.000,low_action,Cash X-Sell: low,365243.000,-134.000,916.000,365243.000,365243.000,1.000
2,2523466,122040,Cash loans,15060.735,112500.000,136444.500,nan,112500.000,TUESDAY,11,Y,1,nan,nan,nan,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.000,high,Cash X-Sell: high,365243.000,-271.000,59.000,365243.000,365243.000,1.000
3,2819243,176158,Cash loans,47041.335,450000.000,470790.000,nan,450000.000,MONDAY,7,Y,1,nan,nan,nan,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.000,middle,Cash X-Sell: middle,365243.000,-482.000,-152.000,-182.000,-177.000,1.000
4,1784265,202054,Cash loans,31924.395,337500.000,404055.000,nan,337500.000,THURSDAY,9,Y,1,nan,nan,nan,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.000,high,Cash Street: high,nan,nan,nan,nan,nan,nan

In [38]:
previous_application.shape

(1670214, 37)

In [39]:
catSummary(previous_application)

                 NAME_CONTRACT_TYPE  RATIO
Cash loans                   747553 44.758
Consumer loans               729151 43.656
Revolving loans              193164 11.565
XNA                             346  0.021


           WEEKDAY_APPR_PROCESS_START  RATIO
TUESDAY                        255118 15.275
WEDNESDAY                      255010 15.268
MONDAY                         253557 15.181
FRIDAY                         252048 15.091
THURSDAY                       249099 14.914
SATURDAY                       240631 14.407
SUNDAY                         164751  9.864


   FLAG_LAST_APPL_PER_CONTRACT  RATIO
Y                      1661739 99.493
N                         8475  0.507


              NAME_CONTRACT_STATUS  RATIO
Approved                   1036781 62.075
Canceled                    316319 18.939
Refused                     290678 17.404
Unused offer                 26436  1.583


                                           NAME_PAYMENT_TYPE  RATIO
Cash through the bank                                1033552 61.881
XNA                                                   627384 37.563
Non-cash from your account                              8193  0.491
Cashless from the account of the employer               1085  0.065


        CODE_REJECT_REASON  RATIO
XAP                1353093 81.013
HC                  175231 10.492
LIMIT                55680  3.334
SCO                  37467  2.243
CLIENT               26436  1.583
SCOFR                12811  0.767
XNA                   5244  0.314
VERIF                 3535  0.212
SYSTEM                 717  0.043


                 NAME_TYPE_SUITE  RATIO
Unaccompanied             508970 30.473
Family                    213263 12.769
Spouse, partner            67069  4.016
Children                   31566  1.890
Other_B                    17624  1.055
Other_A                     9077  0.543
Group of people             2240  0.134


           NAME_CLIENT_TYPE  RATIO
Repeater            1231261 73.719
New                  301363 18.043
Refreshed            135649  8.122
XNA                    1941  0.116


       NAME_PORTFOLIO  RATIO
POS            691011 41.373
Cash           461563 27.635
XNA            372230 22.286
Cards          144985  8.681
Cars              425  0.025


         NAME_PRODUCT_TYPE  RATIO
XNA                1063666 63.684
x-sell              456287 27.319
walk-in             150261  8.997


                            CHANNEL_TYPE  RATIO
Credit and cash offices           719968 43.106
Country-wide                      494690 29.618
Stone                             212083 12.698
Regional / Local                  108528  6.498
Contact center                     71297  4.269
AP+ (Cash loan)                    57046  3.415
Channel of corporate sales          6150  0.368
Car dealer                           452  0.027


            NAME_YIELD_GROUP  RATIO
XNA                   517215 30.967
middle                385532 23.083
high                  353331 21.155
low_normal            322095 19.285
low_action             92041  5.511


12 categorical variables were described

Variable names have more than 10 classes:

['NAME_CASH_LOAN_PURPOSE', 'NAME_GOODS_CATEGORY', 'NAME_SELLER_INDUSTRY', 'PRODUCT_COMBINATION']

In [40]:
previous_application[(previous_application["SK_ID_CURR"] == 100002)]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
892077,1038818,100002,Consumer loans,9251.775,179055.000,179055.000,0.000,179055.000,SATURDAY,9,Y,1,0.000,nan,nan,XAP,Approved,-606,XNA,XAP,NaN,New,Vehicles,POS,XNA,Stone,500,Auto technology,24.000,low_normal,POS other with interest,365243.000,-565.000,125.000,-25.000,-17.000,0.000

### POS_CASH_balance 

- Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.

- This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.

In [41]:
POS_CASH_balance = pd.read_csv('data/POS_CASH_balance.csv')
print(POS_CASH_balance.shape)
POS_CASH_balance.head()

(10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.000,45.000,Active,0,0
1,1715348,367990,-33,36.000,35.000,Active,0,0
2,1784872,397406,-32,12.000,9.000,Active,0,0
3,1903291,269225,-35,48.000,42.000,Active,0,0
4,2341044,334279,-35,36.000,35.000,Active,0,0

In [42]:
catSummary(POS_CASH_balance)

                       NAME_CONTRACT_STATUS  RATIO
Active                              9151119 91.499
Completed                            744883  7.448
Signed                                87260  0.872
Demand                                 7065  0.071
Returned to the store                  5461  0.055
Approved                               4917  0.049
Amortized debt                          636  0.006
Canceled                                 15  0.000
XNA                                       2  0.000


1 categorical variables were described

Variable names have more than 10 classes:

[]

In [43]:
POS_CASH_balance[(POS_CASH_balance["SK_ID_CURR"] == 100002)]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
513222,1038818,100002,-13,24.000,18.000,Active,0,0
1216849,1038818,100002,-16,24.000,21.000,Active,0,0
2012884,1038818,100002,-18,24.000,23.000,Active,0,0
5258607,1038818,100002,-17,24.000,22.000,Active,0,0
6543835,1038818,100002,-5,24.000,10.000,Active,0,0
6626366,1038818,100002,-1,24.000,6.000,Active,0,0
7403606,1038818,100002,-14,24.000,19.000,Active,0,0
7601963,1038818,100002,-10,24.000,15.000,Active,0,0
7606684,1038818,100002,-6,24.000,11.000,Active,0,0
7714429,1038818,100002,-4,24.000,9.000,Active,0,0
8473918,1038818,100002,-19,24.000,24.000,Active,0,0
8701895,1038818,100002,-11,24.000,16.000,Active,0,0
9228061,1038818,100002,-12,24.000,17.000,Active,0,0
9510102,1038818,100002,-9,24.000,14.000,Active,0,0
9514583,1038818,100002,-8,24.000,13.000,Active,0,0
9517658,1038818,100002,-7,24.000,12.000,Active,0,0
9792215,1038818,100002,-3,24.000,8.000,Active,0,0
9793374,1038818,100002,-2,24.000,7.000,Active,0,0
9849444,1038818,100002,-15,24.000,20.000,Active,0,0

In [44]:
POS_CASH_balance[(POS_CASH_balance["SK_ID_CURR"] == 100002)].sort_values("MONTHS_BALANCE")

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
8473918,1038818,100002,-19,24.000,24.000,Active,0,0
2012884,1038818,100002,-18,24.000,23.000,Active,0,0
5258607,1038818,100002,-17,24.000,22.000,Active,0,0
1216849,1038818,100002,-16,24.000,21.000,Active,0,0
9849444,1038818,100002,-15,24.000,20.000,Active,0,0
7403606,1038818,100002,-14,24.000,19.000,Active,0,0
513222,1038818,100002,-13,24.000,18.000,Active,0,0
9228061,1038818,100002,-12,24.000,17.000,Active,0,0
8701895,1038818,100002,-11,24.000,16.000,Active,0,0
7601963,1038818,100002,-10,24.000,15.000,Active,0,0
9510102,1038818,100002,-9,24.000,14.000,Active,0,0
9514583,1038818,100002,-8,24.000,13.000,Active,0,0
9517658,1038818,100002,-7,24.000,12.000,Active,0,0
7606684,1038818,100002,-6,24.000,11.000,Active,0,0
6543835,1038818,100002,-5,24.000,10.000,Active,0,0
7714429,1038818,100002,-4,24.000,9.000,Active,0,0
9792215,1038818,100002,-3,24.000,8.000,Active,0,0
9793374,1038818,100002,-2,24.000,7.000,Active,0,0
6626366,1038818,100002,-1,24.000,6.000,Active,0,0

### installments_payments  

- Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.

- There is a) one row for every payment that was made plus b) one row each for missed payment.

- One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.

In [45]:
installments_payments = pd.read_csv('data/installments_payments.csv')
print(installments_payments.shape)
installments_payments.head()

(13605401, 8)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.000,6,-1180.000,-1187.000,6948.360,6948.360
1,1330831,151639,0.000,34,-2156.000,-2156.000,1716.525,1716.525
2,2085231,193053,2.000,1,-63.000,-63.000,25425.000,25425.000
3,2452527,199697,1.000,3,-2418.000,-2426.000,24350.130,24350.130
4,2714724,167756,1.000,2,-1383.000,-1366.000,2165.040,2160.585

In [46]:
installments_payments[(installments_payments["SK_ID_CURR"] == 100002)].sort_values("DAYS_INSTALMENT")

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
2144879,1038818,100002,1.000,1,-565.000,-587.000,9251.775,9251.775
2163032,1038818,100002,1.000,2,-535.000,-562.000,9251.775,9251.775
1675768,1038818,100002,1.000,3,-505.000,-529.000,9251.775,9251.775
3343696,1038818,100002,1.000,4,-475.000,-498.000,9251.775,9251.775
2841063,1038818,100002,1.000,5,-445.000,-468.000,9251.775,9251.775
1807424,1038818,100002,1.000,6,-415.000,-446.000,9251.775,9251.775
3594829,1038818,100002,1.000,7,-385.000,-412.000,9251.775,9251.775
210205,1038818,100002,1.000,8,-355.000,-375.000,9251.775,9251.775
607863,1038818,100002,1.000,9,-325.000,-344.000,9251.775,9251.775
2646927,1038818,100002,1.000,10,-295.000,-312.000,9251.775,9251.775
2785201,1038818,100002,1.000,11,-265.000,-284.000,9251.775,9251.775
504426,1038818,100002,1.000,12,-235.000,-250.000,9251.775,9251.775
699804,1038818,100002,1.000,13,-205.000,-224.000,9251.775,9251.775
740300,1038818,100002,1.000,14,-175.000,-194.000,9251.775,9251.775
1703436,1038818,100002,1.000,15,-145.000,-160.000,9251.775,9251.775
185679,1038818,100002,1.000,16,-115.000,-133.000,9251.775,9251.775
916044,1038818,100002,1.000,17,-85.000,-99.000,9251.775,9251.775
1390511,1038818,100002,1.000,18,-55.000,-67.000,9251.775,9251.775
442432,1038818,100002,2.000,19,-25.000,-49.000,53093.745,53093.745

### credit_card_balance

- Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.

- This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.

In [47]:
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')
print(credit_card_balance.shape)
credit_card_balance.head()

(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.000,877.500,0.000,877.500,1700.325,1800.000,1800.000,0.000,0.000,0.000,0.000,1,0.000,1.000,35.000,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.000,2250.000,0.000,0.000,2250.000,2250.000,2250.000,60175.080,64875.555,64875.555,1.000,1,0.000,0.000,69.000,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,26926.425,31460.085,31460.085,0.000,0,0.000,0.000,30.000,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.000,2250.000,0.000,0.000,11795.760,11925.000,11925.000,224949.285,233048.970,233048.970,1.000,1,0.000,0.000,10.000,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.000,11547.000,0.000,11547.000,22924.890,27000.000,27000.000,443044.395,453919.455,453919.455,0.000,1,0.000,1.000,101.000,Active,0,0

In [48]:
catSummary(credit_card_balance)

               NAME_CONTRACT_STATUS  RATIO
Active                      3698436 96.306
Completed                    128918  3.357
Signed                        11058  0.288
Demand                         1365  0.036
Sent proposal                   513  0.013
Refused                          17  0.000
Approved                          5  0.000


1 categorical variables were described

Variable names have more than 10 classes:

[]

In [49]:
credit_card_balance[(credit_card_balance["SK_ID_CURR"] == 378907)]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.000,877.500,0.000,877.500,1700.325,1800.000,1800.000,0.000,0.000,0.000,0.000,1,0.000,1.000,35.000,Active,0,0
122799,2562384,378907,-30,45328.320,270000,0.000,0.000,0.000,0.000,2332.035,2475.000,2475.000,44165.655,45670.275,45670.275,0.000,0,0.000,0.000,18.000,Active,0,0
153474,2562384,378907,-8,129.240,135000,0.000,22005.000,0.000,22005.000,2250.000,31500.000,31500.000,0.000,0.000,0.000,0.000,1,0.000,1.000,33.000,Active,0,0
330701,2562384,378907,-2,28.575,9000,0.000,0.000,0.000,0.000,1916.910,1916.910,1916.910,0.000,28.575,28.575,0.000,0,0.000,0.000,39.000,Active,0,0
419198,2562384,378907,-12,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
561468,2562384,378907,-39,56570.940,270000,0.000,0.000,0.000,0.000,2761.740,0.000,0.000,53023.140,56570.940,56570.940,0.000,0,0.000,0.000,9.000,Active,6,6
577279,2562384,378907,-27,43030.845,270000,0.000,0.000,0.000,0.000,2250.000,2475.000,2475.000,41996.700,43360.290,43360.290,0.000,0,0.000,0.000,21.000,Active,0,0
596084,2562384,378907,-19,0.000,45000,0.000,0.000,0.000,0.000,281.475,353.610,353.610,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
722949,2562384,378907,-13,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
889286,2562384,378907,-17,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
917059,2562384,378907,-7,1687.365,135000,0.000,1790.145,0.000,1790.145,129.240,232.020,232.020,1687.365,1687.365,1687.365,0.000,1,0.000,1.000,34.000,Active,0,0
986730,2562384,378907,-21,14332.905,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,13920.390,14452.470,14452.470,0.000,0,0.000,0.000,27.000,Active,0,0
1007062,2562384,378907,-29,44749.395,270000,0.000,0.000,0.000,0.000,2292.345,2295.000,2295.000,43551.495,45089.460,45089.460,0.000,0,0.000,0.000,19.000,Active,0,0
1039133,2562384,378907,-44,60736.680,270000,0.000,0.000,0.000,0.000,3291.390,3375.000,3375.000,59078.160,61224.345,61224.345,0.000,0,0.000,0.000,4.000,Active,0,0
1210264,2562384,378907,-23,17579.925,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,17100.225,17723.115,17723.115,0.000,0,0.000,0.000,25.000,Active,0,0
1448236,2562384,378907,-37,49298.310,270000,0.000,0.000,0.000,0.000,2667.825,2700.000,2700.000,47956.770,49693.590,49693.590,0.000,0,0.000,0.000,11.000,Active,0,0
1548947,2562384,378907,-4,4036.860,9000,0.000,900.000,0.000,900.000,2250.000,2250.000,2250.000,3918.555,4036.860,4036.860,0.000,1,0.000,1.000,37.000,Active,0,0
1614906,2562384,378907,-25,20609.010,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,20061.225,20770.875,20770.875,0.000,0,0.000,0.000,23.000,Active,0,0
1663555,2562384,378907,-32,46864.575,270000,0.000,0.000,0.000,0.000,2420.010,2700.000,2700.000,44411.850,47206.530,47206.530,0.000,0,0.000,0.000,16.000,Active,0,0
1679171,2562384,378907,-22,15988.005,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,15530.760,16119.675,16119.675,0.000,0,0.000,0.000,26.000,Active,0,0
1764744,2562384,378907,-42,58743.675,270000,0.000,0.000,0.000,0.000,3194.190,3375.000,3375.000,57133.755,59216.985,59216.985,0.000,0,0.000,0.000,6.000,Active,0,0
1811769,2562384,378907,-48,69186.690,270000,67500.000,67500.000,0.000,0.000,nan,0.000,0.000,67500.000,67841.190,67841.190,1.000,1,0.000,0.000,nan,Active,0,0
1821907,2562384,378907,-5,5228.280,9000,0.000,5229.000,0.000,5229.000,840.780,841.500,841.500,5228.280,5228.280,5228.280,0.000,2,0.000,2.000,36.000,Active,0,0
1845734,2562384,378907,-31,46119.600,270000,0.000,0.000,0.000,0.000,2369.295,2475.000,2475.000,44411.850,46461.555,46461.555,0.000,0,0.000,0.000,17.000,Active,0,0
2021610,2562384,378907,-43,59786.865,270000,0.000,0.000,0.000,0.000,3242.250,3375.000,3375.000,58095.090,60267.735,60267.735,0.000,0,0.000,0.000,5.000,Active,0,0
2029171,2562384,378907,-14,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
2070436,2562384,378907,-3,1897.875,9000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,1825.290,1897.875,1897.875,0.000,0,0.000,0.000,38.000,Active,0,0
2239489,2562384,378907,-41,57725.595,270000,0.000,0.000,0.000,0.000,3141.450,3375.000,3375.000,56079.270,58191.525,58191.525,0.000,0,0.000,0.000,7.000,Active,0,0
2257989,2562384,378907,-10,11112.525,135000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,10884.870,11112.525,11112.525,0.000,0,0.000,0.000,31.000,Active,0,0
2286944,2562384,378907,-36,44956.125,270000,0.000,0.000,0.000,0.000,2629.620,4500.000,4500.000,43592.670,45346.185,45346.185,0.000,0,0.000,0.000,12.000,Active,0,0
2339745,2562384,378907,-9,9169.380,135000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,8976.060,9169.380,9169.380,0.000,0,0.000,0.000,32.000,Active,0,0
2377322,2562384,378907,-35,45877.140,270000,0.000,0.000,0.000,0.000,2501.010,2700.000,2700.000,44620.380,46247.445,46247.445,0.000,0,0.000,0.000,13.000,Active,0,0
2533249,2562384,378907,-20,281.475,270000,0.000,0.000,0.000,0.000,2250.000,14850.000,14850.000,0.000,35.055,35.055,0.000,0,0.000,0.000,28.000,Active,0,0
2584127,2562384,378907,-47,62727.075,270000,0.000,0.000,0.000,0.000,3498.975,4500.000,4500.000,60979.410,63246.825,63246.825,0.000,0,0.000,0.000,1.000,Active,0,0
2648695,2562384,378907,-40,51462.360,270000,0.000,0.000,0.000,0.000,3089.925,8775.000,8775.000,49873.140,51920.145,51920.145,0.000,0,0.000,0.000,8.000,Active,0,0
2653597,2562384,378907,-45,61484.400,270000,0.000,0.000,0.000,0.000,3346.695,3600.000,3600.000,59734.170,61980.255,61980.255,0.000,0,0.000,0.000,3.000,Active,0,0
2736406,2562384,378907,-34,46585.530,270000,0.000,0.000,0.000,0.000,2456.640,4275.000,4275.000,44857.350,46949.895,46949.895,0.000,0,0.000,0.000,14.000,Active,0,0
2853861,2562384,378907,-24,19131.840,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,18594.630,19286.325,19286.325,0.000,0,0.000,0.000,24.000,Active,0,0
2873870,2562384,378907,-15,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
3064061,2562384,378907,-26,22064.355,270000,0.000,0.000,0.000,0.000,2250.000,22500.000,22500.000,21024.045,22387.725,22387.725,0.000,0,0.000,0.000,22.000,Active,0,0
3123527,2562384,378907,-16,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
3205656,2562384,378907,-28,43969.230,270000,0.000,0.000,0.000,0.000,2263.050,2475.000,2475.000,42785.865,44304.570,44304.570,0.000,0,0.000,0.000,20.000,Active,0,0
3284876,2562384,378907,-46,62577.900,270000,0.000,0.000,0.000,0.000,3399.795,3600.000,3600.000,60796.035,63082.080,63082.080,0.000,0,0.000,0.000,2.000,Active,0,0
3486594,2562384,378907,-38,52754.445,270000,0.000,0.000,0.000,0.000,2713.005,5850.000,5850.000,51335.415,53157.240,53157.240,0.000,0,0.000,0.000,10.000,Active,0,0
3568086,2562384,378907,-18,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
3657049,2562384,378907,-33,47879.325,270000,0.000,0.000,0.000,0.000,2355.615,2700.000,2700.000,44411.850,48224.745,48224.745,0.000,0,0.000,0.000,15.000,Active,0,0
3748710,2562384,378907,-11,13002.075,135000,0.000,26640.000,0.000,26640.000,2250.000,13945.500,13945.500,12736.890,13002.075,13002.075,0.000,1,0.000,1.000,30.000,Active,0,0

In [50]:
credit_card_balance[(credit_card_balance["SK_ID_CURR"] == 378907)].sort_values("MONTHS_BALANCE")

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1811769,2562384,378907,-48,69186.690,270000,67500.000,67500.000,0.000,0.000,nan,0.000,0.000,67500.000,67841.190,67841.190,1.000,1,0.000,0.000,nan,Active,0,0
2584127,2562384,378907,-47,62727.075,270000,0.000,0.000,0.000,0.000,3498.975,4500.000,4500.000,60979.410,63246.825,63246.825,0.000,0,0.000,0.000,1.000,Active,0,0
3284876,2562384,378907,-46,62577.900,270000,0.000,0.000,0.000,0.000,3399.795,3600.000,3600.000,60796.035,63082.080,63082.080,0.000,0,0.000,0.000,2.000,Active,0,0
2653597,2562384,378907,-45,61484.400,270000,0.000,0.000,0.000,0.000,3346.695,3600.000,3600.000,59734.170,61980.255,61980.255,0.000,0,0.000,0.000,3.000,Active,0,0
1039133,2562384,378907,-44,60736.680,270000,0.000,0.000,0.000,0.000,3291.390,3375.000,3375.000,59078.160,61224.345,61224.345,0.000,0,0.000,0.000,4.000,Active,0,0
2021610,2562384,378907,-43,59786.865,270000,0.000,0.000,0.000,0.000,3242.250,3375.000,3375.000,58095.090,60267.735,60267.735,0.000,0,0.000,0.000,5.000,Active,0,0
1764744,2562384,378907,-42,58743.675,270000,0.000,0.000,0.000,0.000,3194.190,3375.000,3375.000,57133.755,59216.985,59216.985,0.000,0,0.000,0.000,6.000,Active,0,0
2239489,2562384,378907,-41,57725.595,270000,0.000,0.000,0.000,0.000,3141.450,3375.000,3375.000,56079.270,58191.525,58191.525,0.000,0,0.000,0.000,7.000,Active,0,0
2648695,2562384,378907,-40,51462.360,270000,0.000,0.000,0.000,0.000,3089.925,8775.000,8775.000,49873.140,51920.145,51920.145,0.000,0,0.000,0.000,8.000,Active,0,0
561468,2562384,378907,-39,56570.940,270000,0.000,0.000,0.000,0.000,2761.740,0.000,0.000,53023.140,56570.940,56570.940,0.000,0,0.000,0.000,9.000,Active,6,6
3486594,2562384,378907,-38,52754.445,270000,0.000,0.000,0.000,0.000,2713.005,5850.000,5850.000,51335.415,53157.240,53157.240,0.000,0,0.000,0.000,10.000,Active,0,0
1448236,2562384,378907,-37,49298.310,270000,0.000,0.000,0.000,0.000,2667.825,2700.000,2700.000,47956.770,49693.590,49693.590,0.000,0,0.000,0.000,11.000,Active,0,0
2286944,2562384,378907,-36,44956.125,270000,0.000,0.000,0.000,0.000,2629.620,4500.000,4500.000,43592.670,45346.185,45346.185,0.000,0,0.000,0.000,12.000,Active,0,0
2377322,2562384,378907,-35,45877.140,270000,0.000,0.000,0.000,0.000,2501.010,2700.000,2700.000,44620.380,46247.445,46247.445,0.000,0,0.000,0.000,13.000,Active,0,0
2736406,2562384,378907,-34,46585.530,270000,0.000,0.000,0.000,0.000,2456.640,4275.000,4275.000,44857.350,46949.895,46949.895,0.000,0,0.000,0.000,14.000,Active,0,0
3657049,2562384,378907,-33,47879.325,270000,0.000,0.000,0.000,0.000,2355.615,2700.000,2700.000,44411.850,48224.745,48224.745,0.000,0,0.000,0.000,15.000,Active,0,0
1663555,2562384,378907,-32,46864.575,270000,0.000,0.000,0.000,0.000,2420.010,2700.000,2700.000,44411.850,47206.530,47206.530,0.000,0,0.000,0.000,16.000,Active,0,0
1845734,2562384,378907,-31,46119.600,270000,0.000,0.000,0.000,0.000,2369.295,2475.000,2475.000,44411.850,46461.555,46461.555,0.000,0,0.000,0.000,17.000,Active,0,0
122799,2562384,378907,-30,45328.320,270000,0.000,0.000,0.000,0.000,2332.035,2475.000,2475.000,44165.655,45670.275,45670.275,0.000,0,0.000,0.000,18.000,Active,0,0
1007062,2562384,378907,-29,44749.395,270000,0.000,0.000,0.000,0.000,2292.345,2295.000,2295.000,43551.495,45089.460,45089.460,0.000,0,0.000,0.000,19.000,Active,0,0
3205656,2562384,378907,-28,43969.230,270000,0.000,0.000,0.000,0.000,2263.050,2475.000,2475.000,42785.865,44304.570,44304.570,0.000,0,0.000,0.000,20.000,Active,0,0
577279,2562384,378907,-27,43030.845,270000,0.000,0.000,0.000,0.000,2250.000,2475.000,2475.000,41996.700,43360.290,43360.290,0.000,0,0.000,0.000,21.000,Active,0,0
3064061,2562384,378907,-26,22064.355,270000,0.000,0.000,0.000,0.000,2250.000,22500.000,22500.000,21024.045,22387.725,22387.725,0.000,0,0.000,0.000,22.000,Active,0,0
1614906,2562384,378907,-25,20609.010,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,20061.225,20770.875,20770.875,0.000,0,0.000,0.000,23.000,Active,0,0
2853861,2562384,378907,-24,19131.840,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,18594.630,19286.325,19286.325,0.000,0,0.000,0.000,24.000,Active,0,0
1210264,2562384,378907,-23,17579.925,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,17100.225,17723.115,17723.115,0.000,0,0.000,0.000,25.000,Active,0,0
1679171,2562384,378907,-22,15988.005,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,15530.760,16119.675,16119.675,0.000,0,0.000,0.000,26.000,Active,0,0
986730,2562384,378907,-21,14332.905,270000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,13920.390,14452.470,14452.470,0.000,0,0.000,0.000,27.000,Active,0,0
2533249,2562384,378907,-20,281.475,270000,0.000,0.000,0.000,0.000,2250.000,14850.000,14850.000,0.000,35.055,35.055,0.000,0,0.000,0.000,28.000,Active,0,0
596084,2562384,378907,-19,0.000,45000,0.000,0.000,0.000,0.000,281.475,353.610,353.610,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
3568086,2562384,378907,-18,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
889286,2562384,378907,-17,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
3123527,2562384,378907,-16,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
2873870,2562384,378907,-15,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
2029171,2562384,378907,-14,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
722949,2562384,378907,-13,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
419198,2562384,378907,-12,0.000,45000,0.000,0.000,0.000,0.000,0.000,72.135,72.135,0.000,0.000,0.000,0.000,0,0.000,0.000,29.000,Active,0,0
3748710,2562384,378907,-11,13002.075,135000,0.000,26640.000,0.000,26640.000,2250.000,13945.500,13945.500,12736.890,13002.075,13002.075,0.000,1,0.000,1.000,30.000,Active,0,0
2257989,2562384,378907,-10,11112.525,135000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,10884.870,11112.525,11112.525,0.000,0,0.000,0.000,31.000,Active,0,0
2339745,2562384,378907,-9,9169.380,135000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,8976.060,9169.380,9169.380,0.000,0,0.000,0.000,32.000,Active,0,0
153474,2562384,378907,-8,129.240,135000,0.000,22005.000,0.000,22005.000,2250.000,31500.000,31500.000,0.000,0.000,0.000,0.000,1,0.000,1.000,33.000,Active,0,0
917059,2562384,378907,-7,1687.365,135000,0.000,1790.145,0.000,1790.145,129.240,232.020,232.020,1687.365,1687.365,1687.365,0.000,1,0.000,1.000,34.000,Active,0,0
0,2562384,378907,-6,56.970,135000,0.000,877.500,0.000,877.500,1700.325,1800.000,1800.000,0.000,0.000,0.000,0.000,1,0.000,1.000,35.000,Active,0,0
1821907,2562384,378907,-5,5228.280,9000,0.000,5229.000,0.000,5229.000,840.780,841.500,841.500,5228.280,5228.280,5228.280,0.000,2,0.000,2.000,36.000,Active,0,0
1548947,2562384,378907,-4,4036.860,9000,0.000,900.000,0.000,900.000,2250.000,2250.000,2250.000,3918.555,4036.860,4036.860,0.000,1,0.000,1.000,37.000,Active,0,0
2070436,2562384,378907,-3,1897.875,9000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,1825.290,1897.875,1897.875,0.000,0,0.000,0.000,38.000,Active,0,0
330701,2562384,378907,-2,28.575,9000,0.000,0.000,0.000,0.000,1916.910,1916.910,1916.910,0.000,28.575,28.575,0.000,0,0.000,0.000,39.000,Active,0,0

In [51]:
previous_application[(previous_application["SK_ID_CURR"] == 378907)]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
105263,1095902,378907,Consumer loans,14176.080,276507.000,313006.500,0.000,276507.000,SUNDAY,8,Y,1,0.000,nan,nan,XAP,Approved,-1087,Cash through the bank,XAP,Family,Repeater,Audio/Video,POS,XNA,Country-wide,4000,Consumer electronics,24.000,low_action,POS household without interest,365243.000,-1056.000,-366.000,-366.000,-359.000,0.000
756786,2562384,378907,Revolving loans,13500.000,0.000,270000.000,nan,nan,TUESDAY,8,Y,1,nan,nan,nan,XAP,Approved,-1470,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,0.000,XNA,Card X-Sell,-1464.000,-1432.000,365243.000,365243.000,365243.000,0.000
1036575,2150399,378907,Consumer loans,5469.705,121279.500,121279.500,0.000,121279.500,TUESDAY,16,Y,1,0.000,nan,nan,XAP,Approved,-1568,Cash through the bank,XAP,Unaccompanied,New,Computers,POS,XNA,Country-wide,1200,Consumer electronics,24.000,low_action,POS household without interest,365243.000,-1537.000,-847.000,-847.000,-841.000,0.000

# Data Preparation

Don't worry. The bin is built based on frequency. So a very big or small value doesn't have effect.
And actually, the missing values isn't used in bin building.

https://github.com/guolinke

https://github.com/microsoft/LightGBM/issues/583#issuecomment-305968762

## application_train

**Missing Values**

In [52]:
nmiss = application_train.isnull().sum().sort_values(ascending = False)
ratio = (application_train.isnull().sum()/application_train.isnull().count()*100).sort_values(ascending = False)
missing_df_application_train = pd.concat([nmiss, ratio], axis = 1, keys = ['nmiss', 'ratio'])
missing_df_application_train

                               nmiss  ratio
COMMONAREA_MEDI               214865 69.872
COMMONAREA_AVG                214865 69.872
COMMONAREA_MODE               214865 69.872
NONLIVINGAPARTMENTS_MODE      213514 69.433
NONLIVINGAPARTMENTS_MEDI      213514 69.433
NONLIVINGAPARTMENTS_AVG       213514 69.433
FONDKAPREMONT_MODE            210295 68.386
LIVINGAPARTMENTS_MEDI         210199 68.355
LIVINGAPARTMENTS_MODE         210199 68.355
LIVINGAPARTMENTS_AVG          210199 68.355
FLOORSMIN_MEDI                208642 67.849
FLOORSMIN_MODE                208642 67.849
FLOORSMIN_AVG                 208642 67.849
YEARS_BUILD_MEDI              204488 66.498
YEARS_BUILD_AVG               204488 66.498
YEARS_BUILD_MODE              204488 66.498
OWN_CAR_AGE                   202929 65.991
LANDAREA_MODE                 182590 59.377
LANDAREA_AVG                  182590 59.377
LANDAREA_MEDI                 182590 59.377
BASEMENTAREA_MEDI             179943 58.516
BASEMENTAREA_AVG              179943 58.516
BASEMENTAREA_MODE             179943 58.516
EXT_SOURCE_1                  173378 56.381
NONLIVINGAREA_MEDI            169682 55.179
NONLIVINGAREA_AVG             169682 55.179
NONLIVINGAREA_MODE            169682 55.179
ELEVATORS_MODE                163891 53.296
ELEVATORS_AVG                 163891 53.296
ELEVATORS_MEDI                163891 53.296
WALLSMATERIAL_MODE            156341 50.841
APARTMENTS_MODE               156061 50.750
APARTMENTS_AVG                156061 50.750
APARTMENTS_MEDI               156061 50.750
ENTRANCES_MEDI                154828 50.349
ENTRANCES_MODE                154828 50.349
ENTRANCES_AVG                 154828 50.349
LIVINGAREA_MEDI               154350 50.193
LIVINGAREA_MODE               154350 50.193
LIVINGAREA_AVG                154350 50.193
HOUSETYPE_MODE                154297 50.176
FLOORSMAX_MODE                153020 49.761
FLOORSMAX_MEDI                153020 49.761
FLOORSMAX_AVG                 153020 49.761
YEARS_BEGINEXPLUATATION_MEDI  150007 48.781
YEARS_BEGINEXPLUATATION_AVG   150007 48.781
YEARS_BEGINEXPLUATATION_MODE  150007 48.781
TOTALAREA_MODE                148431 48.269
EMERGENCYSTATE_MODE           145755 47.398
OCCUPATION_TYPE                96391 31.346
EXT_SOURCE_3                   60965 19.825
AMT_REQ_CREDIT_BUREAU_QRT      41519 13.502
AMT_REQ_CREDIT_BUREAU_YEAR     41519 13.502
AMT_REQ_CREDIT_BUREAU_WEEK     41519 13.502
AMT_REQ_CREDIT_BUREAU_MON      41519 13.502
AMT_REQ_CREDIT_BUREAU_DAY      41519 13.502
AMT_REQ_CREDIT_BUREAU_HOUR     41519 13.502
NAME_TYPE_SUITE                 1292  0.420
OBS_30_CNT_SOCIAL_CIRCLE        1021  0.332
OBS_60_CNT_SOCIAL_CIRCLE        1021  0.332
DEF_60_CNT_SOCIAL_CIRCLE        1021  0.332
DEF_30_CNT_SOCIAL_CIRCLE        1021  0.332
EXT_SOURCE_2                     660  0.215
AMT_GOODS_PRICE                  278  0.090
AMT_ANNUITY                       12  0.004
CNT_FAM_MEMBERS                    2  0.001
DAYS_LAST_PHONE_CHANGE             1  0.000
AMT_CREDIT                         0  0.000
FLAG_OWN_CAR                       0  0.000
FLAG_EMAIL                         0  0.000
TARGET                             0  0.000
FLAG_PHONE                         0  0.000
FLAG_CONT_MOBILE                   0  0.000
FLAG_WORK_PHONE                    0  0.000
FLAG_EMP_PHONE                     0  0.000
FLAG_MOBIL                         0  0.000
NAME_CONTRACT_TYPE                 0  0.000
CODE_GENDER                        0  0.000
FLAG_OWN_REALTY                    0  0.000
AMT_INCOME_TOTAL                   0  0.000
DAYS_ID_PUBLISH                    0  0.000
DAYS_REGISTRATION                  0  0.000
DAYS_EMPLOYED                      0  0.000
DAYS_BIRTH                         0  0.000
REGION_POPULATION_RELATIVE         0  0.000
REGION_RATING_CLIENT               0  0.000
NAME_FAMILY_STATUS                 0  0.000
NAME_EDUCATION_TYPE                0  0.000
NAME_INCOME_TYPE                   0  0.000
CNT_CHILDREN                       0  0.000
NAME_HOUSING_TYPE                  0  0.000
REG_REGION_NOT_LIVE_REGION         0  0.000
REGION_RATING_CLIENT_W_CITY        0  0.000
WEEKDAY_APPR_PROCESS_START         0  0.000
FLAG_DOCUMENT_2                    0  0.000
FLAG_DOCUMENT_3                    0  0.000
FLAG_DOCUMENT_4                    0  0.000
FLAG_DOCUMENT_5                    0  0.000
FLAG_DOCUMENT_6                    0  0.000
FLAG_DOCUMENT_7                    0  0.000
FLAG_DOCUMENT_8                    0  0.000
FLAG_DOCUMENT_9                    0  0.000
FLAG_DOCUMENT_10                   0  0.000
FLAG_DOCUMENT_11                   0  0.000
FLAG_DOCUMENT_12                   0  0.000
FLAG_DOCUMENT_13                   0  0.000
FLAG_DOCUMENT_14                   0  0.000
FLAG_DOCUMENT_15                   0  0.000
FLAG_DOCUMENT_16                   0  0.000
FLAG_DOCUMENT_17                   0  0.000
FLAG_DOCUMENT_18                   0  0.000
FLAG_DOCUMENT_19                   0  0.000
FLAG_DOCUMENT_20                   0  0.000
FLAG_DOCUMENT_21                   0  0.000
ORGANIZATION_TYPE                  0  0.000
LIVE_CITY_NOT_WORK_CITY            0  0.000
REG_CITY_NOT_WORK_CITY             0  0.000
REG_CITY_NOT_LIVE_CITY             0  0.000
LIVE_REGION_NOT_WORK_REGION        0  0.000
REG_REGION_NOT_WORK_REGION         0  0.000
HOUR_APPR_PROCESS_START            0  0.000
SK_ID_CURR                         0  0.000

In [53]:
def missingTable(df, by = False, number_of_missing = 0, missing_ratio = 20):
    
    """
    by: specifying sorting method: False, n_miss, ratio
    
    """
    
    n_miss = df.isnull().sum().sort_values(ascending = False)
    ratio = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    missing_df = pd.concat([n_miss, ratio], axis = 1, keys = ['n_miss', 'ratio'])
    
    if by == False:
        return missing_df
    
    elif by == "n_miss":
        
        varCountMissing = missing_df[missing_df["n_miss"]>number_of_missing].index.value_counts().sum()
        print(varCountMissing,"variables have at least",number_of_missing + 1, "value",end = "\n\n\n")
        return missing_df[missing_df["n_miss"]>number_of_missing]
    
    elif by == "ratio":

        varCountRatio = missing_df[missing_df["ratio"]>missing_ratio].index.value_counts().sum()
        print(varCountRatio,"variables have at least",missing_ratio, "% missing value",end = "\n\n\n")
        return missing_df[missing_df["ratio"]>missing_ratio]

In [54]:
missingTable(application_train)

                              n_miss  ratio
COMMONAREA_MEDI               214865 69.872
COMMONAREA_AVG                214865 69.872
COMMONAREA_MODE               214865 69.872
NONLIVINGAPARTMENTS_MODE      213514 69.433
NONLIVINGAPARTMENTS_MEDI      213514 69.433
NONLIVINGAPARTMENTS_AVG       213514 69.433
FONDKAPREMONT_MODE            210295 68.386
LIVINGAPARTMENTS_MEDI         210199 68.355
LIVINGAPARTMENTS_MODE         210199 68.355
LIVINGAPARTMENTS_AVG          210199 68.355
FLOORSMIN_MEDI                208642 67.849
FLOORSMIN_MODE                208642 67.849
FLOORSMIN_AVG                 208642 67.849
YEARS_BUILD_MEDI              204488 66.498
YEARS_BUILD_AVG               204488 66.498
YEARS_BUILD_MODE              204488 66.498
OWN_CAR_AGE                   202929 65.991
LANDAREA_MODE                 182590 59.377
LANDAREA_AVG                  182590 59.377
LANDAREA_MEDI                 182590 59.377
BASEMENTAREA_MEDI             179943 58.516
BASEMENTAREA_AVG              179943 58.516
BASEMENTAREA_MODE             179943 58.516
EXT_SOURCE_1                  173378 56.381
NONLIVINGAREA_MEDI            169682 55.179
NONLIVINGAREA_AVG             169682 55.179
NONLIVINGAREA_MODE            169682 55.179
ELEVATORS_MODE                163891 53.296
ELEVATORS_AVG                 163891 53.296
ELEVATORS_MEDI                163891 53.296
WALLSMATERIAL_MODE            156341 50.841
APARTMENTS_MODE               156061 50.750
APARTMENTS_AVG                156061 50.750
APARTMENTS_MEDI               156061 50.750
ENTRANCES_MEDI                154828 50.349
ENTRANCES_MODE                154828 50.349
ENTRANCES_AVG                 154828 50.349
LIVINGAREA_MEDI               154350 50.193
LIVINGAREA_MODE               154350 50.193
LIVINGAREA_AVG                154350 50.193
HOUSETYPE_MODE                154297 50.176
FLOORSMAX_MODE                153020 49.761
FLOORSMAX_MEDI                153020 49.761
FLOORSMAX_AVG                 153020 49.761
YEARS_BEGINEXPLUATATION_MEDI  150007 48.781
YEARS_BEGINEXPLUATATION_AVG   150007 48.781
YEARS_BEGINEXPLUATATION_MODE  150007 48.781
TOTALAREA_MODE                148431 48.269
EMERGENCYSTATE_MODE           145755 47.398
OCCUPATION_TYPE                96391 31.346
EXT_SOURCE_3                   60965 19.825
AMT_REQ_CREDIT_BUREAU_QRT      41519 13.502
AMT_REQ_CREDIT_BUREAU_YEAR     41519 13.502
AMT_REQ_CREDIT_BUREAU_WEEK     41519 13.502
AMT_REQ_CREDIT_BUREAU_MON      41519 13.502
AMT_REQ_CREDIT_BUREAU_DAY      41519 13.502
AMT_REQ_CREDIT_BUREAU_HOUR     41519 13.502
NAME_TYPE_SUITE                 1292  0.420
OBS_30_CNT_SOCIAL_CIRCLE        1021  0.332
OBS_60_CNT_SOCIAL_CIRCLE        1021  0.332
DEF_60_CNT_SOCIAL_CIRCLE        1021  0.332
DEF_30_CNT_SOCIAL_CIRCLE        1021  0.332
EXT_SOURCE_2                     660  0.215
AMT_GOODS_PRICE                  278  0.090
AMT_ANNUITY                       12  0.004
CNT_FAM_MEMBERS                    2  0.001
DAYS_LAST_PHONE_CHANGE             1  0.000
AMT_CREDIT                         0  0.000
FLAG_OWN_CAR                       0  0.000
FLAG_EMAIL                         0  0.000
TARGET                             0  0.000
FLAG_PHONE                         0  0.000
FLAG_CONT_MOBILE                   0  0.000
FLAG_WORK_PHONE                    0  0.000
FLAG_EMP_PHONE                     0  0.000
FLAG_MOBIL                         0  0.000
NAME_CONTRACT_TYPE                 0  0.000
CODE_GENDER                        0  0.000
FLAG_OWN_REALTY                    0  0.000
AMT_INCOME_TOTAL                   0  0.000
DAYS_ID_PUBLISH                    0  0.000
DAYS_REGISTRATION                  0  0.000
DAYS_EMPLOYED                      0  0.000
DAYS_BIRTH                         0  0.000
REGION_POPULATION_RELATIVE         0  0.000
REGION_RATING_CLIENT               0  0.000
NAME_FAMILY_STATUS                 0  0.000
NAME_EDUCATION_TYPE                0  0.000
NAME_INCOME_TYPE                   0  0.000
CNT_CHILDREN                       0  0.000
NAME_HOUSING_TYPE                  0  0.000
REG_REGION_NOT_LIVE_REGION         0  0.000
REGION_RATING_CLIENT_W_CITY        0  0.000
WEEKDAY_APPR_PROCESS_START         0  0.000
FLAG_DOCUMENT_2                    0  0.000
FLAG_DOCUMENT_3                    0  0.000
FLAG_DOCUMENT_4                    0  0.000
FLAG_DOCUMENT_5                    0  0.000
FLAG_DOCUMENT_6                    0  0.000
FLAG_DOCUMENT_7                    0  0.000
FLAG_DOCUMENT_8                    0  0.000
FLAG_DOCUMENT_9                    0  0.000
FLAG_DOCUMENT_10                   0  0.000
FLAG_DOCUMENT_11                   0  0.000
FLAG_DOCUMENT_12                   0  0.000
FLAG_DOCUMENT_13                   0  0.000
FLAG_DOCUMENT_14                   0  0.000
FLAG_DOCUMENT_15                   0  0.000
FLAG_DOCUMENT_16                   0  0.000
FLAG_DOCUMENT_17                   0  0.000
FLAG_DOCUMENT_18                   0  0.000
FLAG_DOCUMENT_19                   0  0.000
FLAG_DOCUMENT_20                   0  0.000
FLAG_DOCUMENT_21                   0  0.000
ORGANIZATION_TYPE                  0  0.000
LIVE_CITY_NOT_WORK_CITY            0  0.000
REG_CITY_NOT_WORK_CITY             0  0.000
REG_CITY_NOT_LIVE_CITY             0  0.000
LIVE_REGION_NOT_WORK_REGION        0  0.000
REG_REGION_NOT_WORK_REGION         0  0.000
HOUR_APPR_PROCESS_START            0  0.000
SK_ID_CURR                         0  0.000

In [55]:
#yuzde ondan kucuk olanlar ve bazı ozel degiskenlerin isimlerini alalim

In [56]:
var1 = missing_df_application_train[(missing_df_application_train["ratio"]<10)].index

In [57]:
var2 = application_train.loc[:,["EXT_SOURCE_1","EXT_SOURCE_3","AMT_REQ_CREDIT_BUREAU_YEAR"]].columns

In [58]:
all_vars = list(var1)
for i in var2:
    all_vars.append(i)

In [59]:
application_train[all_vars].head()

,NAME_TYPE_SUITE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,DAYS_LAST_PHONE_CHANGE,AMT_CREDIT,FLAG_OWN_CAR,FLAG_EMAIL,TARGET,FLAG_PHONE,FLAG_CONT_MOBILE,FLAG_WORK_PHONE,FLAG_EMP_PHONE,FLAG_MOBIL,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,DAYS_ID_PUBLISH,DAYS_REGISTRATION,DAYS_EMPLOYED,DAYS_BIRTH,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,NAME_FAMILY_STATUS,NAME_EDUCATION_TYPE,NAME_INCOME_TYPE,CNT_CHILDREN,NAME_HOUSING_TYPE,REG_REGION_NOT_LIVE_REGION,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,ORGANIZATION_TYPE,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVE_REGION_NOT_WORK_REGION,REG_REGION_NOT_WORK_REGION,HOUR_APPR_PROCESS_START,SK_ID_CURR,EXT_SOURCE_1,EXT_SOURCE_3,AMT_REQ_CREDIT_BUREAU_YEAR
0,Unaccompanied,2.000,2.000,2.000,2.000,0.263,351000.000,24700.500,1.000,-1134.000,406597.500,N,0,1,1,1,0,1,1,Cash loans,M,Y,202500.000,-2120,-3648.000,-637,-9461,0.019,2,Single / not married,Secondary / secondary special,Working,0,House / apartment,0,2,WEDNESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,10,100002,0.083,0.139,1.000
1,Family,1.000,1.000,0.000,0.000,0.622,1129500.000,35698.500,2.000,-828.000,1293502.500,N,0,0,1,1,0,1,1,Cash loans,F,N,270000.000,-291,-1186.000,-1188,-16765,0.004,1,Married,Higher education,State servant,0,House / apartment,0,1,MONDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,School,0,0,0,0,0,11,100003,0.311,nan,0.000
2,Unaccompanied,0.000,0.000,0.000,0.000,0.556,135000.000,6750.000,1.000,-815.000,135000.000,Y,0,0,1,1,1,1,1,Revolving loans,M,Y,67500.000,-2531,-4260.000,-225,-19046,0.010,2,Single / not married,Secondary / secondary special,Working,0,House / apartment,0,2,MONDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Government,0,0,0,0,0,9,100004,nan,0.730,0.000
3,Unaccompanied,2.000,2.000,0.000,0.000,0.650,297000.000,29686.500,2.000,-617.000,312682.500,N,0,0,0,1,0,1,1,Cash loans,F,Y,135000.000,-2437,-9833.000,-3039,-19005,0.008,2,Civil marriage,Secondary / secondary special,Working,0,House / apartment,0,2,WEDNESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,17,100006,nan,nan,nan
4,Unaccompanied,0.000,0.000,0.000,0.000,0.323,513000.000,21865.500,1.000,-1106.000,513000.000,N,0,0,0,1,0,1,1,Cash loans,M,Y,121500.000,-3458,-4311.000,-3038,-19932,0.029,2,Single / not married,Secondary / secondary special,Working,0,House / apartment,0,2,THURSDAY,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Religion,1,1,0,0,0,11,100007,nan,nan,0.000

In [60]:
#secilen degiskenlerle yeni train
pre_train = application_train[all_vars]

In [61]:
#secilen degiskenlerle yeni test
all_vars_test = all_vars.copy()
all_vars_test.remove("TARGET")

In [62]:
pre_test = application_test[all_vars_test]

In [63]:
print(pre_train.shape, pre_test.shape)

(307511, 68) (48744, 67)

In [64]:
all_data = [pre_train, pre_test]

**Outliers**

In [65]:
pre_train.describe([0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).T

,count,mean,std,min,5%,10%,25%,50%,75%,90%,95%,99%,max
OBS_30_CNT_SOCIAL_CIRCLE,306490.000,1.422,2.401,0.000,0.000,0.000,0.000,0.000,2.000,4.000,6.000,10.000,348.000
OBS_60_CNT_SOCIAL_CIRCLE,306490.000,1.405,2.380,0.000,0.000,0.000,0.000,0.000,2.000,4.000,6.000,10.000,344.000
DEF_60_CNT_SOCIAL_CIRCLE,306490.000,0.100,0.362,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,2.000,24.000
DEF_30_CNT_SOCIAL_CIRCLE,306490.000,0.143,0.447,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,2.000,34.000
EXT_SOURCE_2,306851.000,0.514,0.191,0.000,0.133,0.216,0.392,0.566,0.664,0.722,0.748,0.783,0.855
AMT_GOODS_PRICE,307233.000,538396.207,369446.461,40500.000,135000.000,180000.000,238500.000,450000.000,679500.000,1093500.000,1305000.000,1800000.000,4050000.000
AMT_ANNUITY,307499.000,27108.574,14493.737,1615.500,9000.000,11074.500,16524.000,24903.000,34596.000,45954.000,53325.000,70006.500,258025.500
CNT_FAM_MEMBERS,307509.000,2.153,0.911,1.000,1.000,1.000,2.000,2.000,3.000,3.000,4.000,5.000,20.000
DAYS_LAST_PHONE_CHANGE,307510.000,-962.859,826.808,-4292.000,-2522.000,-2158.000,-1570.000,-757.000,-274.000,0.000,0.000,0.000,0.000
AMT_CREDIT,307511.000,599026.000,402490.777,45000.000,135000.000,180000.000,270000.000,513531.000,808650.000,1133748.000,1350000.000,1854000.000,4050000.000
FLAG_EMAIL,307511.000,0.057,0.231,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
TARGET,307511.000,0.081,0.272,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
FLAG_PHONE,307511.000,0.281,0.450,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,1.000,1.000
FLAG_CONT_MOBILE,307511.000,0.998,0.043,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
FLAG_WORK_PHONE,307511.000,0.199,0.400,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,1.000
FLAG_EMP_PHONE,307511.000,0.820,0.384,0.000,0.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
FLAG_MOBIL,307511.000,1.000,0.002,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
AMT_INCOME_TOTAL,307511.000,168797.919,237123.146,25650.000,67500.000,81000.000,112500.000,147150.000,202500.000,270000.000,337500.000,472500.000,117000000.000
DAYS_ID_PUBLISH,307511.000,-2994.202,1509.450,-7197.000,-4944.000,-4724.000,-4299.000,-3254.000,-1720.000,-730.000,-375.000,-61.000,0.000
DAYS_REGISTRATION,307511.000,-4986.120,3522.886,-24672.000,-11416.000,-9932.000,-7479.500,-4504.000,-2010.000,-690.000,-330.000,-50.000,0.000
DAYS_EMPLOYED,307511.000,63815.046,141275.767,-17912.000,-6742.500,-4881.000,-2760.000,-1213.000,-289.000,365243.000,365243.000,365243.000,365243.000
DAYS_BIRTH,307511.000,-16036.995,4363.989,-25229.000,-23204.000,-22181.000,-19682.000,-15750.000,-12413.000,-10284.000,-9407.000,-8263.000,-7489.000
REGION_POPULATION_RELATIVE,307511.000,0.021,0.014,0.000,0.005,0.007,0.010,0.019,0.029,0.036,0.046,0.073,0.073
REGION_RATING_CLIENT,307511.000,2.052,0.509,1.000,1.000,1.000,2.000,2.000,2.000,3.000,3.000,3.000,3.000
CNT_CHILDREN,307511.000,0.417,0.722,0.000,0.000,0.000,0.000,0.000,1.000,2.000,2.000,3.000,19.000
REG_REGION_NOT_LIVE_REGION,307511.000,0.015,0.122,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000
REGION_RATING_CLIENT_W_CITY,307511.000,2.032,0.503,1.000,1.000,1.000,2.000,2.000,2.000,3.000,3.000,3.000,3.000
FLAG_DOCUMENT_2,307511.000,0.000,0.007,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_3,307511.000,0.710,0.454,0.000,0.000,0.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000
FLAG_DOCUMENT_4,307511.000,0.000,0.009,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_5,307511.000,0.015,0.122,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000
FLAG_DOCUMENT_6,307511.000,0.088,0.283,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
FLAG_DOCUMENT_7,307511.000,0.000,0.014,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_8,307511.000,0.081,0.273,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
FLAG_DOCUMENT_9,307511.000,0.004,0.062,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_10,307511.000,0.000,0.005,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_11,307511.000,0.004,0.062,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_12,307511.000,0.000,0.003,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_13,307511.000,0.004,0.059,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_14,307511.000,0.003,0.054,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_15,307511.000,0.001,0.035,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_16,307511.000,0.010,0.099,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_17,307511.000,0.000,0.016,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_18,307511.000,0.008,0.090,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_19,307511.000,0.001,0.024,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_20,307511.000,0.001,0.023,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
FLAG_DOCUMENT_21,307511.000,0.000,0.018,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
LIVE_CITY_NOT_WORK_CITY,307511.000,0.180,0.384,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,1.000
REG_CITY_NOT_WORK_CITY,307511.000,0.230,0.421,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,1.000
REG_CITY_NOT_LIVE_CITY,307511.000,0.078,0.268,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
LIVE_REGION_NOT_WORK_REGION,307511.000,0.041,0.197,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000
REG_REGION_NOT_WORK_REGION,307511.000,0.051,0.220,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000
HOUR_APPR_PROCESS_START,307511.000,12.063,3.266,0.000,7.000,8.000,10.000,12.000,14.000,16.000,17.000,19.000,23.000
SK_ID_CURR,307511.000,278180.519,102790.175,100002.000,117945.500,135692.000,189145.500,278202.000,367142.500,420729.000,438427.500,452712.900,456255.000
EXT_SOURCE_1,134133.000,0.502,0.211,0.015,0.158,0.213,0.334,0.506,0.675,0.787,0.832,0.889,0.963
EXT_SOURCE_3,246546.000,0.511,0.195,0.001,0.155,0.228,0.371,0.535,0.669,0.749,0.786,0.833,0.896
AMT_REQ_CREDIT_BUREAU_YEAR,265992.000,1.900,1.869,0.000,0.000,0.000,0.000,1.000,3.000,4.000,6.000,8.000,25.000

In [66]:
pre_train_o = pre_train.copy()
pre_test_o = pre_test.copy()

In [67]:
def hasVarOutliers(df):
    for var in df:
        if var != "SK_ID_CURR":
            if df[var].dtype != 'object':
                if len(list(df[var].unique())) > 10:
                    
                    Q1 = df[var].quantile(0.01)
                    Q3 = df[var].quantile(0.99)
                    IQR = Q3-Q1
                    lower = Q1- 1.5*IQR
                    upper = Q3 + 1.5*IQR
                    
                    if df[(df[var] > upper)].any(axis=None):
                        print(var,"----HAS OUTLIERS")

In [68]:
hasVarOutliers(pre_train_o)

OBS_30_CNT_SOCIAL_CIRCLE ----HAS OUTLIERS
OBS_60_CNT_SOCIAL_CIRCLE ----HAS OUTLIERS
DEF_30_CNT_SOCIAL_CIRCLE ----HAS OUTLIERS
AMT_ANNUITY ----HAS OUTLIERS
CNT_FAM_MEMBERS ----HAS OUTLIERS
AMT_INCOME_TOTAL ----HAS OUTLIERS
CNT_CHILDREN ----HAS OUTLIERS
AMT_REQ_CREDIT_BUREAU_YEAR ----HAS OUTLIERS

In [69]:
hasVarOutliers(pre_test_o)

OBS_30_CNT_SOCIAL_CIRCLE ----HAS OUTLIERS
OBS_60_CNT_SOCIAL_CIRCLE ----HAS OUTLIERS
CNT_FAM_MEMBERS ----HAS OUTLIERS
AMT_INCOME_TOTAL ----HAS OUTLIERS
CNT_CHILDREN ----HAS OUTLIERS

In [70]:
def fillOutliers(data):
    df = data.copy()
    for var in df:
        if var != "SK_ID_CURR":
            if df[var].dtype != 'object':
                if len(list(df[var].unique())) > 10:
                    
                    Q1 = df[var].quantile(0.01)
                    Q3 = df[var].quantile(0.99)
                    IQR = Q3-Q1
                    lower = Q1- 1.5*IQR
                    upper = Q3 + 1.5*IQR
                    
                    if df[(df[var] > upper)].any(axis=None):
                        maks = df[var].max()
                        minn = df[var].min()
                        
                        df[var][(df[var] > (upper))] = upper       
                        #df[var][(df[var] < (lower))] = lower 
                        print(var,"Differences Between Max and Upper:",str(maks-upper),"upper:",upper)
                        #print(var,"Differences Between Min and lower",str(minn-lower))
    return df

In [71]:
pre_train_o = fillOutliers(pre_train_o)

OBS_30_CNT_SOCIAL_CIRCLE Differences Between Max and Upper: 323.0 upper: 25.0
OBS_60_CNT_SOCIAL_CIRCLE Differences Between Max and Upper: 319.0 upper: 25.0
DEF_30_CNT_SOCIAL_CIRCLE Differences Between Max and Upper: 29.0 upper: 5.0
AMT_ANNUITY Differences Between Max and Upper: 92283.61499999999 upper: 165741.885
CNT_FAM_MEMBERS Differences Between Max and Upper: 9.0 upper: 11.0
AMT_INCOME_TOTAL Differences Between Max and Upper: 115886250.0 upper: 1113750.0
CNT_CHILDREN Differences Between Max and Upper: 11.5 upper: 7.5
AMT_REQ_CREDIT_BUREAU_YEAR Differences Between Max and Upper: 5.0 upper: 20.0

In [72]:
pre_test_o = fillOutliers(pre_test_o)

OBS_30_CNT_SOCIAL_CIRCLE Differences Between Max and Upper: 329.0 upper: 25.0
OBS_60_CNT_SOCIAL_CIRCLE Differences Between Max and Upper: 326.0 upper: 25.0
CNT_FAM_MEMBERS Differences Between Max and Upper: 10.0 upper: 11.0
AMT_INCOME_TOTAL Differences Between Max and Upper: 3197250.0 upper: 1212750.0
CNT_CHILDREN Differences Between Max and Upper: 12.5 upper: 7.5

In [73]:
#upper'a gore örnek sorgulama yapalım

In [74]:
#islenmeden onceki durumuna bakalım
pre_train[["AMT_ANNUITY","AMT_INCOME_TOTAL","AMT_REQ_CREDIT_BUREAU_YEAR","CNT_CHILDREN","CNT_FAM_MEMBERS","OBS_30_CNT_SOCIAL_CIRCLE","OBS_60_CNT_SOCIAL_CIRCLE"]].describe([0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).T

,count,mean,std,min,5%,10%,25%,50%,75%,90%,95%,99%,max
AMT_ANNUITY,307499.000,27108.574,14493.737,1615.500,9000.000,11074.500,16524.000,24903.000,34596.000,45954.000,53325.000,70006.500,258025.500
AMT_INCOME_TOTAL,307511.000,168797.919,237123.146,25650.000,67500.000,81000.000,112500.000,147150.000,202500.000,270000.000,337500.000,472500.000,117000000.000
AMT_REQ_CREDIT_BUREAU_YEAR,265992.000,1.900,1.869,0.000,0.000,0.000,0.000,1.000,3.000,4.000,6.000,8.000,25.000
CNT_CHILDREN,307511.000,0.417,0.722,0.000,0.000,0.000,0.000,0.000,1.000,2.000,2.000,3.000,19.000
CNT_FAM_MEMBERS,307509.000,2.153,0.911,1.000,1.000,1.000,2.000,2.000,3.000,3.000,4.000,5.000,20.000
OBS_30_CNT_SOCIAL_CIRCLE,306490.000,1.422,2.401,0.000,0.000,0.000,0.000,0.000,2.000,4.000,6.000,10.000,348.000
OBS_60_CNT_SOCIAL_CIRCLE,306490.000,1.405,2.380,0.000,0.000,0.000,0.000,0.000,2.000,4.000,6.000,10.000,344.000

In [75]:
pre_train_o[["AMT_ANNUITY","AMT_INCOME_TOTAL","AMT_REQ_CREDIT_BUREAU_YEAR","CNT_CHILDREN","CNT_FAM_MEMBERS","OBS_30_CNT_SOCIAL_CIRCLE","OBS_60_CNT_SOCIAL_CIRCLE"]].describe([0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).T

,count,mean,std,min,5%,10%,25%,50%,75%,90%,95%,99%,max
AMT_ANNUITY,307499.000,27101.216,14409.519,1615.500,9000.000,11074.500,16524.000,24903.000,34596.000,45954.000,53325.000,70006.500,165741.885
AMT_INCOME_TOTAL,307511.000,167946.428,93506.119,25650.000,67500.000,81000.000,112500.000,147150.000,202500.000,270000.000,337500.000,472500.000,1113750.000
AMT_REQ_CREDIT_BUREAU_YEAR,265992.000,1.900,1.869,0.000,0.000,0.000,0.000,1.000,3.000,4.000,6.000,8.000,20.000
CNT_CHILDREN,307511.000,0.417,0.719,0.000,0.000,0.000,0.000,0.000,1.000,2.000,2.000,3.000,7.500
CNT_FAM_MEMBERS,307509.000,2.153,0.909,1.000,1.000,1.000,2.000,2.000,3.000,3.000,4.000,5.000,11.000
OBS_30_CNT_SOCIAL_CIRCLE,306490.000,1.421,2.316,0.000,0.000,0.000,0.000,0.000,2.000,4.000,6.000,10.000,25.000
OBS_60_CNT_SOCIAL_CIRCLE,306490.000,1.404,2.296,0.000,0.000,0.000,0.000,0.000,2.000,4.000,6.000,10.000,25.000

In [76]:
#baskilanmis olan degerlerin kac tane olduguna ve ortalamasına ve medyanına bakalım
pre_train[pre_train["AMT_ANNUITY"] > 165741]["AMT_ANNUITY"].agg({ "count", "mean","median"})

median   213291.000
count        58.000
mean     204749.534
Name: AMT_ANNUITY, dtype: float64

In [77]:
#degerlerin kendilerine bakalım
pre_train[pre_train["AMT_ANNUITY"] > 165741]

,NAME_TYPE_SUITE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,DAYS_LAST_PHONE_CHANGE,AMT_CREDIT,FLAG_OWN_CAR,FLAG_EMAIL,TARGET,FLAG_PHONE,FLAG_CONT_MOBILE,FLAG_WORK_PHONE,FLAG_EMP_PHONE,FLAG_MOBIL,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,DAYS_ID_PUBLISH,DAYS_REGISTRATION,DAYS_EMPLOYED,DAYS_BIRTH,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,NAME_FAMILY_STATUS,NAME_EDUCATION_TYPE,NAME_INCOME_TYPE,CNT_CHILDREN,NAME_HOUSING_TYPE,REG_REGION_NOT_LIVE_REGION,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,ORGANIZATION_TYPE,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVE_REGION_NOT_WORK_REGION,REG_REGION_NOT_WORK_REGION,HOUR_APPR_PROCESS_START,SK_ID_CURR,EXT_SOURCE_1,EXT_SOURCE_3,AMT_REQ_CREDIT_BUREAU_YEAR
12108,Unaccompanied,0.000,0.000,0.000,0.000,0.751,2250000.000,225000.000,2.000,-306.000,2250000.000,Y,0,0,1,1,0,1,1,Revolving loans,M,Y,1080000.000,-4430,-2788.000,-6281,-15323,0.073,1,Married,Higher education,Commercial associate,0,House / apartment,0,1,WEDNESDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Bank,0,0,0,0,0,19,114122,nan,nan,0.000
14643,Unaccompanied,0.000,0.000,0.000,0.000,0.778,3825000.000,197230.500,4.000,-470.000,3956274.000,Y,0,0,1,1,1,1,1,Cash loans,F,N,749331.000,-2680,-840.000,-989,-19161,0.031,2,Married,Higher education,Commercial associate,2,House / apartment,0,2,MONDAY,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,15,117085,0.833,0.655,1.000
15501,Unaccompanied,0.000,0.000,0.000,0.000,0.795,2250000.000,225000.000,2.000,-308.000,2250000.000,Y,0,0,0,1,0,1,1,Revolving loans,F,Y,270000.000,-3131,-10406.000,-12615,-19672,0.010,2,Married,Higher education,Commercial associate,0,Rented apartment,0,1,SATURDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Industry: type 9,0,0,0,0,0,12,118093,0.636,0.667,0.000
17948,Unaccompanied,0.000,0.000,0.000,0.000,0.707,4050000.000,258025.500,4.000,-5.000,4050000.000,Y,1,0,0,1,1,1,1,Cash loans,M,N,783000.000,-4722,-1529.000,-201,-15176,0.010,2,Married,Higher education,Commercial associate,2,House / apartment,1,2,THURSDAY,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Industry: type 4,1,1,1,0,1,14,120926,0.755,0.553,0.000
20119,Unaccompanied,1.000,0.000,0.000,0.000,0.650,2250000.000,225000.000,2.000,-1029.000,2250000.000,Y,1,0,0,1,0,1,1,Revolving loans,F,Y,675000.000,-4802,-4578.000,-795,-16004,0.033,1,Married,Higher education,Commercial associate,0,Rented apartment,0,1,TUESDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Business Entity Type 3,1,1,0,1,1,10,123467,0.824,0.150,1.000
20338,Unaccompanied,0.000,0.000,0.000,0.000,0.593,2250000.000,213291.000,2.000,-619.000,2303460.000,Y,0,0,1,1,1,1,1,Cash loans,M,N,540000.000,-4399,-3124.000,-5310,-13806,0.073,1,Married,Higher education,Commercial associate,0,With parents,0,1,WEDNESDAY,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,Business Entity Type 1,0,0,0,0,0,11,123729,0.655,0.721,1.000
23556,Unaccompanied,0.000,0.000,0.000,0.000,0.601,1800000.000,171040.500,2.000,-2422.000,1800000.000,Y,0,0,1,1,1,1,1,Cash loans,M,N,900000.000,-4493,-3563.000,-1684,-14759,0.015,2,Married,Secondary / secondary special,Commercial associate,0,House / apartment,0,2,WEDNESDAY,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,10,127410,0.302,0.594,4.000
23582,"Spouse, partner",0.000,0.000,0.000,0.000,0.570,2250000.000,225000.000,2.000,-703.000,2250000.000,N,0,0,0,1,0,1,1,Revolving loans,M,N,675000.000,-4385,-3377.000,-2228,-21040,0.036,2,Married,Higher education,Commercial associate,0,House / apartment,0,2,SATURDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Self-employed,0,0,0,0,0,14,127443,nan,0.699,0.000
24428,Family,4.000,4.000,0.000,0.000,0.609,1800000.000,173704.500,2.000,-1696.000,1800000.000,Y,0,0,0,1,0,1,1,Cash loans,F,Y,585000.000,-3512,-7360.000,-3039,-13343,0.026,2,Married,Secondary / secondary special,Working,0,House / apartment,0,2,SATURDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Industry: type 3,0,0,0,0,0,10,128414,nan,0.714,3.000
32100,Family,0.000,0.000,0.000,0.000,0.598,2250000.000,225000.000,3.000,-306.000,2250000.000,N,0,0,0,1,0,1,1,Revolving loans,F,Y,405000.000,-1057,-1106.000,-2508,-11285,0.020,2,Married,Higher education,Commercial associate,1,House / apartment,0,2,THURSDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Other,0,0,0,0,0,10,137221,nan,0.691,0.000
34471,Unaccompanied,0.000,0.000,0.000,0.000,0.406,1800000.000,173704.500,4.000,-2072.000,1800000.000,N,0,0,0,1,0,1,1,Cash loans,F,N,270000.000,-4330,-5208.000,-3508,-12177,0.008,2,Married,Secondary / secondary special,Working,2,House / apartment,0,2,TUESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Self-employed,0,0,0,0,0,13,139943,0.364,nan,5.000
41874,Unaccompanied,0.000,0.000,0.000,0.000,0.684,1800000.000,173574.000,2.000,-294.000,1800000.000,N,0,0,0,1,0,1,1,Cash loans,F,Y,225000.000,-968,-4822.000,-4124,-17426,0.046,1,Married,Secondary / secondary special,Working,0,House / apartment,0,1,FRIDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Government,1,1,1,0,0,18,148486,0.609,0.722,2.000
45419,Unaccompanied,0.000,0.000,0.000,0.000,0.588,1800000.000,180000.000,4.000,-381.000,1800000.000,Y,0,0,0,1,0,1,1,Revolving loans,M,Y,450000.000,-4508,-6223.000,-1700,-16237,0.031,2,Married,Higher education,Commercial associate,2,House / apartment,0,2,TUESDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Security,0,0,0,0,0,10,152605,nan,0.718,0.000
66528,Unaccompanied,0.000,0.000,0.000,0.000,0.745,2250000.000,225000.000,3.000,-1183.000,2250000.000,Y,1,0,0,1,0,1,1,Revolving loans,M,Y,1800000.000,-4729,-868.000,-1727,-12291,0.073,1,Married,Higher education,Commercial associate,1,House / apartment,0,1,FRIDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Other,0,0,0,0,0,13,177152,nan,0.581,0.000
89256,Unaccompanied,6.000,6.000,0.000,0.000,0.696,2205000.000,206167.500,2.000,-1548.000,2205000.000,N,0,0,0,1,0,0,1,Cash loans,F,N,427500.000,-2474,-2068.000,365243,-18959,0.026,2,Married,Secondary / secondary special,Pensioner,0,House / apartment,0,2,FRIDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,XNA,0,0,0,0,0,18,203629,0.753,nan,nan
101007,Unaccompanied,0.000,0.000,0.000,0.000,0.551,2250000.000,225000.000,2.000,-2.000,2250000.000,Y,0,0,1,1,1,1,1,Revolving loans,M,Y,3150000.000,-1031,-4028.000,-5564,-13386,0.033,1,Married,Higher education,Commercial associate,0,House / apartment,1,1,FRIDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Trade: type 2,0,1,1,0,1,13,217276,nan,0.574,0.000
101508,Unaccompanied,0.000,0.000,0.000,0.000,0.639,2250000.000,230161.500,2.000,-4.000,2303460.000,N,0,0,0,1,0,1,1,Cash loans,F,N,1575000.000,-3816,-2352.000,-2334,-20273,0.003,2,Married,Higher education,Commercial associate,0,House / apartment,0,2,FRIDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Other,0,0,0,0,0,0,217854,nan,0.746,0.000
103006,Unaccompanied,1.000,1.000,0.000,0.000,0.648,2250000.000,225000.000,1.000,-529.000,2250000.000,Y,0,0,1,1,0,1,1,Revolving loans,M,Y,4500000.000,-3441,-4919.000,-378,-10778,0.007,2,Single / not married,Higher education,Working,0,House / apartment,0,2,SATURDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Construction,0,0,0,1,1,15,219563,0.226,0.620,2.000
103406,Unaccompanied,2.000,2.000,0.000,0.000,0.632,1800000.000,177826.500,2.000,-2077.000,1842768.000,Y,0,0,1,1,1,1,1,Cash loans,M,N,1260000.000,-3064,-7632.000,-6716,-19534,0.031,2,Married,Higher education,Commercial associate,0,House / apartment,0,2,TUESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,17,220023,0.676,nan,nan
104938,Family,0.000,0.000,0.000,0.000,0.745,2250000.000,225000.000,1.000,-202.000,2250000.000,Y,0,0,1,1,0,1,1,Revolving loans,M,N,900000.000,-3130,-4783.000,-2495,-10496,0.033,1,Single / not married,Higher education,Commercial associate,0,House / apartment,0,1,FRIDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,Construction,0,0,0,0,0,17,221773,0.266,0.811,0.000
109209,Unaccompanied,0.000,0.000,0.000,0.000,0.603,2250000.000,225000.000,2.000,-463.000,2250000.000,Y,0,0,0,1,0,1,1,Revolving loans,M,Y,1350000.000,-3041,-3304.000,-7369,-19489,0.026,2,Married,Higher education,Commercial associate,0,House / apartment,0,2,TUESDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Trade: type 7,0,0,0,0,0,12,226657,nan,nan,0.000
111186,Family,1.000,1.000,0.000,0.000,0.779,2250000.000,213160.500,2.000,-1487.000,2303460.000,Y,0,0,0,1,0,1,1,Cash loans,M,Y,427500.000,-4813,-4514.000,-8743,-21818,0.003,3,Married,Higher education,Commercial associate,0,House / apartment,0,3,TUESDAY,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,13,229001,nan,0.699,4.000
117546,Unaccompanied,0.000,0.000,0.000,0.000,0.755,2250000.000,208215.000,2.000,-556.000,2250000.000,Y,0,0,0,1,0,1,1,Cash loans,M,Y,450000.000,-4677,-1576.000,-5366,-21162,0.046,1,Married,Higher education,Commercial associate,0,House / apartment,0,1,WEDNESDAY,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,1,1,0,1,1,18,236304,0.758,0.682,0.000
121842,Unaccompanied,3.000,3.000,0.000,0.000,0.581,1800000.000,177696.000,2.000,-1295.000,1842768.000,N,1,0,0,1,0,0,1,Cash loans,F,Y,427500.000,-4229,-714.000,365243,-21020,0.008,2,Married,Higher education,Pensioner,0,House / apartment,0,2,WEDNESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,XNA,0,0,0,0,0,15,241260,nan,0.686,1.000
128189,Unaccompanied,0.000,0.000,0.000,0.000,0.752,2250000.000,225000.000,2.000,-298.000,2250000.000,Y,0,0,1,1,0,1,1,Revolving loans,M,Y,1800000.000,-113,-9120.000,-5513,-16561,0.046,1,Married,Higher education,Commercial associate,0,House / apartment,1,1,WEDNESDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Transport: type 4,0,0,0,0,1,17,248689,nan,0.426,0.000
132913,Unaccompanied,1.000,1.000,1.000,1.000,0.647,2250000.000,225000.000,5.000,-68.000,2250000.000,N,0,0,0,0,0,1,1,Revolving loans,F,Y,675000.000,-4060,-1657.000,-2693,-14827,0.031,2,Married,Higher education,Commercial associate,3,House / apartment,0,2,MONDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,9,254159,0.848,nan,nan
136682,Unaccompanied,0.000,0.000,0.000,0.000,0.738,1755000.000,169231.500,4.000,-2685.000,1755000.000,N,0,0,0,1,1,1,1,Cash loans,F,Y,675000.000,-4150,-2725.000,-1218,-13468,0.010,2,Married,Higher education,Commercial associate,2,House / apartment,0,2,THURSDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,5,258528,0.607,nan,2.000
139784,Unaccompanied,0.000,0.000,0.000,0.000,0.745,2250000.000,213291.000,1.000,-652.000,2303460.000,N,1,0,0,1,1,1,1,Cash loans,F,N,720000.000,-4438,-169.000,-1753,-11871,0.006,2,Single / not married,Higher education,State servant,0,House / apartment,1,2,WEDNESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Military,0,1,1,0,1,12,262093,0.535,0.474,0.000
141371,Unaccompanied,1.000,1.000,0.000,0.000,0.745,2250000.000,225000.000,5.000,-181.000,2250000.000,Y,1,0,0,1,1,1,1,Revolving loans,M,Y,1350000.000,-275,-3346.000,-1626,-16790,0.073,1,Married,Higher education,Working,3,House / apartment,0,1,THURSDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Trade: type 2,0,0,0,0,0,18,263908,0.576,nan,nan
143246,Unaccompanied,6.000,6.000,0.000,0.000,0.724,1800000.000,173574.000,2.000,-2992.000,1800000.000,N,0,0,0,1,1,1,1,Cash loans,M,Y,315000.000,-4540,-634.000,-1244,-23760,0.046,1,Married,Secondary / secondary special,State servant,0,House / apartment,0,1,TUESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Housing,1,1,0,0,0,13,266102,nan,nan,nan
144204,Unaccompanied,0.000,0.000,0.000,0.000,0.564,2250000.000,225000.000,3.000,-545.000,2250000.000,N,0,0,0,1,0,1,1,Revolving loans,F,Y,450000.000,-4493,-6338.000,-366,-14756,0.023,2,Single / not married,Higher education,State servant,2,House / apartment,0,2,MONDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Other,0,0,0,0,0,9,267201,0.625,0.699,1.000
145673,Unaccompanied,0.000,0.000,0.000,0.000,0.790,2250000.000,225000.000,2.000,-3.000,2250000.000,Y,0,0,0,1,0,1,1,Revolving loans,M,N,2250000.000,-4984,-8423.000,-5542,-14347,0.073,1,Married,Higher education,Commercial associate,0,House / apartment,0,1,THURSDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,12,268905,0.739,nan,0.000
145707,Unaccompanied,1.000,1.000,0.000,0.000,0.621,2250000.000,225000.000,2.000,-272.000,2250000.000,Y,0,0,0,1,0,1,1,Revolving loans,M,Y,225000.000,-1861,-5726.000,-5130,-18325,0.005,2,Married,Higher education,Businessman,0,House / apartment,0,2,WEDNESDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Self-employed,0,0,0,0,0,16,268946,nan,nan,nan
149993,Unaccompanied,0.000,0.000,0.000,0.000,0.576,1800000.000,180576.000,1.000,-1927.000,1871280.000,Y,1,0,0,1,0,1,1,Cash loans,M,Y,900000.000,-442,-4779.000,-2676,-16886,0.023,2,Single / not married,Higher education,Commercial associate,0,House / apartment,0,2,THURSDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,9,273882,0.516,0.472,2.000
157614,Unaccompanied,0.000,0.000,0.000,0.000,0.594,2250000.000,225000.000,3.000,-309.000,2250000.000,Y,0,0,1,1,0,1,1,Revolving loans,M,Y,1125000.000,-4075,-3668.000,-5523,-16352,0.010,2,Single / not married,Higher education,Commercial associate,2,House / apartment,0,1,SATURDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Bank,0,0,0,0,0,15,282697,0.460,0.786,0.000
160934,Unaccompanied,0.000,0.000,0.000,0.000,0.738,1804500.000,168718.500,1.000,-708.000,1804500.000,Y,1,0,0,1,1,1,1,Cash loans,F,N,360000.000,-3114,-7128.000,-5881,-19583,0.073,1,Separated,Higher education,Working,0,House / apartment,0,1,FRIDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 1,0,0,0,0,0,15,286562,0.933,nan,nan
165190,Unaccompanied,2.000,2.000,0.000,0.000,0.253,2250000.000,225000.000,6.000,-302.000,2250000.000,Y,0,0,0,1,0,1,1,Revolving loans,M,Y,765000.000,-4884,-1905.000,-5516,-14747,0.010,2,Married,Higher education,Commercial associate,4,House / apartment,0,2,SATURDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Industry: type 2,0,0,0,0,0,14,291492,nan,0.835,0.000
170935,Family,0.000,0.000,0.000,0.000,0.783,3150000.000,170986.500,3.000,-537.000,3299688.000,Y,0,0,0,1,0,1,1,Cash loans,M,Y,1575000.000,-4138,-9906.000,-1720,-12472,0.031,2,Married,Higher education,Working,1,House / apartment,0,2,WEDNESDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,15,298097,0.720,0.799,0.000
172304,Unaccompanied,0.000,0.000,0.000,0.000,0.699,2254500.000,206464.500,2.000,-342.000,2254500.000,Y,0,0,0,1,1,1,1,Cash loans,M,Y,704700.000,-4586,-4269.000,-1371,-23442,0.073,1,Married,Higher education,Commercial associate,0,House / apartment,0,1,TUESDAY,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,15,299670,nan,0.564,0.000
184287,Unaccompanied,0.000,0.000,0.000,0.000,0.650,2250000.000,225000.000,2.000,-314.000,2250000.000,Y,0,0,0,1,0,1,1,Revolving loans,F,Y,630000.000,-2402,-392.000,-933,-9866,0.073,1,Civil marriage,Higher education,Commercial associate,0,House / apartment,0,1,FRIDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Bank,0,0,0,0,0,18,313601,0.760,0.661,0.000
203541,Unaccompanied,2.000,2.000,0.000,0.000,0.737,2250000.000,213291.000,1.000,-249.000,2303460.000,Y,0,0,0,1,0,1,1,Cash loans,M,N,675000.000,-4596,-6221.000,-380,-12098,0.046,1,Single / not married,Higher education,Commercial associate,0,House / apartment,0,1,TUESDAY,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,1,1,14,335977,nan,0.602,0.000
220327,Unaccompanied,3.000,3.000,0.000,0.000,0.736,1800000.000,177826.500,3.000,-577.000,1842768.000,N,1,0,0,1,0,1,1,Cash loans,F,Y,427500.000,-2788,-2249.000,-745,-15377,0.046,1,Married,Higher education,State servant,1,House / apartment,0,1,THURSDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Medicine,0,0,0,0,0,14,355238,0.881,nan,nan
221460,Unaccompanied,0.000,0.000,0.000,0.000,0.674,2250000.000,215500.500,3.000,-3283.000,2303460.000,Y,0,0,0,1,0,1,1,Cash loans,M,Y,796500.000,-4272,-7676.000,-2222,-13744,0.046,1,Married,Higher education,Commercial associate,1,House / apartment,0,1,MONDAY,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,1,1,12,356532,nan,0.655,1.000
240036,Unaccompanied,0.000,0.000,0.000,0.000,0.735,2250000.000,220297.500,5.000,-565.000,2250000.000,Y,1,0,0,1,1,1,1,Cash loans,M,N,1350000.000,-5417,-590.000,-2376,-13505,0.046,1,Married,Higher education,Commercial associate,3,House / apartment,0,1,THURSDAY,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Trade: type 7,0,0,0,0,0,15,377954,nan,0.754,1.000
246374,Family,2.000,2.000,0.000,0.000,0.765,1993500.000,184477.500,4.000,-1685.000,1993500.000,N,0,0,0,1,0,1,1,Cash loans,M,N,675000.000,-4966,-2676.000,-6257,-14558,0.003,3,Married,Higher education,State servant,2,House / apartment,0,3,THURSDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Medicine,0,0,0,0,0,16,385161,nan,0.449,2.000
257136,Unaccompanied,1.000,1.000,0.000,0.000,0.633,1800000.000,173704.500,2.000,-901.000,1800000.000,Y,1,0,0,1,0,1,1,Cash loans,M,Y,900000.000,-1089,-2232.000,-3280,-15365,0.007,2,Separated,Secondary / secondary special,Commercial associate,1,Office apartment,0,2,WEDNESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,14,397563,nan,0.798,4.000
264550,Unaccompanied,0.000,0.000,0.000,0.000,0.758,2250000.000,213291.000,1.000,-195.000,2303460.000,Y,0,0,1,1,0,1,1,Cash loans,F,Y,945000.000,-4452,-10640.000,-10189,-21712,0.073,1,Widow,Higher education,Commercial associate,0,House / apartment,0,1,FRIDAY,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,10,406376,nan,0.714,0.000
265026,Unaccompanied,1.000,1.000,0.000,0.000,0.651,2250000.000,225000.000,1.000,-151.000,2250000.000,N,1,0,1,1,0,0,1,Revolving loans,F,Y,450000.000,-4166,-10147.000,365243,-25229,0.073,1,Widow,Higher education,Pensioner,0,House / apartment,0,1,SATURDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,XNA,0,0,0,0,0,15,406901,nan,nan,nan
266148,Family,0.000,0.000,0.000,0.000,0.744,2250000.000,225000.000,2.000,-611.000,2250000.000,Y,0,0,1,1,0,1,1,Revolving loans,M,N,900000.000,-4724,-9191.000,-1039,-22766,0.029,2,Married,Higher education,State servant,0,House / apartment,0,2,WEDNESDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Other,0,0,0,0,0,8,408308,0.870,nan,nan
267568,Unaccompanied,0.000,0.000,0.000,0.000,0.732,1800000.000,173295.000,3.000,-1472.000,1871280.000,Y,0,0,0,1,0,1,1,Cash loans,F,Y,540000.000,-4494,-8078.000,-776,-14110,0.073,1,Married,Higher education,Commercial associate,1,House / apartment,1,1,WEDNESDAY,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,Business Entity Type 3,1,0,1,1,0,14,410000,nan,nan,1.000
268278,Unaccompanied,1.000,1.000,0.000,0.000,0.474,2250000.000,225000.000,2.000,-304.000,2250000.000,Y,0,0,0,1,0,1,1,Revolving loans,M,Y,765000.000,-1899,-4499.000,-467,-19814,0.020,3,Married,Higher education,Commercial associate,0,House / apartment,0,3,WEDNESDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,12,410861,0.688,0.780,0.000
268455,Unaccompanied,1.000,1.000,0.000,0.000,0.177,2250000.000,225000.000,2.000,-69.000,2250000.000,N,0,0,1,1,0,0,1,Revolving loans,F,Y,675000.000,-1942,-200.000,365243,-18407,0.033,1,Married,Higher education,Pensioner,0,House / apartment,0,1,TUESDAY,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,XNA,0,0,0,0,0,16,411101,nan,0.780,0.000
270305,Family,0.000,0.000,0.000,0.000,0.686,1800000.000,173574.000,2.000,-855.000,1800000.000,N,0,0,1,1,1,1,1,Cash loans,M,N,445500.000,-3005,-4350.000,-849,-19464,0.073,1,Married,Higher education,Commercial associate,0,House / apartment,0,1,FRIDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Trade: type 3,0,0,0,0,0,12,413277,0.507,0.727,2.000

In [78]:
hasVarOutliers(pre_train_o)

In [79]:
hasVarOutliers(pre_test_o)

In [80]:
pre_train_enc = pre_train_o.copy()
pre_test_enc = pre_test_o.copy()

**Label Encoding**

In [81]:
all_data = [pre_train_enc, pre_test_enc]

In [82]:
pre_train_enc.head()

,NAME_TYPE_SUITE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,DAYS_LAST_PHONE_CHANGE,AMT_CREDIT,FLAG_OWN_CAR,FLAG_EMAIL,TARGET,FLAG_PHONE,FLAG_CONT_MOBILE,FLAG_WORK_PHONE,FLAG_EMP_PHONE,FLAG_MOBIL,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,DAYS_ID_PUBLISH,DAYS_REGISTRATION,DAYS_EMPLOYED,DAYS_BIRTH,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,NAME_FAMILY_STATUS,NAME_EDUCATION_TYPE,NAME_INCOME_TYPE,CNT_CHILDREN,NAME_HOUSING_TYPE,REG_REGION_NOT_LIVE_REGION,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,ORGANIZATION_TYPE,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVE_REGION_NOT_WORK_REGION,REG_REGION_NOT_WORK_REGION,HOUR_APPR_PROCESS_START,SK_ID_CURR,EXT_SOURCE_1,EXT_SOURCE_3,AMT_REQ_CREDIT_BUREAU_YEAR
0,Unaccompanied,2.000,2.000,2.000,2.000,0.263,351000.000,24700.500,1.000,-1134.000,406597.500,N,0,1,1,1,0,1,1,Cash loans,M,Y,202500.000,-2120,-3648.000,-637,-9461,0.019,2,Single / not married,Secondary / secondary special,Working,0.000,House / apartment,0,2,WEDNESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,10,100002,0.083,0.139,1.000
1,Family,1.000,1.000,0.000,0.000,0.622,1129500.000,35698.500,2.000,-828.000,1293502.500,N,0,0,1,1,0,1,1,Cash loans,F,N,270000.000,-291,-1186.000,-1188,-16765,0.004,1,Married,Higher education,State servant,0.000,House / apartment,0,1,MONDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,School,0,0,0,0,0,11,100003,0.311,nan,0.000
2,Unaccompanied,0.000,0.000,0.000,0.000,0.556,135000.000,6750.000,1.000,-815.000,135000.000,Y,0,0,1,1,1,1,1,Revolving loans,M,Y,67500.000,-2531,-4260.000,-225,-19046,0.010,2,Single / not married,Secondary / secondary special,Working,0.000,House / apartment,0,2,MONDAY,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Government,0,0,0,0,0,9,100004,nan,0.730,0.000
3,Unaccompanied,2.000,2.000,0.000,0.000,0.650,297000.000,29686.500,2.000,-617.000,312682.500,N,0,0,0,1,0,1,1,Cash loans,F,Y,135000.000,-2437,-9833.000,-3039,-19005,0.008,2,Civil marriage,Secondary / secondary special,Working,0.000,House / apartment,0,2,WEDNESDAY,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Business Entity Type 3,0,0,0,0,0,17,100006,nan,nan,nan
4,Unaccompanied,0.000,0.000,0.000,0.000,0.323,513000.000,21865.500,1.000,-1106.000,513000.000,N,0,0,0,1,0,1,1,Cash loans,M,Y,121500.000,-3458,-4311.000,-3038,-19932,0.029,2,Single / not married,Secondary / secondary special,Working,0.000,House / apartment,0,2,THURSDAY,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Religion,1,1,0,0,0,11,100007,nan,nan,0.000

In [83]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
count = 0

for data in all_data:
    for var in data:
        if data[var].dtype == 'object':
            if len(list(data[var].unique())) <= 2:
                label_encoder.fit(data[var])
                data[var] = label_encoder.transform(data[var])
                
                count += 1
    
    print('%d variables were label encoded.' % count)

3 variables were label encoded.
7 variables were label encoded.

**One-Hot Encoding**

In [84]:
# one-hot encoding of categorical variables

In [85]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns = categorical_columns, dummy_na = nan_as_category)
    cat_columns = [c for c in df.columns if c not in original_columns]
    return df, cat_columns

In [86]:
train_dum, app_train_cat_cols = one_hot_encoder(pre_train_enc)

In [87]:
train_dum.head()

,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,DAYS_LAST_PHONE_CHANGE,AMT_CREDIT,FLAG_OWN_CAR,FLAG_EMAIL,TARGET,FLAG_PHONE,FLAG_CONT_MOBILE,FLAG_WORK_PHONE,FLAG_EMP_PHONE,FLAG_MOBIL,NAME_CONTRACT_TYPE,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,DAYS_ID_PUBLISH,DAYS_REGISTRATION,DAYS_EMPLOYED,DAYS_BIRTH,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,CNT_CHILDREN,REG_REGION_NOT_LIVE_REGION,REGION_RATING_CLIENT_W_CITY,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVE_REGION_NOT_WORK_REGION,REG_REGION_NOT_WORK_REGION,HOUR_APPR_PROCESS_START,SK_ID_CURR,EXT_SOURCE_1,EXT_SOURCE_3,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_TYPE_SUITE_nan,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA,CODE_GENDER_nan,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Unknown,NAME_FAMILY_STATUS_Widow,NAME_FAMILY_STATUS_nan,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_EDUCATION_TYPE_nan,NAME_INCOME_TYPE_Businessman,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_INCOME_TYPE_nan,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,NAME_HOUSING_TYPE_nan,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_nan,ORGANIZATION_TYPE_Advertising,ORGANIZATION_TYPE_Agriculture,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Business Entity Type 2,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Construction,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Emergency,ORGANIZATION_TYPE_Government,ORGANIZATION_TYPE_Hotel,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 1,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 12,ORGANIZATION_TYPE_Industry: type 13,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 7,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Legal Services,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_Police,ORGANIZATION_TYPE_Postal,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Security Ministries,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Services,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,ORGANIZATION_TYPE_nan
0,2.000,2.000,2.000,2.000,0.263,351000.000,24700.500,1.000,-1134.000,406597.500,0,0,1,1,1,0,1,1,0,1,202500.000,-2120,-3648.000,-637,-9461,0.019,2,0.000,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,100002,0.083,0.139,1.000,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1.000,1.000,0.000,0.000,0.622,1129500.000,35698.500,2.000,-828.000,1293502.500,0,0,0,1,1,0,1,1,0,0,270000.000,-291,-1186.000,-1188,-16765,0.004,1,0.000,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11,100003,0.311,nan,0.000,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.000,0.000,0.000,0.000,0.556,135000.000,6750.000,1.000,-815.000,135000.000,1,0,0,1,1,1,1,1,1,1,67500.000,-2531,-4260.000,-225,-19046,0.010,2,0.000,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,100004,nan,0.730,0.000,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2.000,2.000,0.000,0.000,0.650,297000.000,29686.500,2.000,-617.000,312682.500,0,0,0,0,1,0,1,1,0,1,135000.000,-2437,-9833.000,-3039,-19005,0.008,2,0.000,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,100006,nan,nan,nan,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0.000,0.000,0.000,0.000,0.323,513000.000,21865.500,1.000,-1106.000,513000.000,0,0,0,0,1,0,1,1,0,1,121500.000,-3458,-4311.000,-3038,-19932,0.029,2,0.000,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,11,100007,nan,nan,0.000,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [88]:
test_dum, app_test_cat_cols = one_hot_encoder(pre_test_enc)

In [89]:
print('Training Features shape: ', train_dum.shape)
print('Testing Features shape: ', test_dum.shape)

Training Features shape:  (307511, 168)
Testing Features shape:  (48744, 162)

In [90]:
# Align the training and testing data, keep only columns present in both dataframes

In [91]:
Y = train_dum['TARGET']
train_dum, test_dum = train_dum.align(test_dum, join = 'inner', axis = 1)

# Add the target back in
train_dum['TARGET'] = Y

print('Training Features shape: ', train_dum.shape)
print('Testing Features shape: ', test_dum.shape)

Training Features shape:  (307511, 162)
Testing Features shape:  (48744, 161)

**Fixing Some Problems**

In [92]:
# Replace the anomalous values with nan
train_dum['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

In [93]:
test_dum["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

**Feature Engineering**

In [94]:
train_dum.head()

,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,DAYS_LAST_PHONE_CHANGE,AMT_CREDIT,FLAG_OWN_CAR,FLAG_EMAIL,FLAG_PHONE,FLAG_CONT_MOBILE,FLAG_WORK_PHONE,FLAG_EMP_PHONE,FLAG_MOBIL,NAME_CONTRACT_TYPE,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,DAYS_ID_PUBLISH,DAYS_REGISTRATION,DAYS_EMPLOYED,DAYS_BIRTH,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,CNT_CHILDREN,REG_REGION_NOT_LIVE_REGION,REGION_RATING_CLIENT_W_CITY,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVE_REGION_NOT_WORK_REGION,REG_REGION_NOT_WORK_REGION,HOUR_APPR_PROCESS_START,SK_ID_CURR,EXT_SOURCE_1,EXT_SOURCE_3,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_TYPE_SUITE_nan,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_FAMILY_STATUS_nan,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_EDUCATION_TYPE_nan,NAME_INCOME_TYPE_Businessman,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_INCOME_TYPE_nan,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,NAME_HOUSING_TYPE_nan,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_nan,ORGANIZATION_TYPE_Advertising,ORGANIZATION_TYPE_Agriculture,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Business Entity Type 2,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Construction,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Emergency,ORGANIZATION_TYPE_Government,ORGANIZATION_TYPE_Hotel,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 1,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 12,ORGANIZATION_TYPE_Industry: type 13,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 7,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Legal Services,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_Police,ORGANIZATION_TYPE_Postal,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Security Ministries,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Services,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,ORGANIZATION_TYPE_nan,TARGET
0,2.000,2.000,2.000,2.000,0.263,351000.000,24700.500,1.000,-1134.000,406597.500,0,0,1,1,0,1,1,0,1,202500.000,-2120,-3648.000,-637.000,-9461,0.019,2,0.000,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,100002,0.083,0.139,1.000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1.000,1.000,0.000,0.000,0.622,1129500.000,35698.500,2.000,-828.000,1293502.500,0,0,1,1,0,1,1,0,0,270000.000,-291,-1186.000,-1188.000,-16765,0.004,1,0.000,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11,100003,0.311,nan,0.000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.000,0.000,0.000,0.000,0.556,135000.000,6750.000,1.000,-815.000,135000.000,1,0,1,1,1,1,1,1,1,67500.000,-2531,-4260.000,-225.000,-19046,0.010,2,0.000,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,100004,nan,0.730,0.000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2.000,2.000,0.000,0.000,0.650,297000.000,29686.500,2.000,-617.000,312682.500,0,0,0,1,0,1,1,0,1,135000.000,-2437,-9833.000,-3039.000,-19005,0.008,2,0.000,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,100006,nan,nan,nan,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0.000,0.000,0.000,0.000,0.323,513000.000,21865.500,1.000,-1106.000,513000.000,0,0,0,1,0,1,1,0,1,121500.000,-3458,-4311.000,-3038.000,-19932,0.029,2,0.000,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,11,100007,nan,nan,0.000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [95]:
train_eng = train_dum.copy()
test_eng = test_dum.copy()

In [96]:
train_eng['CREDIT_INCOME_PERCENT'] = train_eng['AMT_CREDIT'] / train_eng['AMT_INCOME_TOTAL']
train_eng['ANNUITY_INCOME_PERCENT'] = train_eng['AMT_ANNUITY'] / train_eng['AMT_INCOME_TOTAL']
train_eng['CREDIT_TERM'] = train_eng['AMT_ANNUITY'] / train_eng['AMT_CREDIT']
train_eng['DAYS_EMPLOYED_PERCENT'] = train_eng['DAYS_EMPLOYED'] / train_eng['DAYS_BIRTH']
train_eng['CALC_INCOME_PER_PERSON'] = train_eng['AMT_INCOME_TOTAL'] / train_eng['CNT_FAM_MEMBERS']
train_eng['CALC_GOODS_PRICE_PER']=train_eng['AMT_GOODS_PRICE']/train_eng['AMT_CREDIT']

In [97]:
test_eng['CREDIT_INCOME_PERCENT'] = test_eng['AMT_CREDIT'] / test_eng['AMT_INCOME_TOTAL']
test_eng['ANNUITY_INCOME_PERCENT'] = test_eng['AMT_ANNUITY'] / test_eng['AMT_INCOME_TOTAL']
test_eng['CREDIT_TERM'] = test_eng['AMT_ANNUITY'] / test_eng['AMT_CREDIT']
test_eng['DAYS_EMPLOYED_PERCENT'] = test_eng['DAYS_EMPLOYED'] / test_eng['DAYS_BIRTH']
test_eng['CALC_INCOME_PER_PERSON'] = test_eng['AMT_INCOME_TOTAL'] / test_eng['CNT_FAM_MEMBERS']
test_eng['CALC_GOODS_PRICE_PER']=test_eng['AMT_GOODS_PRICE']/test_eng['AMT_CREDIT']

In [98]:
app_train = train_eng.copy()
app_test = test_eng.copy()

## bureau & bureau balance

**Missing Values**

In [99]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.000,-153.000,nan,0,91323.000,0.000,nan,0.000,Consumer credit,-131,nan
1,215354,5714463,Active,currency 1,-208,0,1075.000,nan,nan,0,225000.000,171342.000,nan,0.000,Credit card,-20,nan
2,215354,5714464,Active,currency 1,-203,0,528.000,nan,nan,0,464323.500,nan,nan,0.000,Consumer credit,-16,nan
3,215354,5714465,Active,currency 1,-203,0,nan,nan,nan,0,90000.000,nan,nan,0.000,Credit card,-16,nan
4,215354,5714466,Active,currency 1,-629,0,1197.000,nan,77674.500,0,2700000.000,nan,nan,0.000,Consumer credit,-21,nan

In [100]:
missingTable(bureau)

                         n_miss  ratio
AMT_ANNUITY             1226791 71.473
AMT_CREDIT_MAX_OVERDUE  1124488 65.513
DAYS_ENDDATE_FACT        633653 36.917
AMT_CREDIT_SUM_LIMIT     591780 34.477
AMT_CREDIT_SUM_DEBT      257669 15.012
DAYS_CREDIT_ENDDATE      105553  6.150
AMT_CREDIT_SUM               13  0.001
CREDIT_TYPE                   0  0.000
AMT_CREDIT_SUM_OVERDUE        0  0.000
CNT_CREDIT_PROLONG            0  0.000
DAYS_CREDIT_UPDATE            0  0.000
CREDIT_DAY_OVERDUE            0  0.000
DAYS_CREDIT                   0  0.000
CREDIT_CURRENCY               0  0.000
CREDIT_ACTIVE                 0  0.000
SK_ID_BUREAU                  0  0.000
SK_ID_CURR                    0  0.000

In [101]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [102]:
missingTable(bureau_balance)

                n_miss  ratio
STATUS               0  0.000
MONTHS_BALANCE       0  0.000
SK_ID_BUREAU         0  0.000

**Outliers**

In [103]:
hasVarOutliers(bureau)

CREDIT_DAY_OVERDUE ----HAS OUTLIERS
AMT_CREDIT_MAX_OVERDUE ----HAS OUTLIERS
AMT_CREDIT_SUM ----HAS OUTLIERS
AMT_CREDIT_SUM_DEBT ----HAS OUTLIERS
AMT_CREDIT_SUM_LIMIT ----HAS OUTLIERS
AMT_CREDIT_SUM_OVERDUE ----HAS OUTLIERS
AMT_ANNUITY ----HAS OUTLIERS

In [104]:
hasVarOutliers(bureau_balance)

**Label Encoding**

In [105]:
def label_encoder(df):

    from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    count = 0
    
    for var in df:
        if df[var].dtype == 'object':
            if len(list(df[var].unique())) <= 2:
                le.fit(df[var])
                df[var] = le.transform(df[var])
                count += 1
    print('%d variables were label encoded.' % count)
    return df

In [106]:
b = label_encoder(bureau)

0 variables were label encoded.

**One-Hot Encoding**

In [107]:
bureau, bureau_cat_cols = one_hot_encoder(bureau)

In [108]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_ACTIVE_nan,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_CURRENCY_nan,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,CREDIT_TYPE_nan
0,215354,5714462,-497,0,-153.000,-153.000,nan,0,91323.000,0.000,nan,0.000,-131,nan,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.000,nan,nan,0,225000.000,171342.000,nan,0.000,-20,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.000,nan,nan,0,464323.500,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,nan,nan,nan,0,90000.000,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.000,nan,77674.500,0,2700000.000,nan,nan,0.000,-21,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [109]:
bureau_balance, bureau_balance_cat_cols = one_hot_encoder(bureau_balance)

In [110]:
bureau_balance.head()

,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,STATUS_nan
0,5715448,0,0,0,0,0,0,0,1,0,0
1,5715448,-1,0,0,0,0,0,0,1,0,0
2,5715448,-2,0,0,0,0,0,0,1,0,0
3,5715448,-3,0,0,0,0,0,0,1,0,0
4,5715448,-4,0,0,0,0,0,0,1,0,0

**Aggregations**

In [111]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_ACTIVE_nan,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_CURRENCY_nan,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,CREDIT_TYPE_nan
0,215354,5714462,-497,0,-153.000,-153.000,nan,0,91323.000,0.000,nan,0.000,-131,nan,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.000,nan,nan,0,225000.000,171342.000,nan,0.000,-20,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.000,nan,nan,0,464323.500,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,nan,nan,nan,0,90000.000,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.000,nan,77674.500,0,2700000.000,nan,nan,0.000,-21,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [112]:
bureau[bureau["SK_ID_CURR"]==100001]

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_ACTIVE_nan,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_CURRENCY_nan,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,CREDIT_TYPE_nan
248484,100001,5896630,-857,0,-492.000,-553.000,nan,0,112500.000,0.000,0.000,0.000,-155,0.000,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
248485,100001,5896631,-909,0,-179.000,-877.000,nan,0,279720.000,0.000,0.000,0.000,-155,0.000,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
248486,100001,5896632,-879,0,-514.000,-544.000,nan,0,91620.000,0.000,0.000,0.000,-155,0.000,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
248487,100001,5896633,-1572,0,-1329.000,-1328.000,nan,0,85500.000,0.000,0.000,0.000,-155,0.000,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
248488,100001,5896634,-559,0,902.000,nan,nan,0,337680.000,113166.000,0.000,0.000,-6,4630.500,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
248489,100001,5896635,-49,0,1778.000,nan,nan,0,378000.000,373239.000,0.000,0.000,-16,10822.500,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
248490,100001,5896636,-320,0,411.000,nan,nan,0,168345.000,110281.500,nan,0.000,-10,9364.500,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [113]:
bureau[["SK_ID_CURR","AMT_CREDIT_SUM"]].groupby('SK_ID_CURR').agg({"AMT_CREDIT_SUM":"mean"}).head()

            AMT_CREDIT_SUM
SK_ID_CURR
100001          207623.571
100002          108131.946
100003          254350.125
100004           94518.900
100005          219042.000

In [114]:
bureau[["SK_ID_CURR","AMT_CREDIT_SUM"]].groupby('SK_ID_CURR').agg({"AMT_CREDIT_SUM":["mean","sum","min","max"]}).head()

           AMT_CREDIT_SUM
                     mean         sum       min        max
SK_ID_CURR
100001         207623.571 1453365.000 85500.000 378000.000
100002         108131.946  865055.565     0.000 450000.000
100003         254350.125 1017400.500 22248.000 810000.000
100004          94518.900  189037.800 94500.000  94537.800
100005         219042.000  657126.000 29826.000 568800.000

In [115]:
bureau_balance.head()

,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,STATUS_nan
0,5715448,0,0,0,0,0,0,0,1,0,0
1,5715448,-1,0,0,0,0,0,0,1,0,0
2,5715448,-2,0,0,0,0,0,0,1,0,0
3,5715448,-3,0,0,0,0,0,0,1,0,0
4,5715448,-4,0,0,0,0,0,0,1,0,0

In [116]:
bureau_balance.groupby('SK_ID_BUREAU').agg({"MONTHS_BALANCE": ["count","min","max"]}).head()

             MONTHS_BALANCE
                      count min max
SK_ID_BUREAU
5001709                  97 -96   0
5001710                  83 -82   0
5001711                   4  -3   0
5001712                  19 -18   0
5001713                  22 -21   0

In [117]:
bb = bureau_balance.groupby('SK_ID_BUREAU').agg({"MONTHS_BALANCE": ["count","min","max"]}).head()

In [118]:
bb

             MONTHS_BALANCE
                      count min max
SK_ID_BUREAU
5001709                  97 -96   0
5001710                  83 -82   0
5001711                   4  -3   0
5001712                  19 -18   0
5001713                  22 -21   0

In [119]:
bb["MONTHS_BALANCE"]["min"]

SK_ID_BUREAU
5001709   -96
5001710   -82
5001711    -3
5001712   -18
5001713   -21
Name: min, dtype: int64

**All aggregations for bureau balance**

In [120]:
bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}

In [121]:
bb_aggregations

{'MONTHS_BALANCE': ['min', 'max', 'size']}

In [122]:
for col in bureau_balance_cat_cols:
    print(col)

STATUS_0
STATUS_1
STATUS_2
STATUS_3
STATUS_4
STATUS_5
STATUS_C
STATUS_X
STATUS_nan

In [123]:
for col in bureau_balance_cat_cols:
    bb_aggregations[col] = ['mean']

In [124]:
bb_aggregations

{'MONTHS_BALANCE': ['min', 'max', 'size'],
 'STATUS_0': ['mean'],
 'STATUS_1': ['mean'],
 'STATUS_2': ['mean'],
 'STATUS_3': ['mean'],
 'STATUS_4': ['mean'],
 'STATUS_5': ['mean'],
 'STATUS_C': ['mean'],
 'STATUS_X': ['mean'],
 'STATUS_nan': ['mean']}

In [125]:
bb_agg = bureau_balance.groupby('SK_ID_BUREAU').agg(bb_aggregations)

In [126]:
bb_agg.head()

             MONTHS_BALANCE          STATUS_0 STATUS_1 STATUS_2 STATUS_3  \
                        min max size     mean     mean     mean     mean
SK_ID_BUREAU
5001709                 -96   0   97    0.000    0.000    0.000    0.000
5001710                 -82   0   83    0.060    0.000    0.000    0.000
5001711                  -3   0    4    0.750    0.000    0.000    0.000
5001712                 -18   0   19    0.526    0.000    0.000    0.000
5001713                 -21   0   22    0.000    0.000    0.000    0.000

             STATUS_4 STATUS_5 STATUS_C STATUS_X STATUS_nan
                 mean     mean     mean     mean       mean
SK_ID_BUREAU
5001709         0.000    0.000    0.887    0.113          0
5001710         0.000    0.000    0.578    0.361          0
5001711         0.000    0.000    0.000    0.250          0
5001712         0.000    0.000    0.474    0.000          0
5001713         0.000    0.000    0.000    1.000          0

In [127]:
bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])

In [128]:
bb_agg.head()

,MONTHS_BALANCE_MIN,MONTHS_BALANCE_MAX,MONTHS_BALANCE_SIZE,STATUS_0_MEAN,STATUS_1_MEAN,STATUS_2_MEAN,STATUS_3_MEAN,STATUS_4_MEAN,STATUS_5_MEAN,STATUS_C_MEAN,STATUS_X_MEAN,STATUS_nan_MEAN
SK_ID_BUREAU,,,,,,,,,,,,
5001709,-96,0,97,0.000,0.000,0.000,0.000,0.000,0.000,0.887,0.113,0
5001710,-82,0,83,0.060,0.000,0.000,0.000,0.000,0.000,0.578,0.361,0
5001711,-3,0,4,0.750,0.000,0.000,0.000,0.000,0.000,0.000,0.250,0
5001712,-18,0,19,0.526,0.000,0.000,0.000,0.000,0.000,0.474,0.000,0
5001713,-21,0,22,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0

In [129]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_ACTIVE_nan,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_CURRENCY_nan,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,CREDIT_TYPE_nan
0,215354,5714462,-497,0,-153.000,-153.000,nan,0,91323.000,0.000,nan,0.000,-131,nan,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.000,nan,nan,0,225000.000,171342.000,nan,0.000,-20,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.000,nan,nan,0,464323.500,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,nan,nan,nan,0,90000.000,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.000,nan,77674.500,0,2700000.000,nan,nan,0.000,-21,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [130]:
bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')

In [131]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_ACTIVE_nan,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_CURRENCY_nan,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,CREDIT_TYPE_nan,MONTHS_BALANCE_MIN,MONTHS_BALANCE_MAX,MONTHS_BALANCE_SIZE,STATUS_0_MEAN,STATUS_1_MEAN,STATUS_2_MEAN,STATUS_3_MEAN,STATUS_4_MEAN,STATUS_5_MEAN,STATUS_C_MEAN,STATUS_X_MEAN,STATUS_nan_MEAN
0,215354,5714462,-497,0,-153.000,-153.000,nan,0,91323.000,0.000,nan,0.000,-131,nan,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,215354,5714463,-208,0,1075.000,nan,nan,0,225000.000,171342.000,nan,0.000,-20,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,215354,5714464,-203,0,528.000,nan,nan,0,464323.500,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,215354,5714465,-203,0,nan,nan,nan,0,90000.000,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,215354,5714466,-629,0,1197.000,nan,77674.500,0,2700000.000,nan,nan,0.000,-21,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [132]:
bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)

**Aggregations for Bureau and bureau_balance numeric features**

In [133]:
num_aggregations = {
        'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
        'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
        'DAYS_CREDIT_UPDATE': ['mean'],
        'CREDIT_DAY_OVERDUE': ['max', 'mean'],
        'AMT_CREDIT_MAX_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
        'AMT_ANNUITY': ['max', 'mean'],
        'CNT_CREDIT_PROLONG': ['sum'],
        'MONTHS_BALANCE_MIN': ['min'],
        'MONTHS_BALANCE_MAX': ['max'],
        'MONTHS_BALANCE_SIZE': ['mean', 'sum']
    }

**Aggregations Bureau and bureau_balance categorical features**

In [134]:
cat_aggregations = {}
for cat in bureau_cat_cols: cat_aggregations[cat] = ['mean']
for cat in bureau_balance_cat_cols: cat_aggregations[cat + "_MEAN"] = ['mean']

In [135]:
cat_aggregations

{'CREDIT_ACTIVE_Active': ['mean'],
 'CREDIT_ACTIVE_Bad debt': ['mean'],
 'CREDIT_ACTIVE_Closed': ['mean'],
 'CREDIT_ACTIVE_Sold': ['mean'],
 'CREDIT_ACTIVE_nan': ['mean'],
 'CREDIT_CURRENCY_currency 1': ['mean'],
 'CREDIT_CURRENCY_currency 2': ['mean'],
 'CREDIT_CURRENCY_currency 3': ['mean'],
 'CREDIT_CURRENCY_currency 4': ['mean'],
 'CREDIT_CURRENCY_nan': ['mean'],
 'CREDIT_TYPE_Another type of loan': ['mean'],
 'CREDIT_TYPE_Car loan': ['mean'],
 'CREDIT_TYPE_Cash loan (non-earmarked)': ['mean'],
 'CREDIT_TYPE_Consumer credit': ['mean'],
 'CREDIT_TYPE_Credit card': ['mean'],
 'CREDIT_TYPE_Interbank credit': ['mean'],
 'CREDIT_TYPE_Loan for business development': ['mean'],
 'CREDIT_TYPE_Loan for purchase of shares (margin lending)': ['mean'],
 'CREDIT_TYPE_Loan for the purchase of equipment': ['mean'],
 'CREDIT_TYPE_Loan for working capital replenishment': ['mean'],
 'CREDIT_TYPE_Microloan': ['mean'],
 'CREDIT_TYPE_Mobile operator loan': ['mean'],
 'CREDIT_TYPE_Mortgage': ['mean'],
 'CREDIT_TYPE_Real estate loan': ['mean'],
 'CREDIT_TYPE_Unknown type of loan': ['mean'],
 'CREDIT_TYPE_nan': ['mean'],
 'STATUS_0_MEAN': ['mean'],
 'STATUS_1_MEAN': ['mean'],
 'STATUS_2_MEAN': ['mean'],
 'STATUS_3_MEAN': ['mean'],
 'STATUS_4_MEAN': ['mean'],
 'STATUS_5_MEAN': ['mean'],
 'STATUS_C_MEAN': ['mean'],
 'STATUS_X_MEAN': ['mean'],
 'STATUS_nan_MEAN': ['mean']}

In [136]:
bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])

In [137]:
bureau_agg.head()

,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,BURO_CREDIT_DAY_OVERDUE_MEAN,BURO_AMT_CREDIT_MAX_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_MAX,BURO_AMT_CREDIT_SUM_MEAN,BURO_AMT_CREDIT_SUM_SUM,BURO_AMT_CREDIT_SUM_DEBT_MAX,BURO_AMT_CREDIT_SUM_DEBT_MEAN,BURO_AMT_CREDIT_SUM_DEBT_SUM,BURO_AMT_CREDIT_SUM_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_SUM,BURO_AMT_ANNUITY_MAX,BURO_AMT_ANNUITY_MEAN,BURO_CNT_CREDIT_PROLONG_SUM,BURO_MONTHS_BALANCE_MIN_MIN,BURO_MONTHS_BALANCE_MAX_MAX,BURO_MONTHS_BALANCE_SIZE_MEAN,BURO_MONTHS_BALANCE_SIZE_SUM,BURO_CREDIT_ACTIVE_Active_MEAN,BURO_CREDIT_ACTIVE_Bad debt_MEAN,BURO_CREDIT_ACTIVE_Closed_MEAN,BURO_CREDIT_ACTIVE_Sold_MEAN,BURO_CREDIT_ACTIVE_nan_MEAN,BURO_CREDIT_CURRENCY_currency 1_MEAN,BURO_CREDIT_CURRENCY_currency 2_MEAN,BURO_CREDIT_CURRENCY_currency 3_MEAN,BURO_CREDIT_CURRENCY_currency 4_MEAN,BURO_CREDIT_CURRENCY_nan_MEAN,BURO_CREDIT_TYPE_Another type of loan_MEAN,BURO_CREDIT_TYPE_Car loan_MEAN,BURO_CREDIT_TYPE_Cash loan (non-earmarked)_MEAN,BURO_CREDIT_TYPE_Consumer credit_MEAN,BURO_CREDIT_TYPE_Credit card_MEAN,BURO_CREDIT_TYPE_Interbank credit_MEAN,BURO_CREDIT_TYPE_Loan for business development_MEAN,BURO_CREDIT_TYPE_Loan for purchase of shares (margin lending)_MEAN,BURO_CREDIT_TYPE_Loan for the purchase of equipment_MEAN,BURO_CREDIT_TYPE_Loan for working capital replenishment_MEAN,BURO_CREDIT_TYPE_Microloan_MEAN,BURO_CREDIT_TYPE_Mobile operator loan_MEAN,BURO_CREDIT_TYPE_Mortgage_MEAN,BURO_CREDIT_TYPE_Real estate loan_MEAN,BURO_CREDIT_TYPE_Unknown type of loan_MEAN,BURO_CREDIT_TYPE_nan_MEAN,BURO_STATUS_0_MEAN_MEAN,BURO_STATUS_1_MEAN_MEAN,BURO_STATUS_2_MEAN_MEAN,BURO_STATUS_3_MEAN_MEAN,BURO_STATUS_4_MEAN_MEAN,BURO_STATUS_5_MEAN_MEAN,BURO_STATUS_C_MEAN_MEAN,BURO_STATUS_X_MEAN_MEAN,BURO_STATUS_nan_MEAN_MEAN
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000,240043.667,-1329.000,1778.000,82.429,-93.143,0,0.000,nan,378000.000,207623.571,1453365.000,373239.000,85240.929,596686.500,0.000,0.000,0.000,10822.500,3545.357,0,-51.000,0.000,24.571,172.000,0.429,0.000,0.571,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,0.337,0.008,0.000,0.000,0.000,0.000,0.441,0.215,0.000
100002,-1437,-103,-874.000,186150.000,-1072.000,780.000,-349.000,-499.875,0,0.000,1681.029,450000.000,108131.946,865055.565,245781.000,49156.200,245781.000,0.000,7997.141,31988.565,0.000,0.000,0,-47.000,0.000,13.750,110.000,0.250,0.000,0.750,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,0.500,0.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,0.407,0.256,0.000,0.000,0.000,0.000,0.175,0.162,0.000
100003,-2586,-606,-1400.750,827783.583,-2434.000,1216.000,-544.500,-816.000,0,0.000,0.000,810000.000,254350.125,1017400.500,0.000,0.000,0.000,0.000,202500.000,810000.000,nan,nan,0,nan,nan,nan,0.000,0.250,0.000,0.750,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,0.500,0.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,nan,nan,nan,nan,nan,nan,nan,nan,nan
100004,-1326,-408,-867.000,421362.000,-595.000,-382.000,-488.500,-532.000,0,0.000,0.000,94537.800,94518.900,189037.800,0.000,0.000,0.000,0.000,0.000,0.000,nan,nan,0,nan,nan,nan,0.000,0.000,0.000,1.000,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,nan,nan,nan,nan,nan,nan,nan,nan,nan
100005,-373,-62,-190.667,26340.333,-128.000,1324.000,439.333,-54.333,0,0.000,0.000,568800.000,219042.000,657126.000,543087.000,189469.500,568408.500,0.000,0.000,0.000,4261.500,1420.500,0,-12.000,0.000,7.000,21.000,0.667,0.000,0.333,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,0.667,0.333,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,0.735,0.000,0.000,0.000,0.000,0.000,0.128,0.137,0.000

**Bureau: Active credits - using only numerical aggregations**

In [138]:
active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')

In [139]:
# Bureau: Closed credits - using only numerical aggregations

In [140]:
closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')

In [141]:
bureau_agg.head()

,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,BURO_CREDIT_DAY_OVERDUE_MEAN,BURO_AMT_CREDIT_MAX_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_MAX,BURO_AMT_CREDIT_SUM_MEAN,BURO_AMT_CREDIT_SUM_SUM,BURO_AMT_CREDIT_SUM_DEBT_MAX,BURO_AMT_CREDIT_SUM_DEBT_MEAN,BURO_AMT_CREDIT_SUM_DEBT_SUM,BURO_AMT_CREDIT_SUM_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_MEAN,BURO_AMT_CREDIT_SUM_LIMIT_SUM,BURO_AMT_ANNUITY_MAX,BURO_AMT_ANNUITY_MEAN,BURO_CNT_CREDIT_PROLONG_SUM,BURO_MONTHS_BALANCE_MIN_MIN,BURO_MONTHS_BALANCE_MAX_MAX,BURO_MONTHS_BALANCE_SIZE_MEAN,BURO_MONTHS_BALANCE_SIZE_SUM,BURO_CREDIT_ACTIVE_Active_MEAN,BURO_CREDIT_ACTIVE_Bad debt_MEAN,BURO_CREDIT_ACTIVE_Closed_MEAN,BURO_CREDIT_ACTIVE_Sold_MEAN,BURO_CREDIT_ACTIVE_nan_MEAN,BURO_CREDIT_CURRENCY_currency 1_MEAN,BURO_CREDIT_CURRENCY_currency 2_MEAN,BURO_CREDIT_CURRENCY_currency 3_MEAN,BURO_CREDIT_CURRENCY_currency 4_MEAN,BURO_CREDIT_CURRENCY_nan_MEAN,BURO_CREDIT_TYPE_Another type of loan_MEAN,BURO_CREDIT_TYPE_Car loan_MEAN,BURO_CREDIT_TYPE_Cash loan (non-earmarked)_MEAN,BURO_CREDIT_TYPE_Consumer credit_MEAN,BURO_CREDIT_TYPE_Credit card_MEAN,BURO_CREDIT_TYPE_Interbank credit_MEAN,BURO_CREDIT_TYPE_Loan for business development_MEAN,BURO_CREDIT_TYPE_Loan for purchase of shares (margin lending)_MEAN,BURO_CREDIT_TYPE_Loan for the purchase of equipment_MEAN,BURO_CREDIT_TYPE_Loan for working capital replenishment_MEAN,BURO_CREDIT_TYPE_Microloan_MEAN,BURO_CREDIT_TYPE_Mobile operator loan_MEAN,BURO_CREDIT_TYPE_Mortgage_MEAN,BURO_CREDIT_TYPE_Real estate loan_MEAN,BURO_CREDIT_TYPE_Unknown type of loan_MEAN,BURO_CREDIT_TYPE_nan_MEAN,BURO_STATUS_0_MEAN_MEAN,BURO_STATUS_1_MEAN_MEAN,BURO_STATUS_2_MEAN_MEAN,BURO_STATUS_3_MEAN_MEAN,BURO_STATUS_4_MEAN_MEAN,BURO_STATUS_5_MEAN_MEAN,BURO_STATUS_C_MEAN_MEAN,BURO_STATUS_X_MEAN_MEAN,BURO_STATUS_nan_MEAN_MEAN,ACTIVE_DAYS_CREDIT_MIN,ACTIVE_DAYS_CREDIT_MAX,ACTIVE_DAYS_CREDIT_MEAN,ACTIVE_DAYS_CREDIT_VAR,ACTIVE_DAYS_CREDIT_ENDDATE_MIN,ACTIVE_DAYS_CREDIT_ENDDATE_MAX,ACTIVE_DAYS_CREDIT_ENDDATE_MEAN,ACTIVE_DAYS_CREDIT_UPDATE_MEAN,ACTIVE_CREDIT_DAY_OVERDUE_MAX,ACTIVE_CREDIT_DAY_OVERDUE_MEAN,ACTIVE_AMT_CREDIT_MAX_OVERDUE_MEAN,ACTIVE_AMT_CREDIT_SUM_MAX,ACTIVE_AMT_CREDIT_SUM_MEAN,ACTIVE_AMT_CREDIT_SUM_SUM,ACTIVE_AMT_CREDIT_SUM_DEBT_MAX,ACTIVE_AMT_CREDIT_SUM_DEBT_MEAN,ACTIVE_AMT_CREDIT_SUM_DEBT_SUM,ACTIVE_AMT_CREDIT_SUM_OVERDUE_MEAN,ACTIVE_AMT_CREDIT_SUM_LIMIT_MEAN,ACTIVE_AMT_CREDIT_SUM_LIMIT_SUM,ACTIVE_AMT_ANNUITY_MAX,ACTIVE_AMT_ANNUITY_MEAN,ACTIVE_CNT_CREDIT_PROLONG_SUM,ACTIVE_MONTHS_BALANCE_MIN_MIN,ACTIVE_MONTHS_BALANCE_MAX_MAX,ACTIVE_MONTHS_BALANCE_SIZE_MEAN,ACTIVE_MONTHS_BALANCE_SIZE_SUM,CLOSED_DAYS_CREDIT_MIN,CLOSED_DAYS_CREDIT_MAX,CLOSED_DAYS_CREDIT_MEAN,CLOSED_DAYS_CREDIT_VAR,CLOSED_DAYS_CREDIT_ENDDATE_MIN,CLOSED_DAYS_CREDIT_ENDDATE_MAX,CLOSED_DAYS_CREDIT_ENDDATE_MEAN,CLOSED_DAYS_CREDIT_UPDATE_MEAN,CLOSED_CREDIT_DAY_OVERDUE_MAX,CLOSED_CREDIT_DAY_OVERDUE_MEAN,CLOSED_AMT_CREDIT_MAX_OVERDUE_MEAN,CLOSED_AMT_CREDIT_SUM_MAX,CLOSED_AMT_CREDIT_SUM_MEAN,CLOSED_AMT_CREDIT_SUM_SUM,CLOSED_AMT_CREDIT_SUM_DEBT_MAX,CLOSED_AMT_CREDIT_SUM_DEBT_MEAN,CLOSED_AMT_CREDIT_SUM_DEBT_SUM,CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN,CLOSED_AMT_CREDIT_SUM_LIMIT_SUM,CLOSED_AMT_ANNUITY_MAX,CLOSED_AMT_ANNUITY_MEAN,CLOSED_CNT_CREDIT_PROLONG_SUM,CLOSED_MONTHS_BALANCE_MIN_MIN,CLOSED_MONTHS_BALANCE_MAX_MAX,CLOSED_MONTHS_BALANCE_SIZE_MEAN,CLOSED_MONTHS_BALANCE_SIZE_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000,240043.667,-1329.000,1778.000,82.429,-93.143,0,0.000,nan,378000.000,207623.571,1453365.000,373239.000,85240.929,596686.500,0.000,0.000,0.000,10822.500,3545.357,0,-51.000,0.000,24.571,172.000,0.429,0.000,0.571,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,0.337,0.008,0.000,0.000,0.000,0.000,0.441,0.215,0.000,-559.000,-49.000,-309.333,65110.333,411.000,1778.000,1030.333,-10.667,0.000,0.000,nan,378000.000,294675.000,884025.000,373239.000,198895.500,596686.500,0.000,0.000,0.000,10822.500,8272.500,0.000,-18.000,0.000,10.667,32.000,-1572.000,-857.000,-1054.250,119594.250,-1329.000,-179.000,-628.500,-155.000,0.000,0.000,nan,279720.000,142335.000,569340.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-51.000,0.000,35.000,140.000
100002,-1437,-103,-874.000,186150.000,-1072.000,780.000,-349.000,-499.875,0,0.000,1681.029,450000.000,108131.946,865055.565,245781.000,49156.200,245781.000,0.000,7997.141,31988.565,0.000,0.000,0,-47.000,0.000,13.750,110.000,0.250,0.000,0.750,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,0.500,0.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,0.407,0.256,0.000,0.000,0.000,0.000,0.175,0.162,0.000,-1042.000,-103.000,-572.500,440860.500,780.000,780.000,780.000,-15.500,0.000,0.000,40.500,450000.000,240994.283,481988.565,245781.000,122890.500,245781.000,0.000,15994.282,31988.565,0.000,0.000,0.000,-34.000,0.000,10.000,20.000,-1437.000,-476.000,-974.500,123956.700,-1072.000,85.000,-574.800,-661.333,0.000,0.000,2091.161,135000.000,63844.500,383067.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-47.000,0.000,15.000,90.000
100003,-2586,-606,-1400.750,827783.583,-2434.000,1216.000,-544.500,-816.000,0,0.000,0.000,810000.000,254350.125,1017400.500,0.000,0.000,0.000,0.000,202500.000,810000.000,nan,nan,0,nan,nan,nan,0.000,0.250,0.000,0.750,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,0.500,0.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,-606.000,-606.000,-606.000,nan,1216.000,1216.000,1216.000,-43.000,0.000,0.000,0.000,810000.000,810000.000,810000.000,0.000,0.000,0.000,0.000,810000.000,810000.000,nan,nan,0.000,nan,nan,nan,0.000,-2586.000,-775.000,-1665.667,820590.333,-2434.000,-420.000,-1131.333,-1073.667,0.000,0.000,0.000,112500.000,69133.500,207400.500,0.000,0.000,0.000,0.000,0.000,0.000,nan,nan,0.000,nan,nan,nan,0.000
100004,-1326,-408,-867.000,421362.000,-595.000,-382.000,-488.500,-532.000,0,0.000,0.000,94537.800,94518.900,189037.800,0.000,0.000,0.000,0.000,0.000,0.000,nan,nan,0,nan,nan,nan,0.000,0.000,0.000,1.000,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,-1326.000,-408.000,-867.000,421362.000,-595.000,-382.000,-488.500,-532.000,0.000,0.000,0.000,94537.800,94518.900,189037.800,0.000,0.000,0.000,0.000,0.000,0.000,nan,nan,0.000,nan,nan,nan,0.000
100005,-373,-62,-190.667,26340.333,-128.000,1324.000,439.333,-54.333,0,0.000,0.000,568800.000,219042.000,657126.000,543087.000,189469.500,568408.500,0.000,0.000,0.000,4261.500,1420.500,0,-12.000,0.000,7.000,21.000,0.667,0.000,0.333,0.000,0,1.000,0.000,0.000,0.000,0,0.000,0.000,0.000,0.667,0.333,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0,0.735,0.000,0.000,0.000,0.000,0.000,0.128,0.137,0.000,-137.000,-62.000,-99.500,2812.500,122.000,1324.000,723.000,-21.000,0.000,0.000,0.000,568800.000,299313.000,598626.000,543087.000,284204.250,568408.500,0.000,0.000,0.000,4261.500,2130.750,0.000,-4.000,0.000,4.000,8.000,-373.000,-373.000,-373.000,nan,-128.000,-128.000,-128.000,-121.000,0.000,0.000,nan,58500.000,58500.000,58500.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-12.000,0.000,13.000,13.000

## previous_application

In [142]:
missingTable(previous_application)

                              n_miss  ratio
RATE_INTEREST_PRIVILEGED     1664263 99.644
RATE_INTEREST_PRIMARY        1664263 99.644
RATE_DOWN_PAYMENT             895844 53.636
AMT_DOWN_PAYMENT              895844 53.636
NAME_TYPE_SUITE               820405 49.120
DAYS_TERMINATION              673065 40.298
NFLAG_INSURED_ON_APPROVAL     673065 40.298
DAYS_FIRST_DRAWING            673065 40.298
DAYS_FIRST_DUE                673065 40.298
DAYS_LAST_DUE_1ST_VERSION     673065 40.298
DAYS_LAST_DUE                 673065 40.298
AMT_GOODS_PRICE               385515 23.082
AMT_ANNUITY                   372235 22.287
CNT_PAYMENT                   372230 22.286
PRODUCT_COMBINATION              346  0.021
AMT_CREDIT                         1  0.000
SK_ID_CURR                         0  0.000
NAME_CONTRACT_TYPE                 0  0.000
WEEKDAY_APPR_PROCESS_START         0  0.000
HOUR_APPR_PROCESS_START            0  0.000
FLAG_LAST_APPL_PER_CONTRACT        0  0.000
NFLAG_LAST_APPL_IN_DAY             0  0.000
AMT_APPLICATION                    0  0.000
NAME_PAYMENT_TYPE                  0  0.000
NAME_CASH_LOAN_PURPOSE             0  0.000
NAME_CONTRACT_STATUS               0  0.000
DAYS_DECISION                      0  0.000
CODE_REJECT_REASON                 0  0.000
NAME_CLIENT_TYPE                   0  0.000
NAME_GOODS_CATEGORY                0  0.000
NAME_PORTFOLIO                     0  0.000
NAME_PRODUCT_TYPE                  0  0.000
CHANNEL_TYPE                       0  0.000
SELLERPLACE_AREA                   0  0.000
NAME_SELLER_INDUSTRY               0  0.000
NAME_YIELD_GROUP                   0  0.000
SK_ID_PREV                         0  0.000

In [143]:
hasVarOutliers(previous_application)

AMT_ANNUITY ----HAS OUTLIERS
AMT_APPLICATION ----HAS OUTLIERS
AMT_CREDIT ----HAS OUTLIERS
AMT_DOWN_PAYMENT ----HAS OUTLIERS
AMT_GOODS_PRICE ----HAS OUTLIERS
SELLERPLACE_AREA ----HAS OUTLIERS

In [144]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.000,17145.000,0.000,17145.000,SATURDAY,15,Y,1,0.000,0.183,0.867,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.000,middle,POS mobile with interest,365243.000,-42.000,300.000,-42.000,-37.000,0.000
1,2802425,108129,Cash loans,25188.615,607500.000,679671.000,nan,607500.000,THURSDAY,11,Y,1,nan,nan,nan,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.000,low_action,Cash X-Sell: low,365243.000,-134.000,916.000,365243.000,365243.000,1.000
2,2523466,122040,Cash loans,15060.735,112500.000,136444.500,nan,112500.000,TUESDAY,11,Y,1,nan,nan,nan,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.000,high,Cash X-Sell: high,365243.000,-271.000,59.000,365243.000,365243.000,1.000
3,2819243,176158,Cash loans,47041.335,450000.000,470790.000,nan,450000.000,MONDAY,7,Y,1,nan,nan,nan,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.000,middle,Cash X-Sell: middle,365243.000,-482.000,-152.000,-182.000,-177.000,1.000
4,1784265,202054,Cash loans,31924.395,337500.000,404055.000,nan,337500.000,THURSDAY,9,Y,1,nan,nan,nan,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.000,high,Cash Street: high,nan,nan,nan,nan,nan,nan

In [145]:
prev, prev_cat_cols = one_hot_encoder(previous_application)

In [146]:
prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)
    # Add feature: value ask / value received percentage
prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']

In [147]:
# Previous applications numeric features
num_aggregations = {
        'AMT_ANNUITY': ['min', 'max', 'mean'],
        'AMT_APPLICATION': ['min', 'max', 'mean'],
        'AMT_CREDIT': ['min', 'max', 'mean'],
        'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
        'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
        'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
        'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'DAYS_DECISION': ['min', 'max', 'mean'],
        'CNT_PAYMENT': ['mean', 'sum']}

In [148]:
cat_aggregations = {}
for cat in prev_cat_cols:
    cat_aggregations[cat] = ['mean']

In [149]:
prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])

In [150]:
# Previous Applications: Approved Applications - only numerical features
approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')

In [151]:
# Previous Applications: Refused Applications - only numerical features
refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')

## POS_CASH_balance

In [152]:
missingTable(POS_CASH_balance)

                       n_miss  ratio
CNT_INSTALMENT_FUTURE   26087  0.261
CNT_INSTALMENT          26071  0.261
SK_DPD_DEF                  0  0.000
SK_DPD                      0  0.000
NAME_CONTRACT_STATUS        0  0.000
MONTHS_BALANCE              0  0.000
SK_ID_CURR                  0  0.000
SK_ID_PREV                  0  0.000

In [153]:
hasVarOutliers(POS_CASH_balance)

SK_DPD ----HAS OUTLIERS
SK_DPD_DEF ----HAS OUTLIERS

In [154]:
pos, pos_cash_balance_cat_cols = one_hot_encoder(POS_CASH_balance)

In [155]:
aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size'],
        'SK_DPD': ['max', 'mean'],
        'SK_DPD_DEF': ['max', 'mean']
    }
for cat in pos_cash_balance_cat_cols: aggregations[cat] = ['mean']

In [156]:
pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
# Count pos cash accounts
pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()

## installments_payments

In [157]:
ins, installments_payments_cat_cols = one_hot_encoder(installments_payments)

In [158]:
# Percentage and difference paid in each installment (amount paid and installment value)
ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']

# Days past due and days before due (no negative values)
ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)

In [159]:
# Features: Perform aggregations
aggregations = {
        'NUM_INSTALMENT_VERSION': ['nunique'],
        'DPD': ['max', 'mean', 'sum'],
        'DBD': ['max', 'mean', 'sum'],
        'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
        'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
        'AMT_INSTALMENT': ['max', 'mean', 'sum'],
        'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
        'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
    }

for cat in installments_payments_cat_cols: aggregations[cat] = ['mean']
ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])

# Count installments accounts
ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()

In [160]:
ins.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,PAYMENT_PERC,PAYMENT_DIFF,DPD,DBD
0,1054186,161674,1.000,6,-1180.000,-1187.000,6948.360,6948.360,1.000,0.000,0.000,7.000
1,1330831,151639,0.000,34,-2156.000,-2156.000,1716.525,1716.525,1.000,0.000,0.000,0.000
2,2085231,193053,2.000,1,-63.000,-63.000,25425.000,25425.000,1.000,0.000,0.000,0.000
3,2452527,199697,1.000,3,-2418.000,-2426.000,24350.130,24350.130,1.000,0.000,0.000,8.000
4,2714724,167756,1.000,2,-1383.000,-1366.000,2165.040,2160.585,0.998,4.455,17.000,0.000

## credit_card_balance

In [161]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.000,877.500,0.000,877.500,1700.325,1800.000,1800.000,0.000,0.000,0.000,0.000,1,0.000,1.000,35.000,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.000,2250.000,0.000,0.000,2250.000,2250.000,2250.000,60175.080,64875.555,64875.555,1.000,1,0.000,0.000,69.000,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.000,0.000,0.000,0.000,2250.000,2250.000,2250.000,26926.425,31460.085,31460.085,0.000,0,0.000,0.000,30.000,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.000,2250.000,0.000,0.000,11795.760,11925.000,11925.000,224949.285,233048.970,233048.970,1.000,1,0.000,0.000,10.000,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.000,11547.000,0.000,11547.000,22924.890,27000.000,27000.000,443044.395,453919.455,453919.455,0.000,1,0.000,1.000,101.000,Active,0,0

In [162]:
cc, cc_cat_cols = one_hot_encoder(credit_card_balance  )

# General aggregations
cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])

# Count credit card lines
cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()

In [163]:
cc_agg.head()

,CC_MONTHS_BALANCE_MIN,CC_MONTHS_BALANCE_MAX,CC_MONTHS_BALANCE_MEAN,CC_MONTHS_BALANCE_SUM,CC_MONTHS_BALANCE_VAR,CC_AMT_BALANCE_MIN,CC_AMT_BALANCE_MAX,CC_AMT_BALANCE_MEAN,CC_AMT_BALANCE_SUM,CC_AMT_BALANCE_VAR,CC_AMT_CREDIT_LIMIT_ACTUAL_MIN,CC_AMT_CREDIT_LIMIT_ACTUAL_MAX,CC_AMT_CREDIT_LIMIT_ACTUAL_MEAN,CC_AMT_CREDIT_LIMIT_ACTUAL_SUM,CC_AMT_CREDIT_LIMIT_ACTUAL_VAR,CC_AMT_DRAWINGS_ATM_CURRENT_MIN,CC_AMT_DRAWINGS_ATM_CURRENT_MAX,CC_AMT_DRAWINGS_ATM_CURRENT_MEAN,CC_AMT_DRAWINGS_ATM_CURRENT_SUM,CC_AMT_DRAWINGS_ATM_CURRENT_VAR,CC_AMT_DRAWINGS_CURRENT_MIN,CC_AMT_DRAWINGS_CURRENT_MAX,CC_AMT_DRAWINGS_CURRENT_MEAN,CC_AMT_DRAWINGS_CURRENT_SUM,CC_AMT_DRAWINGS_CURRENT_VAR,CC_AMT_DRAWINGS_OTHER_CURRENT_MIN,CC_AMT_DRAWINGS_OTHER_CURRENT_MAX,CC_AMT_DRAWINGS_OTHER_CURRENT_MEAN,CC_AMT_DRAWINGS_OTHER_CURRENT_SUM,CC_AMT_DRAWINGS_OTHER_CURRENT_VAR,CC_AMT_DRAWINGS_POS_CURRENT_MIN,CC_AMT_DRAWINGS_POS_CURRENT_MAX,CC_AMT_DRAWINGS_POS_CURRENT_MEAN,CC_AMT_DRAWINGS_POS_CURRENT_SUM,CC_AMT_DRAWINGS_POS_CURRENT_VAR,CC_AMT_INST_MIN_REGULARITY_MIN,CC_AMT_INST_MIN_REGULARITY_MAX,CC_AMT_INST_MIN_REGULARITY_MEAN,CC_AMT_INST_MIN_REGULARITY_SUM,CC_AMT_INST_MIN_REGULARITY_VAR,CC_AMT_PAYMENT_CURRENT_MIN,CC_AMT_PAYMENT_CURRENT_MAX,CC_AMT_PAYMENT_CURRENT_MEAN,CC_AMT_PAYMENT_CURRENT_SUM,CC_AMT_PAYMENT_CURRENT_VAR,CC_AMT_PAYMENT_TOTAL_CURRENT_MIN,CC_AMT_PAYMENT_TOTAL_CURRENT_MAX,CC_AMT_PAYMENT_TOTAL_CURRENT_MEAN,CC_AMT_PAYMENT_TOTAL_CURRENT_SUM,CC_AMT_PAYMENT_TOTAL_CURRENT_VAR,CC_AMT_RECEIVABLE_PRINCIPAL_MIN,CC_AMT_RECEIVABLE_PRINCIPAL_MAX,CC_AMT_RECEIVABLE_PRINCIPAL_MEAN,CC_AMT_RECEIVABLE_PRINCIPAL_SUM,CC_AMT_RECEIVABLE_PRINCIPAL_VAR,CC_AMT_RECIVABLE_MIN,CC_AMT_RECIVABLE_MAX,CC_AMT_RECIVABLE_MEAN,CC_AMT_RECIVABLE_SUM,CC_AMT_RECIVABLE_VAR,CC_AMT_TOTAL_RECEIVABLE_MIN,CC_AMT_TOTAL_RECEIVABLE_MAX,CC_AMT_TOTAL_RECEIVABLE_MEAN,CC_AMT_TOTAL_RECEIVABLE_SUM,CC_AMT_TOTAL_RECEIVABLE_VAR,CC_CNT_DRAWINGS_ATM_CURRENT_MIN,CC_CNT_DRAWINGS_ATM_CURRENT_MAX,CC_CNT_DRAWINGS_ATM_CURRENT_MEAN,CC_CNT_DRAWINGS_ATM_CURRENT_SUM,CC_CNT_DRAWINGS_ATM_CURRENT_VAR,CC_CNT_DRAWINGS_CURRENT_MIN,CC_CNT_DRAWINGS_CURRENT_MAX,CC_CNT_DRAWINGS_CURRENT_MEAN,CC_CNT_DRAWINGS_CURRENT_SUM,CC_CNT_DRAWINGS_CURRENT_VAR,CC_CNT_DRAWINGS_OTHER_CURRENT_MIN,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX,CC_CNT_DRAWINGS_OTHER_CURRENT_MEAN,CC_CNT_DRAWINGS_OTHER_CURRENT_SUM,CC_CNT_DRAWINGS_OTHER_CURRENT_VAR,CC_CNT_DRAWINGS_POS_CURRENT_MIN,CC_CNT_DRAWINGS_POS_CURRENT_MAX,CC_CNT_DRAWINGS_POS_CURRENT_MEAN,CC_CNT_DRAWINGS_POS_CURRENT_SUM,CC_CNT_DRAWINGS_POS_CURRENT_VAR,CC_CNT_INSTALMENT_MATURE_CUM_MIN,CC_CNT_INSTALMENT_MATURE_CUM_MAX,CC_CNT_INSTALMENT_MATURE_CUM_MEAN,CC_CNT_INSTALMENT_MATURE_CUM_SUM,CC_CNT_INSTALMENT_MATURE_CUM_VAR,CC_SK_DPD_MIN,CC_SK_DPD_MAX,CC_SK_DPD_MEAN,CC_SK_DPD_SUM,CC_SK_DPD_VAR,CC_SK_DPD_DEF_MIN,CC_SK_DPD_DEF_MAX,CC_SK_DPD_DEF_MEAN,CC_SK_DPD_DEF_SUM,CC_SK_DPD_DEF_VAR,CC_NAME_CONTRACT_STATUS_Active_MIN,CC_NAME_CONTRACT_STATUS_Active_MAX,CC_NAME_CONTRACT_STATUS_Active_MEAN,CC_NAME_CONTRACT_STATUS_Active_SUM,CC_NAME_CONTRACT_STATUS_Active_VAR,CC_NAME_CONTRACT_STATUS_Approved_MIN,CC_NAME_CONTRACT_STATUS_Approved_MAX,CC_NAME_CONTRACT_STATUS_Approved_MEAN,CC_NAME_CONTRACT_STATUS_Approved_SUM,CC_NAME_CONTRACT_STATUS_Approved_VAR,CC_NAME_CONTRACT_STATUS_Completed_MIN,CC_NAME_CONTRACT_STATUS_Completed_MAX,CC_NAME_CONTRACT_STATUS_Completed_MEAN,CC_NAME_CONTRACT_STATUS_Completed_SUM,CC_NAME_CONTRACT_STATUS_Completed_VAR,CC_NAME_CONTRACT_STATUS_Demand_MIN,CC_NAME_CONTRACT_STATUS_Demand_MAX,CC_NAME_CONTRACT_STATUS_Demand_MEAN,CC_NAME_CONTRACT_STATUS_Demand_SUM,CC_NAME_CONTRACT_STATUS_Demand_VAR,CC_NAME_CONTRACT_STATUS_Refused_MIN,CC_NAME_CONTRACT_STATUS_Refused_MAX,CC_NAME_CONTRACT_STATUS_Refused_MEAN,CC_NAME_CONTRACT_STATUS_Refused_SUM,CC_NAME_CONTRACT_STATUS_Refused_VAR,CC_NAME_CONTRACT_STATUS_Sent proposal_MIN,CC_NAME_CONTRACT_STATUS_Sent proposal_MAX,CC_NAME_CONTRACT_STATUS_Sent proposal_MEAN,CC_NAME_CONTRACT_STATUS_Sent proposal_SUM,CC_NAME_CONTRACT_STATUS_Sent proposal_VAR,CC_NAME_CONTRACT_STATUS_Signed_MIN,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100006,-6,-1,-3.500,-21,3.500,0.000,0.000,0.000,0.000,0.000,270000,270000,270000.000,1620000,0.000,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,0,0,0.000,0,0.000,nan,nan,nan,0.000,nan,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,1,1,1.000,6,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0,0,0.000,6
100011,-75,-2,-38.500,-2849,462.500,0.000,189000.000,54482.111,4031676.225,4641320594.329,90000,180000,164189.189,12150000,1189059607.553,0.000,180000.000,2432.432,180000.000,437837837.838,0.000,180000.000,2432.432,180000.000,437837837.838,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,9000.000,3956.222,288804.195,20139906.433,0.000,55485.000,4843.064,358386.750,52992604.622,0.000,55485.000,4520.068,334485.000,55858772.941,0.000,180000.000,52402.089,3877754.580,4324222845.491,-563.355,189000.000,54433.179,4028055.255,4646735924.648,-563.355,189000.000,54433.179,4028055.255,4646735924.648,0.000,4.000,0.054,4.000,0.216,0,4,0.054,4,0.216,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,33.000,25.767,1881.000,105.848,0,0,0.000,0,0.000,0,0,0.000,0,0.000,1,1,1.000,74,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0,0,0.000,74
100013,-96,-1,-48.500,-4656,776.000,0.000,161420.220,18159.919,1743352.245,1869473363.853,45000,157500,131718.750,12645000,2259251644.737,0.000,157500.000,6350.000,571500.000,824968820.225,0.000,157500.000,5953.125,571500.000,775253042.763,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,7875.000,1454.540,129454.020,9171262.912,0.000,153675.000,7168.346,688161.240,467690118.375,0.000,153675.000,6817.172,654448.545,472221378.030,0.000,157500.000,17255.560,1656533.745,1704017383.130,-274.320,161420.220,18101.080,1737703.665,1871602922.142,-274.320,161420.220,18101.080,1737703.665,1871602922.142,0.000,7.000,0.256,23.000,1.406,0,7,0.240,23,1.321,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,22.000,18.719,1666.000,34.250,0,1,0.010,1,0.010,0,1,0.010,1,0.010,1,1,1.000,96,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0,0,0.000,96
100021,-18,-2,-10.000,-170,25.500,0.000,0.000,0.000,0.000,0.000,675000,675000,675000.000,11475000,0.000,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,0,0,0.000,0,0.000,nan,nan,nan,0.000,nan,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,1,0.412,7,0.257,0,0,0.000,0,0.000,0,1,0.588,10,0.257,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0,0,0.000,17
100023,-11,-4,-7.500,-60,6.000,0.000,0.000,0.000,0.000,0.000,45000,225000,135000.000,1080000,9257142857.143,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,nan,nan,nan,0.000,nan,0,0,0.000,0,0.000,nan,nan,nan,0.000,nan,nan,nan,nan,0.000,nan,0.000,0.000,0.000,0.000,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,1,1,1.000,8,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0.000,0,0.000,0,0,0,0,0.000,8

## All df

In [640]:
app_train.head()

,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,AMT_ANNUITY,CNT_FAM_MEMBERS,DAYS_LAST_PHONE_CHANGE,AMT_CREDIT,FLAG_OWN_CAR,FLAG_EMAIL,FLAG_PHONE,FLAG_CONT_MOBILE,FLAG_WORK_PHONE,FLAG_EMP_PHONE,FLAG_MOBIL,NAME_CONTRACT_TYPE,FLAG_OWN_REALTY,AMT_INCOME_TOTAL,DAYS_ID_PUBLISH,DAYS_REGISTRATION,DAYS_EMPLOYED,DAYS_BIRTH,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,CNT_CHILDREN,REG_REGION_NOT_LIVE_REGION,REGION_RATING_CLIENT_W_CITY,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,LIVE_REGION_NOT_WORK_REGION,REG_REGION_NOT_WORK_REGION,HOUR_APPR_PROCESS_START,SK_ID_CURR,EXT_SOURCE_1,EXT_SOURCE_3,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_TYPE_SUITE_nan,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_FAMILY_STATUS_nan,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_EDUCATION_TYPE_nan,NAME_INCOME_TYPE_Businessman,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_INCOME_TYPE_nan,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,NAME_HOUSING_TYPE_nan,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_nan,ORGANIZATION_TYPE_Advertising,ORGANIZATION_TYPE_Agriculture,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Business Entity Type 2,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Construction,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Emergency,ORGANIZATION_TYPE_Government,ORGANIZATION_TYPE_Hotel,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 1,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 12,ORGANIZATION_TYPE_Industry: type 13,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 7,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Legal Services,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_Police,ORGANIZATION_TYPE_Postal,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Religion,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Security Ministries,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Services,ORGANIZATION_TYPE_Telecom,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,ORGANIZATION_TYPE_nan,TARGET,CREDIT_INCOME_PERCENT,ANNUITY_INCOME_PERCENT,CREDIT_TERM,DAYS_EMPLOYED_PERCENT,CALC_INCOME_PER_PERSON,CALC_GOODS_PRICE_PER
0,2.000,2.000,2.000,2.000,0.263,351000.000,24700.500,1.000,-1134.000,406597.500,0,0,1,1,0,1,1,0,1,202500.000,-2120,-3648.000,-637.000,-9461,0.019,2,0.000,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,100002,0.083,0.139,1.000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2.008,0.122,0.061,0.067,202500.000,0.863
1,1.000,1.000,0.000,0.000,0.622,1129500.000,35698.500,2.000,-828.000,1293502.500,0,0,1,1,0,1,1,0,0,270000.000,-291,-1186.000,-1188.000,-16765,0.004,1,0.000,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11,100003,0.311,nan,0.000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.791,0.132,0.028,0.071,135000.000,0.873
2,0.000,0.000,0.000,0.000,0.556,135000.000,6750.000,1.000,-815.000,135000.000,1,0,1,1,1,1,1,1,1,67500.000,-2531,-4260.000,-225.000,-19046,0.010,2,0.000,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9,100004,nan,0.730,0.000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.000,0.100,0.050,0.012,67500.000,1.000
3,2.000,2.000,0.000,0.000,0.650,297000.000,29686.500,2.000,-617.000,312682.500,0,0,0,1,0,1,1,0,1,135000.000,-2437,-9833.000,-3039.000,-19005,0.008,2,0.000,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,100006,nan,nan,nan,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2.316,0.220,0.095,0.160,67500.000,0.950
4,0.000,0.000,0.000,0.000,0.323,513000.000,21865.500,1.000,-1106.000,513000.000,0,0,0,1,0,1,1,0,1,121500.000,-3458,-4311.000,-3038.000,-19932,0.029,2,0.000,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,11,100007,nan,nan,0.000,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4.222,0.180,0.043,0.152,121500.000,1.000

In [166]:
app_train["AMT_ANNUITY"].head()

0   24700.500
1   35698.500
2    6750.000
3   29686.500
4   21865.500
Name: AMT_ANNUITY, dtype: float64

In [167]:
bureau.head()

,SK_ID_CURR,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_ACTIVE_nan,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_CURRENCY_nan,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,CREDIT_TYPE_nan,MONTHS_BALANCE_MIN,MONTHS_BALANCE_MAX,MONTHS_BALANCE_SIZE,STATUS_0_MEAN,STATUS_1_MEAN,STATUS_2_MEAN,STATUS_3_MEAN,STATUS_4_MEAN,STATUS_5_MEAN,STATUS_C_MEAN,STATUS_X_MEAN,STATUS_nan_MEAN
0,215354,-497,0,-153.000,-153.000,nan,0,91323.000,0.000,nan,0.000,-131,nan,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,215354,-208,0,1075.000,nan,nan,0,225000.000,171342.000,nan,0.000,-20,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,215354,-203,0,528.000,nan,nan,0,464323.500,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,215354,-203,0,nan,nan,nan,0,90000.000,nan,nan,0.000,-16,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,215354,-629,0,1197.000,nan,77674.500,0,2700000.000,nan,nan,0.000,-21,nan,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [168]:
df = app_train.join(bureau_agg, how='left', on='SK_ID_CURR')
df = df.join(prev_agg, how='left', on='SK_ID_CURR')
df = df.join(pos_agg, how='left', on='SK_ID_CURR')
df = df.join(ins_agg, how='left', on='SK_ID_CURR')
df = df.join(cc_agg, how='left', on='SK_ID_CURR')

In [181]:
test = app_test.join(bureau_agg, how='left', on='SK_ID_CURR')
test = test.join(prev_agg, how='left', on='SK_ID_CURR')
test = test.join(pos_agg, how='left', on='SK_ID_CURR')
test = test.join(ins_agg, how='left', on='SK_ID_CURR')
test = test.join(cc_agg, how='left', on='SK_ID_CURR')

# Base Model

In [182]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Y = df["TARGET"]
X = df.drop(['TARGET', 'SK_ID_CURR'], axis=1)

X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size = 0.20, random_state = 46)

In [191]:
from lightgbm import LGBMClassifier

lgb = LGBMClassifier(n_estimators=10000)
lgb.fit(X_train, Y_train)

print("Train Accuracy:",round(accuracy_score(lgb.predict(X_train), Y_train) * 100, 2))
print("Validation Accuracy:",round(accuracy_score(lgb.predict(X_val), Y_val) * 100, 2))

Train Accuracy: 100.0
Validation Accuracy: 91.91

In [192]:
submission = test[['SK_ID_CURR']]

In [193]:
test_base = test.drop(["SK_ID_CURR"], axis=1)

In [194]:
y_pred = lgb.predict(test_base)

In [195]:
submission["TARGET"] = y_pred

In [196]:
submission.head()

   SK_ID_CURR  TARGET
0      100001       0
1      100005       0
2      100013       0
3      100028       0
4      100038       0

In [197]:
submission.to_csv('lightgbm_base2.csv', index = False)

# Advanced Modeling

In [231]:
import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [202]:
from sklearn.model_selection import KFold, StratifiedKFold

In [219]:
folds = KFold(n_splits = 5, shuffle=True, random_state=1001) #Whether to shuffle the data before splitting into batches.

In [208]:
oof_preds = np.zeros(df.shape[0])
sub_preds = np.zeros(test.shape[0])
feature_importance_df = pd.DataFrame()

In [206]:
oof_preds.shape

(307511,)

In [207]:
sub_preds.shape

(48744,)

In [209]:
feats = [f for f in df.columns if f not in ['TARGET','SK_ID_CURR','SK_ID_BUREAU','SK_ID_PREV','index']]

In [226]:
#enumerate 3 nesne oluşturacak. 1: n_fold'lar, 2:train indexleri, 3: validasyon indeksleri
for n_fold, (train_idx, valid_idx) in enumerate(folds.split(df[feats], df['TARGET'])):
        print(n_fold, train_idx, valid_idx)

0 [     0      1      4 ... 307502 307508 307510] [     2      3      5 ... 307506 307507 307509]
1 [     2      3      4 ... 307508 307509 307510] [     0      1     10 ... 307488 307489 307500]
2 [     0      1      2 ... 307508 307509 307510] [     6     13     15 ... 307477 307491 307499]
3 [     0      1      2 ... 307507 307508 307509] [     4      9     20 ... 307501 307502 307510]
4 [     0      1      2 ... 307507 307509 307510] [     7     11     12 ... 307481 307497 307508]

In [232]:
for n_fold, (train_idx, valid_idx) in enumerate(folds.split(df[feats], df['TARGET'])):
        train_x, train_y = df[feats].iloc[train_idx], df['TARGET'].iloc[train_idx]
        valid_x, valid_y = df[feats].iloc[valid_idx], df['TARGET'].iloc[valid_idx]
        
        clf = LGBMClassifier(
            n_estimators=10000,
            learning_rate=0.02,
            num_leaves=34,
            colsample_bytree=0.9497036,
            subsample=0.8715623,
            max_depth=8,
            reg_alpha=0.041545473,
            reg_lambda=0.0735294,
            min_split_gain=0.0222415,
            min_child_weight=39.3259775,
            silent=-1,
            verbose=-1)
        
        clf.fit(train_x, train_y, eval_set = [(train_x, train_y), (valid_x, valid_y)], 
            eval_metric= 'auc', verbose = 200, early_stopping_rounds = 200)
        
        oof_preds[valid_idx] = clf.predict_proba(valid_x, num_iteration=clf.best_iteration_)[:, 1]
        sub_preds += clf.predict_proba(test[feats], num_iteration=clf.best_iteration_)[:, 1] / folds.n_splits
        
        fold_importance_df = pd.DataFrame()
        fold_importance_df["feature"] = feats
        fold_importance_df["importance"] = clf.feature_importances_
        fold_importance_df["fold"] = n_fold + 1
        feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
        print('Fold %2d AUC : %.6f' % (n_fold + 1, roc_auc_score(valid_y, oof_preds[valid_idx])))

Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.797307	training's binary_logloss: 0.23414	valid_1's auc: 0.776112	valid_1's binary_logloss: 0.246012
[400]	training's auc: 0.820501	training's binary_logloss: 0.224429	valid_1's auc: 0.786061	valid_1's binary_logloss: 0.241936
[600]	training's auc: 0.836016	training's binary_logloss: 0.218166	valid_1's auc: 0.789163	valid_1's binary_logloss: 0.240691
[800]	training's auc: 0.848233	training's binary_logloss: 0.213156	valid_1's auc: 0.790218	valid_1's binary_logloss: 0.240244
[1000]	training's auc: 0.859142	training's binary_logloss: 0.208549	valid_1's auc: 0.790746	valid_1's binary_logloss: 0.240031
[1200]	training's auc: 0.869069	training's binary_logloss: 0.204177	valid_1's auc: 0.791176	valid_1's binary_logloss: 0.239849
[1400]	training's auc: 0.878009	training's binary_logloss: 0.200112	valid_1's auc: 0.791295	valid_1's binary_logloss: 0.239775
[1600]	training's auc: 0.88624	training's binary_logloss: 0.196205	valid_1's auc: 0.791352	valid_1's binary_logloss: 0.239744
Early stopping, best iteration is:
[1585]	training's auc: 0.885648	training's binary_logloss: 0.196502	valid_1's auc: 0.791398	valid_1's binary_logloss: 0.23973
Fold  1 AUC : 0.791398
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.796876	training's binary_logloss: 0.234954	valid_1's auc: 0.775478	valid_1's binary_logloss: 0.243135
[400]	training's auc: 0.82007	training's binary_logloss: 0.225299	valid_1's auc: 0.785505	valid_1's binary_logloss: 0.239054
[600]	training's auc: 0.835553	training's binary_logloss: 0.218991	valid_1's auc: 0.78913	valid_1's binary_logloss: 0.237677
[800]	training's auc: 0.847704	training's binary_logloss: 0.21399	valid_1's auc: 0.790514	valid_1's binary_logloss: 0.237097
[1000]	training's auc: 0.858992	training's binary_logloss: 0.209286	valid_1's auc: 0.791569	valid_1's binary_logloss: 0.236739
[1200]	training's auc: 0.868928	training's binary_logloss: 0.204933	valid_1's auc: 0.792217	valid_1's binary_logloss: 0.236534
[1400]	training's auc: 0.877944	training's binary_logloss: 0.200858	valid_1's auc: 0.792413	valid_1's binary_logloss: 0.236395
[1600]	training's auc: 0.886461	training's binary_logloss: 0.196875	valid_1's auc: 0.792813	valid_1's binary_logloss: 0.236275
[1800]	training's auc: 0.894178	training's binary_logloss: 0.193013	valid_1's auc: 0.792867	valid_1's binary_logloss: 0.236244
Early stopping, best iteration is:
[1681]	training's auc: 0.889631	training's binary_logloss: 0.195296	valid_1's auc: 0.792947	valid_1's binary_logloss: 0.236242
Fold  2 AUC : 0.792947
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.798567	training's binary_logloss: 0.235358	valid_1's auc: 0.766736	valid_1's binary_logloss: 0.241243
[400]	training's auc: 0.821591	training's binary_logloss: 0.22554	valid_1's auc: 0.776226	valid_1's binary_logloss: 0.237855
[600]	training's auc: 0.836843	training's binary_logloss: 0.219283	valid_1's auc: 0.779503	valid_1's binary_logloss: 0.236806
[800]	training's auc: 0.849605	training's binary_logloss: 0.214011	valid_1's auc: 0.781149	valid_1's binary_logloss: 0.23628
[1000]	training's auc: 0.860531	training's binary_logloss: 0.209377	valid_1's auc: 0.781833	valid_1's binary_logloss: 0.236058
[1200]	training's auc: 0.870544	training's binary_logloss: 0.204983	valid_1's auc: 0.782243	valid_1's binary_logloss: 0.235966
[1400]	training's auc: 0.879279	training's binary_logloss: 0.200919	valid_1's auc: 0.782295	valid_1's binary_logloss: 0.235968
[1600]	training's auc: 0.887787	training's binary_logloss: 0.196891	valid_1's auc: 0.78252	valid_1's binary_logloss: 0.235925
[1800]	training's auc: 0.895355	training's binary_logloss: 0.193167	valid_1's auc: 0.782393	valid_1's binary_logloss: 0.235976
Early stopping, best iteration is:
[1603]	training's auc: 0.887918	training's binary_logloss: 0.196825	valid_1's auc: 0.782543	valid_1's binary_logloss: 0.235915
Fold  3 AUC : 0.782543
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.798294	training's binary_logloss: 0.234867	valid_1's auc: 0.772063	valid_1's binary_logloss: 0.242721
[400]	training's auc: 0.821489	training's binary_logloss: 0.224988	valid_1's auc: 0.782003	valid_1's binary_logloss: 0.238726
[600]	training's auc: 0.837296	training's binary_logloss: 0.218506	valid_1's auc: 0.785769	valid_1's binary_logloss: 0.237432
[800]	training's auc: 0.849973	training's binary_logloss: 0.213254	valid_1's auc: 0.787446	valid_1's binary_logloss: 0.236885
[1000]	training's auc: 0.860549	training's binary_logloss: 0.208666	valid_1's auc: 0.78818	valid_1's binary_logloss: 0.236625
[1200]	training's auc: 0.870507	training's binary_logloss: 0.204267	valid_1's auc: 0.788659	valid_1's binary_logloss: 0.236488
[1400]	training's auc: 0.879707	training's binary_logloss: 0.200003	valid_1's auc: 0.789233	valid_1's binary_logloss: 0.236337
[1600]	training's auc: 0.887607	training's binary_logloss: 0.196187	valid_1's auc: 0.78946	valid_1's binary_logloss: 0.236306
[1800]	training's auc: 0.89497	training's binary_logloss: 0.192497	valid_1's auc: 0.789698	valid_1's binary_logloss: 0.23628
[2000]	training's auc: 0.901942	training's binary_logloss: 0.188937	valid_1's auc: 0.789751	valid_1's binary_logloss: 0.236283
Early stopping, best iteration is:
[1845]	training's auc: 0.896679	training's binary_logloss: 0.191642	valid_1's auc: 0.7898	valid_1's binary_logloss: 0.236239
Fold  4 AUC : 0.789800
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.796869	training's binary_logloss: 0.235865	valid_1's auc: 0.775886	valid_1's binary_logloss: 0.239589
[400]	training's auc: 0.820505	training's binary_logloss: 0.225934	valid_1's auc: 0.7851	valid_1's binary_logloss: 0.235776
[600]	training's auc: 0.836498	training's binary_logloss: 0.219405	valid_1's auc: 0.787816	valid_1's binary_logloss: 0.23461
[800]	training's auc: 0.849564	training's binary_logloss: 0.214056	valid_1's auc: 0.788833	valid_1's binary_logloss: 0.234143
[1000]	training's auc: 0.861214	training's binary_logloss: 0.209103	valid_1's auc: 0.789211	valid_1's binary_logloss: 0.233945
[1200]	training's auc: 0.871408	training's binary_logloss: 0.204572	valid_1's auc: 0.789422	valid_1's binary_logloss: 0.23383
[1400]	training's auc: 0.880828	training's binary_logloss: 0.200232	valid_1's auc: 0.789409	valid_1's binary_logloss: 0.233833
Early stopping, best iteration is:
[1263]	training's auc: 0.874345	training's binary_logloss: 0.203238	valid_1's auc: 0.789463	valid_1's binary_logloss: 0.233809
Fold  5 AUC : 0.789463

In [236]:
 print('Full AUC score %.6f' % roc_auc_score(df['TARGET'], oof_preds))

Full AUC score 0.789227

In [242]:
submission = pd.DataFrame()

In [243]:
submission["SK_ID_CURR"] = test["SK_ID_CURR"]

In [244]:
submission['TARGET'] = sub_preds

In [245]:
submission.head()

   SK_ID_CURR  TARGET
0      100001   0.032
1      100005   0.129
2      100013   0.039
3      100028   0.037
4      100038   0.170

In [247]:
submission.to_csv("lightgbm_kfold.csv", index= False)

# GridSearch CV

In [248]:
from sklearn.model_selection import GridSearchCV

## Base Model

In [ ]:
#from sklearn.model_selection import train_test_split

#X = train.drop(['Survived', 'PassengerId'], axis=1)
#Y = train["Survived"]
#X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size = 0.20, random_state = 1725)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Y = train_eng["TARGET"]
X = train_eng.drop(['TARGET', 'SK_ID_CURR'], axis=1)

X_train, X_val, Y_train, Y_val = train_test_split(X, Y, test_size = 0.20, random_state = 46)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_jobs = -1)
RF.fit(X_train, Y_train)

print("Train Accuracy:",round(accuracy_score(RF.predict(X_train), Y_train) * 100, 2))
print("Validation Accuracy:",round(accuracy_score(RF.predict(X_val), Y_val) * 100, 2))

In [ ]:
# Extract feature importances
features = list(X.columns)
feature_importance_values = random_forest.feature_importances_
feature_importances = pd.DataFrame({'feature': features, 'importance': feature_importance_values})

In [ ]:
feature_importances.sort_values("importance", ascending=False)

## LightGBM

In [ ]:
from lightgbm import LGBMClassifier

lgb = LGBMClassifier()


lgb.fit(X_train, Y_train)

In [ ]:
print("Train Accuracy:",round(accuracy_score(lgb.predict(X_train), Y_train) * 100, 2))
print("Validation Accuracy:",round(accuracy_score(lgb.predict(X_val), Y_val) * 100, 2))

In [ ]:
X_train.head()

### Submission

In [ ]:
submission = test_eng[['SK_ID_CURR']]

In [ ]:
test = test_eng.drop(["SK_ID_CURR"], axis=1)

In [ ]:
y_pred = RF.predict(test)

In [ ]:
submission["TARGET"] = y_pred

In [ ]:
submission.head()

In [ ]:
submission.to_csv('lightgbm_base.csv', index = False)

In [ ]:
# Make a new dataframe for polynomial features
poly_features = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH', 'TARGET']]
poly_features_test = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH']]

# imputer for handling missing values

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'median')


poly_target = poly_features['TARGET']

poly_features = poly_features.drop(columns = ['TARGET'])

# Need to impute missing values
poly_features = imputer.fit_transform(poly_features)
poly_features_test = imputer.transform(poly_features_test)

from sklearn.preprocessing import PolynomialFeatures
                                  
# Create the polynomial object with specified degree
poly_transformer = PolynomialFeatures(degree = 3)

In [ ]:
# Train the polynomial features
poly_transformer.fit(poly_features)

# Transform the features
poly_features = poly_transformer.transform(poly_features)
poly_features_test = poly_transformer.transform(poly_features_test)
print('Polynomial Features shape: ', poly_features.shape)

In [ ]:
poly_transformer.get_feature_names(input_features = ['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'DAYS_BIRTH'])[:15]

In [ ]:
#Create a dataframe of the features 
poly_features = pd.DataFrame(poly_features, 
                             columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                           'EXT_SOURCE_3', 'DAYS_BIRTH']))

# Add in the target
poly_features['TARGET'] = poly_target

In [ ]:
# Put test features into dataframe
poly_features_test = pd.DataFrame(poly_features_test, 
                                  columns = poly_transformer.get_feature_names(['EXT_SOURCE_1', 'EXT_SOURCE_2', 
                                                                                'EXT_SOURCE_3', 'DAYS_BIRTH']))

# Merge polynomial features into training dataframe
poly_features['SK_ID_CURR'] = app_train['SK_ID_CURR']
app_train_poly = app_train.merge(poly_features, on = 'SK_ID_CURR', how = 'left')

# Merge polnomial features into testing dataframe
poly_features_test['SK_ID_CURR'] = app_test['SK_ID_CURR']
app_test_poly = app_test.merge(poly_features_test, on = 'SK_ID_CURR', how = 'left')

# Align the dataframes
app_train_poly, app_test_poly = app_train_poly.align(app_test_poly, join = 'inner', axis = 1)

# Print out the new shapes
print('Training data with polynomial features shape: ', app_train_poly.shape)
print('Testing data with polynomial features shape:  ', app_test_poly.shape)

## domain features

In [ ]:
# Drop the target from the training data
if 'TARGET' in app_train:
    train = app_train.drop(columns = ['TARGET'])
else:
    train = app_train.copy()
    
# Feature names
features = list(train.columns)

# Copy of the testing data
test = app_test.copy()

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = 'median')
imputer.fit(train)

In [ ]:
train = imputer.transform(train)
test = imputer.transform(app_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Make the random forest classifier
random_forest = RandomForestClassifier(n_estimators = 100, random_state = 50, verbose = 1, n_jobs = -1)

In [ ]:
train.head()

In [ ]:
train.isnull().sum().sum()

In [ ]:
# Train on the training data
from sklearn.ensemble import RandomForestClassifier

# Make the random forest classifier
random_forest = RandomForestClassifier(n_estimators = 100, random_state = 50, verbose = 1, n_jobs = -1)
random_forest.fit(train, train_labels)

# Extract feature importances
feature_importance_values = random_forest.feature_importances_
feature_importances = pd.DataFrame({'feature': features, 'importance': feature_importance_values})

# Make predictions on the test data
predictions = random_forest.predict_proba(test)[:, 1]

In [ ]:
submit = app_test[['SK_ID_CURR']]
submit['TARGET'] = predictions

# Save the submission dataframe
submit.to_csv('random_forest_baseline_engineered.csv', index = False)

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [ ]:
xgb_params = {
        'n_estimators': [200, 500],
        'subsample': [0.6, 1.0],
        'max_depth': [2,5,8],
        'learning_rate': [0.1,0.01,0.02],
        "min_samples_split": [2,5,10]}

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
xgb = GradientBoostingClassifier()

xgb_cv_model = GridSearchCV(xgb, xgb_params, cv = 10, n_jobs = -1, verbose = 2)

In [ ]:
xgb_cv_model.fit(train, train_labels)

In [ ]:
submit = app_test[['SK_ID_CURR']]
submit['TARGET'] = predictions

# Save the submission dataframe
submit.to_csv('random_forest_baseline_engineered.csv', index = False)

In [ ]:
#MANUAL FEATURE ENGINEERING ON APPLICATION DATA
df_final['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)

df_final['CALC_PERC_DAYS_EMPLOYED'] = df_final['DAYS_EMPLOYED'] / df_final['DAYS_BIRTH']
df_final['CALC_PERC_INCOME_CREDIT'] = df_final['AMT_INCOME_TOTAL'] /df_final['AMT_CREDIT']
df_final['CALC_INCOME_PER_PERSON'] = df_final['AMT_INCOME_TOTAL'] / df_final['CNT_FAM_MEMBERS']
df_final['CALC_ANNUITY_INCOME_PERC'] = df_final['AMT_ANNUITY'] / df_final['AMT_INCOME_TOTAL']
df_final['CALC_PAYMENT_RATE'] = df_final['AMT_ANNUITY'] / df_final['AMT_CREDIT']
df_final['CALC_GOODS_PRICE_PER']=df_final['AMT_GOODS_PRICE']/df_final['AMT_CREDIT']
df_final['CALC_PERC_CHILDREN']=df_final['CNT_CHILDREN']/df_final['CNT_FAM_MEMBERS']
df_final['CALC_RATIO_CAR_TO_BRITH']=df_final['OWN_CAR_AGE'] / df_final['DAYS_BIRTH']
df_final['CALC_RATIO_CAR_TO_EMPLOY'] = df_final['OWN_CAR_AGE'] / df_final['DAYS_EMPLOYED']
df_final['CALC_INCOME_PER_CHILD'] = df_final['AMT_INCOME_TOTAL'] / (1 + df_final['CNT_CHILDREN'])
df_final['CALC_INCOME_PER_PERSON'] = df_final['AMT_INCOME_TOTAL'] / df_final['CNT_FAM_MEMBERS']
df_final['CALC_RATIO_PHONE_TO_BIRTH'] = df_final['DAYS_LAST_PHONE_CHANGE'] / df_final['DAYS_BIRTH']
df_final['CALC_RATIO_PHONE_TO_EMPLOY'] = df_final['DAYS_LAST_PHONE_CHANGE'] / df_final['DAYS_EMPLOYED']

# Modeling & Evaluation

# Deployment & Reporting